.news-item {

	&__date {
		color: #999999;
		font-size: 14px;
		.regular();
		margin-bottom: 15px;
	}
	&__title-wrap {
		margin-bottom: 24px;
	}
	&__title {
		color: @grey-color;
		font-size: 18px;
		.bold();
		line-height: 1;
		letter-spacing: 0.6px;
		text-decoration: none;
		transition: color .3s ease;
		&:hover {
			color: @orange-color;
		}
	}

	&__desc-wrap {
		margin-bottom: 12px;
	}
	&__desc {
		color: #495057;
		font-size: 16px;
		.regular();
		line-height: 1.56;
		text-decoration: none;
	}
	&__link-wrap {

	}
	&__link {
		color: @orange-color;
		.bold();
		font-size: 16px;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (min-width: 500px) {
	.news-item {

		&__item-date {
			font-size: 18px;
		}
		&__item-title {
			font-size: 24px;
		}
		&__item-desc {
			font-size: 18px;
		}
		&__item-link {
			font-size: 18px;
		}
	}
}