.news {
	margin-bottom: 70px;
	&__container {

	}
	&__title {
		margin-bottom: 40px;
	}
	&__list {
		max-width: 1045px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 50px;
		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: url(../img/news_top_bg.svg) no-repeat 0 0;
			background-size: 1045px 4px;
			width: 100%;
			height: 4px;
			transform: rotate(180deg);
		}
		&:before {
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 4px;
			height: 10px;
			background: @orange-color;
		}
	}
	&__item-wrap {
		display: block;
		text-decoration: none;
		padding-top: 15px;
		margin-bottom: 15px;
		padding-left: 10px;
		padding-right: 10px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: url(../img/news_top_bg.svg) no-repeat 0 0;
			background-size: 1045px 4px;
			width: 100%;
			height: 4px;
		}
		&:first-child {
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 4px;
				height: 10px;
				background: @orange-color;
			}
		}
		&:nth-child(2n) {
			&:before {
				transform: rotate(180deg);
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}


	&__btn-wrap {
		display: flex;
		align-items: center;
		justify-content: center;
		.btn {
			width: 100%;
			height: 50px;
			font-size: 14px;
		}
	}
}

@media screen and (min-width: 500px) {
	.news {

		&__list {
			padding-bottom: 48px;
		}
		&__item-wrap {
			padding-top: 43px;
			margin-bottom: 48px;
			padding-left: 39px;
			padding-right: 63px;
		}

		&__btn-wrap {
			display: flex;
			align-items: center;
			justify-content: center;
			.btn {
				width: auto;
				padding: 0 82px;
			}
		}
	}
}