.news-detail {
	margin-bottom: 65px;

	&__container {

	}
	&__title {
		margin-bottom: 40px;
	}
	&__content {
		max-width: 960px;
		margin-left: auto;
		margin-right: auto;
	}
	&__content-title {
		color: @grey-color;
		font-size: 22px;
		line-height: 1.2;
		letter-spacing: 0.75px;
		.bold();
		margin-bottom: 18px;
	}
	&__content-date {
		color: #999999;
		font-size: 18px;
		.regular();
		margin-bottom: 44px;
	}
	&__text-wrap {
		margin-bottom: 45px;
	}

	&__bottom {
		border-top: 1px solid #ededed;
		padding-top: 26px;
		display: flex;
		flex-direction: column-reverse;
	}

	&__return-link {
		color: @orange-color-hover;
		text-decoration: none;
		font-size: 18px;
		.medium();
		&:hover {
			text-decoration: underline;
		}
	}

	&__share {
		margin-bottom: 20px;
	}
	&__share-text {
		color: #495057;
		font-size: 18px;
		.light();
		margin-bottom: 10px;
	}
	&__share-list {
		display: flex;
		align-items: center;
	}
	&__share-item {
		width: 42px;
		height: 42px;
		border: 2px solid #495057;
		border-radius: 50%;
		text-decoration: none;
		margin-right: 10px;
		position: relative;
		.std-transition();

		&:last-child {
			margin-right: 0;
		}
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
		}
		&_fb {
			&:hover {
				&:after {
					.svg-icon-param(icon_fb, 10px, 18px, "[fill]: #f07f3c");
				}
			}
			&:after {
				.svg-icon(icon_fb, 10px, 18px);
				margin-top: -9px;
				margin-left: -5px;
				transition: background .3s ease;
			}
		}
		&_twit {
			&:hover {
				&:after {
					.svg-icon-param(icon_twit, 18px, 14px, "[fill]: #f07f3c");
				}
			}
			&:after {
				.svg-icon(icon_twit, 18px, 14px);
				margin-top: -7px;
				margin-left: -9px;
				transition: background .3s ease;
			}
		}
		&_instagram {
			&:hover {
				&:after {
					.svg-icon-param(icon_instagram, 20px, 20px, "[fill]: #f07f3c");
				}
			}
			&:after {
				.svg-icon(icon_instagram, 20px, 20px);
				margin-top: -10px;
				margin-left: -10px;
				transition: background .3s ease;
			}
		}
		&_vk {
			&:hover {
				&:after {
					.svg-icon-param(icon_vk, 20px, 11px, "[fill]: #f07f3c");
				}
			}
			&:after {
				.svg-icon(icon_vk, 20px, 11px);
				margin-top: -5px;
				margin-left: -10px;
				transition: background .3s ease;
			}
		}

		&:hover {
			border-color: @orange-color;
		}
	}
}

@media screen and (min-width: 768px) {
	.news-detail {

		&__title {
			margin-bottom: 59px;
		}
		&__content-title {
			font-size: 30px;
		}
		&__bottom {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
		&__share {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-bottom: 0;
		}
		&__share-text {
			margin-bottom: 0;
			margin-right: 20px;
		}
	}
}