{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% set headerModifyerClass = 'main' %}

{% block content %}
	{#COOKIE-DIALOG#}
	<div id="cookie_dialog" class="alert-dialog">
		<div class="alert-dialog__border">
			<div class="alert-dialog__border-right"></div>
			<div class="alert-dialog__border-bottom"></div>
		</div>
		<div class="alert-dialog__inner">
			<div class="alert-dialog__descr">
				Чтобы улучшить качество оказываемых услуг, ООО &laquo;Бест-Новострой&raquo; использует файлы cookie и&nbsp;другие аналогичные технологии. Продолжая пользоваться сайтом, Вы&nbsp;подтверждаете согласие с&nbsp;этим. <a href="#" class="alert-dialog__link">Политика конфиденциальности</a>
			</div>
			<a href="#" id="cookie_dialog_btn" class="btn">Ok</a>
		</div>
	</div>
	{#/COOKIE-DIALOG#}

	{#TOP IMAGE BLOCK#}
	<div class="top-image-block">

		<div class="top-image-block__bg-inner">
			<picture class="top-image-block__bg">
				<source media="(max-width: 375px)" srcset="img/banner_image_mobile.jpg">
				<source media="(min-width: 376px)" srcset="img/banner_image_desktop.jpg">
				<img src="img/banner_image_desktop.jpg" class="top-image-block__bg-picture">
			</picture>
		</div>

		<div class="top-image-block__container container">
			<div class="top-image-block__title-wrap">
				<div class="top-image-block__sub-title">
					Квартиры
					<br>
					от застройщика
				</div>
				<div class="top-image-block__title">
					СТАРТ
					<br>
					ПРОДАЖ
				</div>
				<div class="top-image-block__btn-wrap">
					<a href="#" class="btn">
						<i class="btn__icon"></i>
						<span class="btn__text">выбрать квартиру</span>
					</a>
				</div>
			</div>
		</div>

		<div class="top-image-block__features">
			<a href="#" class="top-image-block__features-item top-image-block__features-item_family">
				<i class="top-image-block__features-item-icon"></i>
				<div class="top-image-block__features-item-text-wrap">
					<h3 class="top-image-block__features-item-title">Скидки молодым семьям</h3>
					<p class="top-image-block__features-item-text">на покупку квартир</p>
				</div>
				<div class="top-image-block__features-item-bg"></div>
			</a>

			<a href="#" class="top-image-block__features-item top-image-block__features-item_mortgage">
				<i class="top-image-block__features-item-icon"></i>
				<div class="top-image-block__features-item-text-wrap">
					<h3 class="top-image-block__features-item-title">Ипотека 5,3%</h3>
					<p class="top-image-block__features-item-text">Выгодные условия покупки</p>
				</div>
				<div class="top-image-block__features-item-bg"></div>
			</a>

			<a href="#" class="top-image-block__features-item top-image-block__features-item_action">
				<i class="top-image-block__features-item-icon"></i>
				<div class="top-image-block__features-item-text-wrap">
					<h3 class="top-image-block__features-item-title">ЛЕТНИЙ ОБВАЛ ЦЕН</h3>
					<p class="top-image-block__features-item-text">Успейте обновить жильё</p>
				</div>
				<div class="top-image-block__features-item-bg"></div>
			</a>
		</div>
	</div>
	{#/TOP IMAGE BLOCK#}

	{#INFRASTRUCTURE INFO#}
	<div class="service-info">
		<div class="service-info__container container">
			<div class="service-info__title">
				<span class="service-info__title-part service-info__title-part_strong">И</span>
				<span class="service-info__title-part">нфраструктура</span>
			</div>

			<div class="service-info__content">
				<div class="service-info__text">
					Жилой комплекс «Карамельный» расположен в экологичном районе с собственной инфраструктурой, подземной парковкой и удобной транспортной доступностью. Квартиры передаются собственникам
					с предчистовой отделкой, с застеклёнными балконами, двухкамерными стеклопакетами в окнах, входными дверями, счётчиками холодной и горячей воды, радиаторами отопления и другими опциями.
				</div>

				<div class="service-info__fact">
					<div class="service-info__fact-top">
						<span class="service-info__fact-count">10</span>
						<div class="service-info__fact-top-wrap">
							<div class="service-info__fact-top-text">
								<p class="service-info__fact-top-text-line">минут</p>
								<p class="service-info__fact-top-text-line">до метро</p>
							</div>
							<p class="service-info__fact-bottom-text service-info__fact-bottom-text_responsive">«Котельники»</p>
						</div>
					</div>
					<p class="service-info__fact-bottom-text">«Котельники»</p>
				</div>
			</div>
		</div>
	</div>
	{#/INFRASTRUCTURE INFO#}

	{#FEATURES#}
	<div class="features wide-container">
		{% for feature in features %}
			<a href="#" class="features__item">
				<p class="features__item-text">
					{{ feature.title }}
				</p>

				<div class="features__item-bg-wrap">
					<picture data-src="{{ feature.img }}" class="features__item-bg lazy-picture">
						<data-src srcset="{{ feature.img }}" media="(min-width: 1000px)" type="image/jpeg"></data-src>
						<data-src srcset="{{ feature.img }}" media="(min-width: 768px)" type="image/jpeg"></data-src>
						<data-img src="{{ feature.img }}" alt="" class="features__item-bg-img"></data-img>
					</picture>
				</div>
			</a>
		{% endfor %}
	</div>
	{#/FEATURES#}

	{#CUSTIMESR PATH - VIDEO BLOCK#}
	<div class="video-block video-block_main-page">
		<div class="video-block__inner">
			<div class="video-block__holder">
				{#SLIDER#}
				<div class="video-block__slider swiper-container" data-speed="3000" id="video-block-slider">
					<div class="swiper-wrapper">
						{% for video in videos %}
							<div class="swiper-slide">
								<div class="video-block__item">
									<video class="video-block__item-content"
										   loop="loop"
										   muted="muted"
										   autoplay="autoplay"
									>
										<source  src="{{ video }}" type="video/mp4">
									</video>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				{#/SLIDER#}
			</div>
		</div>

		<div class="video-block__content">
			<div class="video-block__container container">
				<div class="video-block__title-wrap">
					<div class="video-block__title">{{ videoBlockMainPage.title }}</div>
					<div class="video-block__sub-title">{{ videoBlockMainPage.subTitle }}</div>
				</div>
				<div class="video-block__pagination">
					{#PAGINATION - PATH#}
					<div class="video-pagination">
						<div class="video-pagination__inner">
							{% for item in videoPaginationMainPage %}
								<div class="video-pagination__item js-video-path-item">
									<div class="video-pagination__item-inner">
										<span class="video-pagination__item-line video-pagination__item-line_left"></span>
										<div class="video-pagination__item-play">
											<svg class="v-progress" width="57" height="57" version="1.1" viewBox="0 0 15.081 15.081" xmlns="http://www.w3.org/2000/svg"><g transform="translate(262.95 -178.18)"><rect class="v-progress__line" x="-262.81" y="178.32" width="14.805" height="14.805" rx="7.5406" ry="7.5406" fill="none" stroke="#ff8026" stroke-linecap="round" stroke-linejoin="round"  stroke-dasharray="47,47" stroke-dashoffset="0" stroke-miterlimit="50" stroke-width=".26458"/></g></svg>
										</div>
										<span class="video-pagination__item-line video-pagination__item-line_right"></span>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					{#/PAGINATION - PATH#}
				</div>
			</div>
		</div>
	</div>
	{#CUSTIMESR PATH - VIDEO BLOCK#}

{% endblock %}