{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">О проекте</a>
				<a class="breadcrumbs__item">Документы</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#DOCUMENTS#}
	<div class="docs">
		<div class="docs__container container">
			{#TOP#}
			<div class="docs__top">
				{#STANDART TITLE#}
				<div class="std-title docs__title">Документы</div>
				{#/STANDART TITLE#}

				<div class="docs__desc">
					ООО «Ареал» (ИНН 5027241980; КПП: 502701001) в соответствии 214 Федеральному закону «Об участии в долевом строительстве».
				</div>
			</div>
			{#/TOP#}

			{#MAIN#}
			<div class="docs__main">
				{#ACCORDION#}
				<div class="accordion">
					<div class="accordion__item">
						<a href="#" class="accordion__item-title-wrap accordion__item-title-wrap_open js-accordion-title">
							<div class="accordion__item-title">Заключение о соответствии застройщика и проектной декларации</div>
							<i class="accordion__item-icon"></i>
						</a>
						<div class="accordion__item-content">
							<div class="accordion__item-content-inner">
								<a href="#" target="_blank" class="docs__item">
									<i class="docs__item-icon">
										<span class="docs__item-format">PDF</span>
									</i>

									<div class="docs__item-desc">
										<div class="docs__item-title">Заключение о соответствии застройщика и проектной декларации от 12.07.2018</div>
										<div class="docs__item-info">
											<div class="docs__item-size">PDF, 215 Кб</div>
											<div class="docs__item-date">24.06.2018</div>
											<div class="docs__item-person">Акопенко В.П.</div>
										</div>
									</div>
								</a>

								<a href="#" target="_blank" class="docs__item">
									<i class="docs__item-icon">
										<span class="docs__item-format">DOC</span>
									</i>

									<div class="docs__item-desc">
										<div class="docs__item-title">Разрешение на строительство  от 12.07.2018</div>
										<div class="docs__item-info">
											<div class="docs__item-size">DOC, 104 Кб</div>
											<div class="docs__item-date">14.07.2018</div>
											<div class="docs__item-person">Иванов И.П.</div>
										</div>
									</div>
								</a>

								<a href="#" target="_blank" class="docs__item">
									<i class="docs__item-icon">
										<span class="docs__item-format">PDF</span>
									</i>

									<div class="docs__item-desc">
										<div class="docs__item-title">Заключение о соответствии застройщика от 15.07.2018</div>
										<div class="docs__item-info">
											<div class="docs__item-size">PDF, 1284 Кб</div>
											<div class="docs__item-date">19.07.2018</div>
											<div class="docs__item-person">Иванов И.П.</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div class="accordion__item">
						<a href="#" class="accordion__item-title-wrap js-accordion-title">
							<div class="accordion__item-title">Проектная декларация</div>
							<i class="accordion__item-icon"></i>
						</a>
						<div class="accordion__item-content" style="display:none;">
							<div class="accordion__item-content-inner">
								<a href="#" target="_blank" class="docs__item">
									<i class="docs__item-icon">
										<span class="docs__item-format">PDF</span>
									</i>

									<div class="docs__item-desc">
										<div class="docs__item-title">Заключение о соответствии застройщика и проектной декларации от 12.07.2018</div>
										<div class="docs__item-info">
											<div class="docs__item-size">PDF, 215 Кб</div>
											<div class="docs__item-date">24.06.2018</div>
											<div class="docs__item-person">Акопенко В.П.</div>
										</div>
									</div>
								</a>

								<a href="#" target="_blank" class="docs__item">
									<i class="docs__item-icon">
										<span class="docs__item-format">DOC</span>
									</i>

									<div class="docs__item-desc">
										<div class="docs__item-title">Разрешение на строительство  от 12.07.2018</div>
										<div class="docs__item-info">
											<div class="docs__item-size">DOC, 104 Кб</div>
											<div class="docs__item-date">14.07.2018</div>
											<div class="docs__item-person">Иванов И.П.</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div class="accordion__item">
						<a href="#" class="accordion__item-title-wrap js-accordion-title">
							<div class="accordion__item-title">Разрешение на строительство</div>
							<i class="accordion__item-icon"></i>
						</a>
						<div class="accordion__item-content" style="display:none;">
							<div class="accordion__item-content-inner">
								<a href="#" target="_blank" class="docs__item">
									<i class="docs__item-icon">
										<span class="docs__item-format">PDF</span>
									</i>

									<div class="docs__item-desc">
										<div class="docs__item-title">Заключение о соответствии застройщика и проектной декларации от 12.07.2018</div>
										<div class="docs__item-info">
											<div class="docs__item-size">PDF, 215 Кб</div>
											<div class="docs__item-date">24.06.2018</div>
											<div class="docs__item-person">Акопенко В.П.</div>
										</div>
									</div>
								</a>

								<a href="#" target="_blank" class="docs__item">
									<i class="docs__item-icon">
										<span class="docs__item-format">DOC</span>
									</i>

									<div class="docs__item-desc">
										<div class="docs__item-title">Разрешение на строительство  от 12.07.2018</div>
										<div class="docs__item-info">
											<div class="docs__item-size">DOC, 104 Кб</div>
											<div class="docs__item-date">14.07.2018</div>
											<div class="docs__item-person">Иванов И.П.</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>

					<div class="accordion__item">
						<a href="#" class="accordion__item-title-wrap js-accordion-title">
							<div class="accordion__item-title">Заключение экспертизы</div>
							<i class="accordion__item-icon"></i>
						</a>
						<div class="accordion__item-content" style="display:none;">
							<div class="accordion__item-content-inner">
								<a href="#" target="_blank" class="docs__item">
									<i class="docs__item-icon">
										<span class="docs__item-format">PDF</span>
									</i>

									<div class="docs__item-desc">
										<div class="docs__item-title">Заключение о соответствии застройщика и проектной декларации от 12.07.2018</div>
										<div class="docs__item-info">
											<div class="docs__item-size">PDF, 215 Кб</div>
											<div class="docs__item-date">24.06.2018</div>
											<div class="docs__item-person">Акопенко В.П.</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				{#/ACCORDION#}
			</div>
			{#/MAIN#}
		</div>

	</div>
	{#/DOCUMENTS#}
{% endblock %}