{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% set headerModifyerClass = 'main' %}

{% block content %}
	{#MAP#}
	<div class="map-block">
		{#TOP#}
		<div class="map-block__top">
			{#BREADCRUMBS#}
			<div class="map-block__breadcrumbs breadcrumbs">
				<div class="breadcrumbs__list">
					<a href="#" class="breadcrumbs__item">Главная</a>
					<a class="breadcrumbs__item">Инфраструктура</a>
				</div>
			</div>
			{#/BREADCRUMBS#}

			{#STANDART TITLE#}
			<div class="std-title map-block__title">Инфраструктура</div>
			{#/STANDART TITLE#}
		</div>
		{#/TOP#}

		{#MAP ITSELF#}
		<div class="map-block__map-wrap">
			<div class="map-block__map">
				<div class="map-block__map-itself"
				     id="map-on-page"
				     data-json="data/map-places.json"
				>
				</div>
			</div>
		</div>
		{#/MAP ITSELF#}

		<div class="map-block__info-wrap container">
			<div class="map-block__info">
				{#BREADCRUMBS#}
				<div class="map-block__breadcrumbs breadcrumbs">
					<div class="breadcrumbs__list">
						<a href="#" class="breadcrumbs__item">Главная</a>
						<a class="breadcrumbs__item">Инфраструктура</a>
					</div>
				</div>
				{#/BREADCRUMBS#}

				{#STANDART TITLE#}
				<div class="std-title map-block__title">Инфраструктура</div>
				{#/STANDART TITLE#}

				{#MAP-NAV#}
				<nav id="map_nav" class="map-nav">
					<ul class="map-nav__list">
						{% for item in mapNav %}
							<li class="map-nav__item">
								<label class="map-nav__label">
									<input
											type="checkbox"
											class="map-nav__input"
											{% if item.checked %}checked{% endif %}
											data-type="{{ item.type }}">
									<div class="map-nav__item-description">
										<div class="map-nav__icon-wrap">
											<i class="icon {{ item.iconName }}"></i>
										</div>
										<div class="map-nav__item-name">{{ item.name }}</div>
										<div class="map-nav__item-count">{{ item.count }}</div>
									</div>
								</label>
							</li>
						{% endfor %}
					</ul>
				</nav>
				{#/MAP-NAV#}
			</div>
			{#RIGHT-MENU#}
			<div class="map-block__right-menu right-menu">
				<a href="#" class="right-menu__link">
					<span class="right-menu__icon-wrap">
						<i class="icon icon-building"></i>
					</span>
					<span class="right-menu__name">Выбор квартиры</span>
				</a>
				<a href="#" class="right-menu__link">
					<span class="right-menu__icon-wrap">
						<i class="icon icon-book"></i>
					</span>
					<span class="right-menu__name">Контакты</span>
				</a>
			</div>
			{#/RIGHT-MENU#}
		</div>
	</div>
	{#/MAP#}

	{#INFRASTRACTURE TEXT#}
	<div class="inf-text container">
		<div class="inf-text__text">
			<div class="info-box">
				<p>Жилой комплекс "Карамельный" расположен в экологичном районе с собственной инфраструктурой и подземной парковкой с хорошей транспортной доступностью.</p>
			</div>
		</div>

		<div class="inf-text__title-wrap">
			<div class="std-title inf-text__title">
				<span class="std-title__letter">К</span>
				<span class="std-title__main">ак добраться</span>
			</div>
		</div>

		<div class="inf-text__text">
			<div class="info-box">
				<p>ЖК "Карамельный" находиться на Хлебозаводской улице в 10 минутах от Новоорязовского шоссе. Это удобное транспортное сообщение с Москвой. До шоссе метро  «ВДНХ» можно доехать на маршрутке или автобусе 392 примерно за 10 минут (все зависит от загруженности дороги).</p>
				<p>Также от Ярославского вокзала курсируют эликтрички и скорый электропоезд  «Спутник», на нем можно доехать за 20 минут.</p>
			</div>
		</div>
	</div>
	{#/INFRASTRACTURE TEXT#}
{% endblock %}

{% block userscripts %}
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSlmb0kjYItIMJ-TUO4oagK1GySSLvSFI&libraries=places&callback=initMap"
		async defer></script>

	<script>
		var markers = [];
		var mapBlock = document.getElementById('map-on-page');

		//Map Init
		function initMap() {
			var myLatlng = new google.maps.LatLng(55.68334107, 37.88691168);
			var mapOptions = {
				zoom: 16,
				center: myLatlng,
				fullscreenControl: false,
				streetViewControl: false,
				mapTypeControl: false,
				styles: [
					{
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#f5f5f5" // цвет земли
							}
						]
					},
					{
						"elementType": "labels.icon",
						"stylers": [
							{
								"visibility": "off"
							}
						]
					},
					{
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#999999" // крупные названия
							}
						]
					},
					{
						"elementType": "labels.text.stroke",
						"stylers": [
							{
								"color": "#f5f5f5" // обводка названий
							}
						]
					},
					{
						"featureType": "administrative.land_parcel",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#bdbdbd"
							}
						]
					},
					{
						"featureType": "poi",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#eeeeee"
							}
						]
					},
					{
						"featureType": "poi",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#999999"
							}
						]
					},
					{
						"featureType": "poi.park",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#e5e5e5"
							}
						]
					},
					{
						"featureType": "poi.park",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#999999"
							}
						]
					},
					{
						"featureType": "road",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#ffffff"
							}
						]
					},
					{
						"featureType": "road.arterial",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#999999"
							}
						]
					},
					{
						"featureType": "road.highway",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#ffffff"
							}
						]
					},
					{
						"featureType": "road.highway",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#999999"
							}
						]
					},
					{
						"featureType": "road.local",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#999999"
							}
						]
					},
					{
						"featureType": "transit.line",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#e5e5e5"
							}
						]
					},
					{
						"featureType": "transit.station",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#eeeeee"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#c9c9c9"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#999999"
							}
						]
					}
				]
			};

			var map = new google.maps.Map(document.getElementById('map-on-page'), mapOptions);

			function CustomMarker(lat, lng, map, args, icon) {
				this.latlng = new google.maps.LatLng(lat, lng);
				this.args = args;
				this.setMap(map);
				this.image = icon;
			}

			CustomMarker.prototype = new google.maps.OverlayView();

			CustomMarker.prototype.draw = function () {
				var self = this;
				var div = this.div;
				var img = document.createElement('img');
				var tooltip = document.createElement('div');
				tooltip.className = 'map-marker__tooltip';
				var tooltip_name = document.createElement('div');
				tooltip_name.className = 'map-marker__name';
				tooltip_name.innerHTML = this.args.name;
				var tooltip_descr = document.createElement('div');
				tooltip_descr.className = 'map-marker__descr';
				tooltip_descr.innerHTML = this.args.description;
				tooltip.appendChild(tooltip_name);
				tooltip.appendChild(tooltip_descr);
				var title = document.createElement('div');
				title.className = 'map-marker__title';
				title.innerHTML = this.args.name;

				if (!div) {
					div = this.div = document.createElement('div');
					div.className = 'map-marker';
					div.style.position = 'absolute';
					div.style.cursor = 'pointer';
					div.style.width = '50px';
					div.style.height = '60px';
					img.src = this.image;
					img.style.width = '100%';
					img.style.height = '100%';
					img.style.position = 'absolute';
					div.appendChild(img);

					if (self.args.type === 'static') {
						div.className = 'map-marker map-marker_resident';
						div.appendChild(title);
					} else {
						div.appendChild(tooltip);
					}

					mapCheckbox.forEach(function (el) {
						var isChecked = el.checked;
						var type = el.dataset.type;

						if (!isChecked) {
							if (self.args.type === type) {
								hideCategory(self);
							}
						}
					});

					google.maps.event.addDomListener(div, "click", function (event) {
						google.maps.event.trigger(self, "click");
						// console.log(self.args);
					});

					google.maps.event.addDomListener(div, "mouseenter", function (event) {
						google.maps.event.trigger(self, "mouseenter");
						self.div.classList.add('map-marker_hover');
					});

					google.maps.event.addDomListener(div, "mouseleave", function (event) {
						google.maps.event.trigger(self, "mouseleave");
						self.div.classList.remove('map-marker_hover');
					});

					var panes = this.getPanes();
					panes.overlayImage.appendChild(div);
				}

				var point = this.getProjection().fromLatLngToDivPixel(this.latlng);

				if (point) {
					div.style.left = (point.x - 25) + 'px';
					div.style.top = (point.y - 60) + 'px';
				}
			};

			CustomMarker.prototype.remove = function (e) {
				if (e.div) {
					e.div.parentNode.removeChild(e.div);
					e.div = null;
				}
			};

			CustomMarker.prototype.getPosition = function () {
				return this.latlng;
			};

			var dataJSON = mapBlock.dataset.json;

			$.getJSON(dataJSON).then(function (result) {
				if (result) {
					for (var i = 0; i < result.length; i++) {
						var item = result[i],
							points = result[i].points,
							type = item.type,
							icon = item.icon,
							lat,
							lng,
							name,
							description;

						for (var point in points) {
							var coords = points[point].coords;
							lat = coords[0];
							lng = coords[1];
							name = points[point].name;
							description = points[point].description;

							markers.push(new CustomMarker(
								lat,
								lng,
								map,
								{
									type: type,
									name: name,
									description: description
								},
								icon
							));
						}
					}
				}
			});
		}

		function hideCategory(e) {
			if (e.div) {
				e.div.style.visibility = 'hidden';
			}
		}

		function markersLoop(array, type, show, hide) {
			for (var i = 0; i < array.length; i++) {
				if (array[i].args.type === type) {
					if (show) {
						showCategory(array[i]);
					}
					if (hide) {
						hideCategory(array[i]);
					}
				}
			}
		}

		function showCategory(e) {
			if (e.div) {
				e.div.style.visibility = 'visible';
			}
		}

		var mapNav = document.getElementById("map_nav");
		var mapCheckbox = mapNav.querySelectorAll("input[type='checkbox']");

		mapCheckbox.forEach(function (el) {
			el.addEventListener('change', function (event) {
				var input = event.target;
				var isChecked = input.checked;
				var type = input.dataset.type;

				if (isChecked) {
					markersLoop(markers, type, showCategory, null);
				} else {
					markersLoop(markers, type, null, hideCategory);
				}
			});
		});
	</script>
{% endblock %}