{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a class="breadcrumbs__item">О проекте</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#PAGE-TEXT-BLOCK#}
	<div class="page-text-block">
		<div class="page-text-block__container container">
			<div class="page-text-block__title">О проекте</div>
			<div class="page-text-block__content info-box">
				<p>Здание ЖК «Карамельный» спроектировано в ультрасовременном стиле ведущим архитектурным бюро ТПО
					«Резерв». Дом образован тремя монолитными секциями переменной этажности высотой от 12 до 25 этажей.
					Вентилируемые фасады отделаны клинкерной плиткой в теплых цветах песочных и карамельных оттенков, в
					отделке холлов и входных групп применены строительные материалы превосходного качества.</p>
				<p>В квартирографии комплекса 599 квартир от 1 до 4-х комнат, с интересными и нетиповыми планировками.
					Внутри - просторные комнаты и широкие коридоры, специальные ниши для блоков систем вентиляции,
					лоджии с панорамным остеклением. Все квартиры сдаются в предчистовой отделке white box, дающей
					возможность быстро и качественно провести финишную отделку помещений.</p>
				<p>Удобные планировки, созданные с мыслями о Вашем комфорте. Квартиры сдаются с отделкой White Box, а
					также с полной чистовой отделкой.</p>
			</div>
		</div>
	</div>
	{#/PAGE-TEXT-BLOCK#}

	{#ABOUT-FEATURES#}
	<div class="about-features wide-container">
		<div class="about-features__inner">
			{% for item in aboutProject %}
				<div class="about-features__item about-feature">
					<div class="about-feature__bg">
						<picture data-src="{{ item.image }}" class="about-feature__img-wrap lazy-picture">
							<data-src srcset="{{ item.image }}" media="(min-width: 1000px)"
									  type="image/jpeg"></data-src>
							<data-src srcset="{{ item.image }}" media="(min-width: 768px)" type="image/jpeg"></data-src>
							<data-img src="{{ item.image }}" alt="" class="about-feature__img"></data-img>
						</picture>
					</div>
					<div class="about-feature__content">
						<div class="about-feature__title">{{ item.title }}</div>
						<div class="about-feature__descr">{{ item.description }}</div>
						<div class="about-feature__info">{{ item.features }}</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{#/ABOUT-FEATURES#}

	{#CUSTIMESR PATH - VIDEO BLOCK#}
	<div class="video-block">
		<div class="video-block__inner">
			<div class="video-block__holder">
				{#SLIDER#}
				<div class="video-block__slider swiper-container" data-speed="3000" id="video-block-slider">
					<div class="swiper-wrapper">
						{% for video in videos %}
							<div class="swiper-slide">
								<div class="video-block__item">
									<video class="video-block__item-content"
										   loop="loop"
										   muted="muted"
										   autoplay="autoplay"
									>
										<source  src="{{ video }}" type="video/mp4">
									</video>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				{#/SLIDER#}
			</div>
		</div>

		<div class="video-block__content">
			<div class="video-block__container container">
				<div class="video-block__title-wrap">
					<div class="video-block__title">{{ videoBlock.title }}</div>
				</div>
				<div class="video-block__pagination">
					{#PAGINATION - PATH#}
					<div class="video-pagination">
						<div class="video-pagination__inner">
							{% for item in videoPagination %}
								<div class="video-pagination__item js-video-path-item">
									<div class="video-pagination__item-inner">
										<span class="video-pagination__item-line video-pagination__item-line_left"></span>
										<div class="video-pagination__item-play">
											<svg class="v-progress" width="57" height="57" version="1.1" viewBox="0 0 15.081 15.081" xmlns="http://www.w3.org/2000/svg"><g transform="translate(262.95 -178.18)"><rect class="v-progress__line" x="-262.81" y="178.32" width="14.805" height="14.805" rx="7.5406" ry="7.5406" fill="none" stroke="#ff8026" stroke-linecap="round" stroke-linejoin="round"  stroke-dasharray="47,47" stroke-dashoffset="0" stroke-miterlimit="50" stroke-width=".26458"/></g></svg>
										</div>
										<span class="video-pagination__item-line video-pagination__item-line_right"></span>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					{#/PAGINATION - PATH#}
				</div>
			</div>
		</div>
	</div>
	{#CUSTIMESR PATH - VIDEO BLOCK#}
{% endblock %}