{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a class="breadcrumbs__item">Новости</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#DOCUMENTS#}
	<div class="news-detail">
		<div class="news-detail__container container">
			{#STANDART TITLE#}
			<div class="std-title news-detail__title">Новости</div>
			{#/STANDART TITLE#}


			{#NEWS DETAIL CONTENT#}
			<div class="news-detail__content">
				<div class="news-detail__content-title">ЖК «Карамельный» завершает строительство</div>
				<div class="news-detail__content-date">21.12.2017</div>

				<div class="news-detail__text-wrap">
					<div class="info-box">
						<p>Жители ЖК «Карамельный» 20 августа, в воскресенье, прямо во дворе обменивались друг с другом цветами, делились секретами правильного ухода за ними, а также учились у профессиональных флористов. Жители ЖК«Карамельный» 20 августа,
							<a href="#">в воскресенье</a>, прямо во дворе обменивались друг с другом цветами, делились секретами правильного ухода за ними, а также учились у профессиональных флористов.</p>

						<p>Прямо во дворе обменивались друг с другом цветами, делились секретами правильного ухода за ними, а <b>также учились у профессиональных флористов</b>. Жители ЖК «Карамельный» 20 августа, в воскресенье, обменивались друг с другом цветами, делились секретами правильного ухода за ними.</p>
						<blockquote>20 августа, в воскресенье, прямо во дворе обменивались друг с другом цветами, делились секретами правильного ухода за ними, а также учились у профессиональных флористов.</blockquote>

						<p>20 августа, в воскресенье, прямо во дворе обменивались друг с другом цветами, делились секретами правильного ухода за ними, а также учились у профессиональных флористов.</p>

						<p>гом ивались друг с другом цветами, делились секретами правильного ухода за ними, а также учились у профессиональных флористов. Жители ЖК «Карамельный» 20 августа, в воскресенье, обменивались друг с другом цветами, делились секретами правильного ухода за ними.</p>

						<p>Квартиры передаются собственникам:</p>
						<ul>
							<li>Предчистовой отделкой</li>
							<li>Застеклёнными балконами</li>
							<li>Двухкамерными стеклопакетами в окнах</li>
						</ul>

						<p>Квартиры передаются собственникам:</p>
						<ol>
							<li>Предчистовой отделкой</li>
							<li>Застеклёнными балконами</li>
							<li>Двухкамерными стеклопакетами в окнах</li>
						</ol>
					</div>
				</div>

				<div class="news-detail__bottom">
					<a href="#" class="news-detail__return-link">Вернуться к списку</a>

					<div class="news-detail__share">
						<p class="news-detail__share-text">Поделиться</p>

						<div class="news-detail__share-list">
							<a href="#" class="news-detail__share-item news-detail__share-item_fb"></a>
							<a href="#" class="news-detail__share-item news-detail__share-item_twit"></a>
							<a href="#" class="news-detail__share-item news-detail__share-item_instagram"></a>
							<a href="#" class="news-detail__share-item news-detail__share-item_vk"></a>
						</div>
					</div>
				</div>
			</div>
			{#/NEWS DETAIL CONTENT#}
		</div>

	</div>
	{#/DOCUMENTS#}
{% endblock %}