{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a class="breadcrumbs__item">Новости</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#DOCUMENTS#}
	<div class="news">
		<div class="news__container container">
			{#STANDART TITLE#}
			<div class="std-title news__title">Новости</div>
			{#/STANDART TITLE#}

			{#NEWS LIST#}
			<div class="news__list js-load-items" data-api="/ajax/news.html" data-pages="3">
				{% for item in news %}
					<div class="news__item-wrap js-load-item">
						<div class="news-item">
							<p class="news-item__date">{{ item.date }}</p>

							<div class="news-item__title-wrap">
								<a href="#" class="news-item__title">{{ item.title }}</a>
							</div>

							<div class="news-item__desc-wrap">
								<a href="#" class="news-item__desc js-news-item-desc">{{ item.desc }}</a>
							</div>

							<div class="news-item__link-wrap">
								<a href="#" class="news-item__link">Подробнее</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			{#/NEWS LIST#}

			<div class="news__btn-wrap">
				<a href="#" class="news__btn btn" id="show_more_items">загрузить еще</a>
			</div>
		</div>

	</div>
	{#/DOCUMENTS#}
{% endblock %}