{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Условия покупки</a>
				<a class="breadcrumbs__item">Акции</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#DOCUMENTS#}
	<div class="news">
		<div class="news__container container">
			{#STANDART TITLE#}
			<div class="std-title news__title">Акции</div>
			{#/STANDART TITLE#}

			{#NEWS LIST#}
			<div class="news__list js-load-items" data-api="/ajax/sales.html" data-pages="5">
				{% for item in actions %}
					<div class="news__item-wrap js-load-item">
						<div class="action">
							<div class="action__img-wrap">
								<img src="{{ item.img }}" alt="" class="action__img">
							</div>
							<div class="action__text-wrap">
								<p class="action__period">{{ item.time }}</p>
								<div class="action__title">{{ item.title }}</div>
								<div class="action__desc">{{ item.desc }}</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			{#/NEWS LIST#}

			<div class="news__btn-wrap">
				<a href="#" class="news__btn btn" id="show_more_items">загрузить еще</a>
			</div>
		</div>

	</div>
	{#/DOCUMENTS#}
{% endblock %}