{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a class="breadcrumbs__item">Условия покупки</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#CONDITIONS#}
	<div class="inner-page inner-page_conditions">
		<div class="inner-page__container container">
			<div class="inner-page__title">Условия покупки</div>
		</div>
		<div class="conditions-list wide-container">
			{% for condition in conditions %}
				{% if conditions[loop.index - 1].length == 3 %}
					<div class="conditions-list__row conditions-list__row_grid-3">
						{% for item in condition %}
							<div class="conditions-list__item condition-block">
								<div class="condition-block__bg">
									<picture data-src="{{ item.image }}" class="condition-block__img-wrap lazy-picture">
										<data-src srcset="{{ item.image }}" media="(min-width: 1000px)"
												  type="image/jpeg"></data-src>
										<data-src srcset="{{ item.image }}" media="(min-width: 768px)"
												  type="image/jpeg"></data-src>
										<data-img src="{{ item.image }}" alt="" class="condition-block__img"></data-img>
									</picture>
								</div>
								<div class="condition-block__content">
									<div class="condition-block__title">{{ item.title }}</div>
									<div class="condition-block__descr">{{ item.description }}</div>
									<a href="#" class="condition-block__btn btn btn_small">{{ item.button }}</a>
								</div>
							</div>
						{% endfor %}
					</div>
					{% elif conditions[loop.index - 1].length == 2 %}
					<div class="conditions-list__row conditions-list__row_grid-2">
						{% for item in condition %}
							<div class="conditions-list__item condition-block">
								<div class="condition-block__bg">
									<picture data-src="{{ item.image }}" class="condition-block__img-wrap lazy-picture">
										<data-src srcset="{{ item.image }}" media="(min-width: 1000px)"
												  type="image/jpeg"></data-src>
										<data-src srcset="{{ item.image }}" media="(min-width: 768px)"
												  type="image/jpeg"></data-src>
										<data-img src="{{ item.image }}" alt="" class="condition-block__img"></data-img>
									</picture>
								</div>
								<div class="condition-block__content">
									<div class="condition-block__title">{{ item.title }}</div>
									<div class="condition-block__descr">{{ item.description }}</div>
									<a href="#" class="condition-block__btn btn btn_small">{{ item.button }}</a>
								</div>
							</div>
						{% endfor %}
					</div>
				{% else %}
					<div class="conditions-list__row">
						{% for item in condition %}
							<div class="conditions-list__item condition-block">
								<div class="condition-block__bg">
									<picture data-src="{{ item.image }}" class="condition-block__img-wrap lazy-picture">
										<data-src srcset="{{ item.image }}" media="(min-width: 1000px)"
												  type="image/jpeg"></data-src>
										<data-src srcset="{{ item.image }}" media="(min-width: 768px)"
												  type="image/jpeg"></data-src>
										<data-img src="{{ item.image }}" alt="" class="condition-block__img"></data-img>
									</picture>
								</div>
								<div class="condition-block__content">
									<div class="condition-block__title">{{ item.title }}</div>
									<div class="condition-block__descr">{{ item.description }}</div>
									<a href="#" class="condition-block__btn btn btn_small">{{ item.button }}</a>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{#/CONDITIONS#}
{% endblock %}