{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% set headerModifyerClass = 'main' %}

{% block content %}
	{#CONTACTS#}
	<div class="contacts">
		<div class="contacts__container container">
			{#CARD#}
			<div class="contacts__card" id="map-card">
				{#BREADCRUMBS#}
				<div class="breadcrumbs contacts__breadcrumbs">
					<div class="breadcrumbs__list">
						<a href="#" class="breadcrumbs__item">Главная</a>
						<a class="breadcrumbs__item">Контакты</a>
					</div>
				</div>
				{#/BREADCRUMBS#}

				{#STANDART TITLE#}
				<div class="std-title contacts__title">Контакты</div>
				{#/STANDART TITLE#}

				<div class="contacts__card-main">
					<div class="contacts__card-tabs">
						<a href="#" class="contacts__card-tabs-item contacts__card-tabs-item_active js-contacts-card-tab" data-id="1">Офис продаж</a>
						<a href="#" class="contacts__card-tabs-item js-contacts-card-tab" data-id="2">Как добраться</a>
					</div>

					<div class="contacts__card-content-wrap">
						{#SALE OFFICE#}
						<div class="contacts__card-content contacts__card-content_active js-contacts-card-content"
							 id="contacts-card-content_1"
						>
							<ul class="contacts__card-list">
								<li class="contacts__card-item">
									<i class="contacts__card-item-icon contacts__card-item-icon_address"></i>
									<div class="contacts__card-item-text">Московская обл., Люберцы Лермонтовский проспект</div>
								</li>

								<li class="contacts__card-item">
									<i class="contacts__card-item-icon contacts__card-item-icon_phone"></i>
									<div class="contacts__card-item-text">
										<a href="tel:88006705699" class="contacts__card-phone">8 800 670 56 99</a>
									</div>
								</li>

								<li class="contacts__card-item">
									<i class="contacts__card-item-icon contacts__card-item-icon_mail"></i>
									<div class="contacts__card-item-text">
										<a href="mailto:karamekl@mail.ru" class="contacts__card-mail">karamekl@mail.ru</a>
									</div>
								</li>

								<li class="contacts__card-item">
									<i class="contacts__card-item-icon contacts__card-item-icon_time"></i>
									<div class="contacts__card-item-text">
										Понедельник - Пятница: 09:00 - 20:00
										<br>
										Суббота: 09:00 - 18:00
										<br>
										Воскресенье: выходной
									</div>
								</li>
							</ul>
							<div class="contacts__card-link-wrap">
								<a href="#popup_message" class="contacts__card-link btn btn_middle js-popup-link">Напишите нам</a>
							</div>
							<div class="contacts__footer">
								{#CALL-MENU#}
								<ul class="call-menu">
									<li class="call-menu__item">
										<a href="#" class="call-menu__link">
											<i class="icon icon-call-phone"></i>
										</a>
									</li>
									<li class="call-menu__item">
										<a href="#" class="call-menu__link">
											<i class="icon icon-call-msg"></i>
										</a>
									</li>
									<li class="call-menu__item">
										<a href="#" class="call-menu__link">
											<i class="icon icon-call-phone-bubble"></i>
										</a>
									</li>
									<li class="call-menu__item">
										<a href="#" class="call-menu__link">
											<i class="icon icon-call-phone-talk"></i>
										</a>
									</li>
									<li class="call-menu__item">
										<a href="#" class="call-menu__link">
											<i class="icon icon-call-chat"></i>
										</a>
									</li>
								</ul>
								{#/CALL-MENU#}
							</div>
						</div>
						{#/SALE OFFICE#}

						{#PATH#}
						<div class="contacts__card-content js-contacts-card-content"
							 id="contacts-card-content_2"
						>
							{#ACCORDION#}
							<div class="accordion">
								<div class="accordion__item">
									<a href="#" class="accordion__item-title-wrap accordion__item-title-wrap_open js-accordion-title">
										<div class="accordion__item-title">Общественным транспортом</div>
										<i class="accordion__item-icon"></i>
									</a>
									<div class="accordion__item-content">
										<div class="accordion__item-content-inner">
											<div class="contacts__card-item-text">
												ЖК «Карамельный» расположен неподалеку от Новорязовского шоссе. Это обеспечит удобное транспортное сообщение с Москвой. До шоссе метро  «ВДНХ» можно доехать на маршрутке или автобусе 392 примерно за 10 минут (все зависит от загруженности дороги). Также от Ярославского вокзала курсируют эликтрички
												и скорый электропоезд  «Спутник», на нем можно доехать за 20 минут.
											</div>
										</div>
									</div>
								</div>

								<div class="accordion__item">
									<a href="#" class="accordion__item-title-wrap js-accordion-title">
										<div class="accordion__item-title">На машине</div>
										<i class="accordion__item-icon"></i>
									</a>
									<div class="accordion__item-content" style="display:none;">
										<div class="accordion__item-content-inner">
											<div class="contacts__card-item-text">
												ЖК «Карамельный» расположен неподалеку от Новорязовского шоссе. Это обеспечит удобное транспортное сообщение с Москвой. До шоссе метро  «ВДНХ» можно доехать на маршрутке или автобусе 392 примерно за 10 минут (все зависит от загруженности дороги). Также от Ярославского вокзала курсируют эликтрички
												и скорый электропоезд  «Спутник», на нем можно доехать за 20 минут.
											</div>
										</div>
									</div>
								</div>
							</div>
							{#/ACCORDION#}
						</div>
						{#/PATH#}
					</div>
				</div>
			</div>
			{#/CARD#}
		</div>

		{#MAP#}
		<div class="contacts__map-wrap">
			<div class="contacts__map-inner-wrap">
				<div class="contacts__nav-wrap container">
					{#MAP NAVIGATION#}
					<div class="contacts__map-nav">
						<div class="contacts__map-nav-item">
							<a href="#" id="print_map" class="contacts__map-nav-print">
								<i class="contacts__map-nav-print-icon"></i>
								<p class="contacts__map-nav-print-text">Распечатать маршрут</p>
							</a>
						</div>
						<div class="contacts__map-nav-item">
							{#MAP-SEARCH#}
							<div id="map_search" class="contacts__map-nav-search map-search">
								<div class="map-search__close js-map-search-close"><i class="icon icon-close"></i></div>
								<div class="map-search__title">Выберите точку на карте или введите адрес для начала маршрута </div>
								<div class="map-search__input-wrap form">
									<input type="text" class="map-search__input form__input js-map-search-input" placeholder="Введите местоположение">
								</div>
								<div class="map-search__button-wrap">
									<button class="btn btn_small js-map-search-btn">Проложить маршрут</button>
								</div>
							</div>
							{#/MAP-SEARCH#}
							<button id="map_search_open" class="contacts_map-nav-path btn btn_small">Проложить маршрут</button>
						</div>
					</div>
					{#/MAP NAVIGATION#}
				</div>

				<div class="contacts__map" id="map-on-page"></div>
			</div>
		</div>
		{#/MAP#}
	</div>
	{#/CONTACTS#}
{% endblock %}

{% block userscripts %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSlmb0kjYItIMJ-TUO4oagK1GySSLvSFI&libraries=places&callback=initMap"
	        async defer></script>
	<script>
		var map;
		function initMap() {
			var marker,
				marker2;

			map = new google.maps.Map(document.getElementById('map-on-page'), {
				center: {lat: 55.684576, lng: 37.881468},
				zoom: 15,
				fullscreenControl: false,
				streetViewControl: false,
				mapTypeControl: false,
				styles: [
					{
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#f5f5f5"
							}
						]
					},
					{
						"elementType": "labels.icon",
						"stylers": [
							{
								"visibility": "off"
							}
						]
					},
					{
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#616161"
							}
						]
					},
					{
						"elementType": "labels.text.stroke",
						"stylers": [
							{
								"color": "#f5f5f5"
							}
						]
					},
					{
						"featureType": "administrative.land_parcel",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#bdbdbd"
							}
						]
					},
					{
						"featureType": "poi",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#eeeeee"
							}
						]
					},
					{
						"featureType": "poi",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#757575"
							}
						]
					},
					{
						"featureType": "poi.park",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#e5e5e5"
							}
						]
					},
					{
						"featureType": "poi.park",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#9e9e9e"
							}
						]
					},
					{
						"featureType": "road",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#ffffff"
							}
						]
					},
					{
						"featureType": "road.arterial",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#757575"
							}
						]
					},
					{
						"featureType": "road.highway",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#dadada"
							}
						]
					},
					{
						"featureType": "road.highway",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#616161"
							}
						]
					},
					{
						"featureType": "road.local",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#9e9e9e"
							}
						]
					},
					{
						"featureType": "transit.line",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#e5e5e5"
							}
						]
					},
					{
						"featureType": "transit.station",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#eeeeee"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "geometry",
						"stylers": [
							{
								"color": "#c9c9c9"
							}
						]
					},
					{
						"featureType": "water",
						"elementType": "labels.text.fill",
						"stylers": [
							{
								"color": "#9e9e9e"
							}
						]
					}
				]
			});
			marker = new google.maps.Marker({
				position: {lat: 55.683617, lng: 37.895396},
				map: map,
				title: 'ЖК «Карамельный»',
				animation: google.maps.Animation.DROP,
				icon: {
					url: 'img/markers/icon-marker.svg',
					size: new google.maps.Size(50, 60),
					origin: new google.maps.Point(0, 0),
					labelOrigin: new google.maps.Point(25,76)
				},
				label: {
					text: "ЖК «Карамельный»",
					labelClass: "contacts__map-label",
					fontSize: "16px",
					color: "#495057",
					fontFamily: "'Muller', sans-serif",
					fontWeight: "700"
				}
			});
			marker2 = new google.maps.Marker({
				position: {lat: 55.679755, lng: 37.893878},
				map: map,
				title: 'ЖК «Карамельный»',
				animation: google.maps.Animation.DROP,
				icon: {
					url: 'img/markers/icon-marker.svg',
					size: new google.maps.Size(50, 60),
					origin: new google.maps.Point(0, 0),
					labelOrigin: new google.maps.Point(25,76)
				},
				label: {
					text: "Офис продаж ЖК «Карамельный»",
					labelClass: "contacts__map-label",
					fontSize: "16px",
					color: "#495057",
					fontFamily: "'Muller', sans-serif",
					fontWeight: "700"
				}
			});

			// direction route
			initRoute(map);

		}



		// Click print map
		var printBtn = $("#print_map");

		if (printBtn.length > 0) {
			printBtn.click(function (e) {
				e.preventDefault();

				window.print();
			});
		}

		// DIRECTION ROUTE
		var map_search = document.getElementById('map_search');
		var map_search_open = document.getElementById('map_search_open');
		var map_search_close = map_search.querySelector(".js-map-search-close");
		var map_search_input = map_search.querySelector(".js-map-search-input");
		var map_search_btn = map_search.querySelector('.js-map-search-btn');
		var start_marker;

		// MAP SEARCH CLOSE
		map_search_close.addEventListener("click", function () {

			map_search.classList.remove("map-search_active");
			map_search_input.value = "";
			map_search_input.blur();
		});

		// MAP SEARCH OPEN
		map_search_open.addEventListener("click", function (e) {
			e.preventDefault();

			map_search.classList.add("map-search_active");
			map_search_input.focus();
		});

		// ROUTE DRAW
		function routeDraw(service, render, location, start_point, name,  gmap) {
			var request = {
				origin: location,
				destination: start_point,
				optimizeWaypoints: !0,
				travelMode: google.maps.DirectionsTravelMode.DRIVING
			};

			service.route(request, function(result, status) {

				if (status === google.maps.DirectionsStatus.OK) {

					render.setDirections(result);

					// Remove previous marker
					if (start_marker) {
						start_marker.setMap(null);
					}

					// draw marker
					drawMarker(start_point, name,  map);

				} else {
					console.log("Directions display was not successful for the following reason: + " + status);
					alert("Directions display was not successful for the following reason: + " + status);
				}

			});

			render.setMap(null);
			render.setMap(gmap);
		};

		// DRAW MARKER
		function drawMarker(position, name,  map) {
			start_marker = new google.maps.Marker({
				position: position,
				map: map,
				title: name,
				animation: google.maps.Animation.DROP,
				icon: {
					url: 'img/markers/icon-marker-small.svg',
					size: new google.maps.Size(30, 36),
					origin: new google.maps.Point(0, 0),
					// anchor: new google.maps.Point(25, 60),
					labelOrigin: new google.maps.Point(15,52)
				},
				label: {
					text: name,
					labelClass: "contacts__map-label",
					fontSize: "16px",
					color: "#495057",
					fontFamily: "'Muller', sans-serif",
					fontWeight: "700"
				}
			});
		}

		// GEOCODE ADDRESS
		function geocodeAddress(geo_coder, value, service, render, location, gmap) {
			geo_coder.geocode({
				address: value
			}, function(result, status) {
				var name = result[0].address_components[0].short_name;

				if ("OK" === status) {
					routeDraw(service, render, location, result[0].geometry.location, name, gmap);
				} else {
					console.log("Geocode was not successful for the following reason: + " + status);
					alert("Geocode was not successful for the following reason: + " + status);
				}
			});
		};

		// INIT ROUTE
		function initRoute(gmap) {
			var autocomplete = new google.maps.places.Autocomplete(map_search_input);
			var location = new google.maps.LatLng(55.683617, 37.895396);
			var geo_coder = new google.maps.Geocoder;
			var line = new google.maps.Polyline({
				strokeColor: "#f78027",
				strokeOpacity: 1,
				strokeWeight: 8
			});
			var render = new google.maps.DirectionsRenderer({
				suppressMarkers: true,
				polylineOptions: line
			});
			var service = new google.maps.DirectionsService;

			autocomplete.addListener("place_changed", function () {
				var place = autocomplete.getPlace();

				geocodeAddress(geo_coder, place.formatted_address, service, render, location, gmap);
				map_search.classList.remove("map-search_active");
				map_search_input.value = "";
				map_search_input.blur();
			});

			map_search_btn.addEventListener("click", function (e) {
				e.preventDefault();

				geocodeAddress(geo_coder, map_search_input.value, service, render, location, gmap);
			});

			map_search_input.addEventListener("keydown", function (e) {

				if (13 === e.keyCode) {
					geocodeAddress(geo_coder, map_search_input.value, service, render, location, gmap);
				}

			});
		};
	</script>
{% endblock %}