{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}


{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Выбор квартиры</a>
				<a href="#" class="breadcrumbs__item">Выбор корпуса</a>
				<a href="#" class="breadcrumbs__item">Выбор этажа</a>
				<a class="breadcrumbs__item">Выбор по параметрам</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#OPTIONS#}
	<div class="options">
		<div class="options__container container">
			<div class="options__title-wrap">
				{#STANDART TITLE#}
				<div class="std-title options__title">Выбор по параметрам</div>
				{#/STANDART TITLE#}

				<a href="#" class="options__back-link btn btn_middle">назад к визуальному выбору</a>
			</div>

			{#FILTERS#}
			<div class="filters">
				<form>
					{#FILTERS LIST#}
					<div class="filters__list">
						{#HOUSE BLOCKS#}
						<div class="filters__block filters__block_house-block">
							<div class="filters__block-inner">
								<p class="filters__block-title">Корпуса</p>
								<div class="filters__block-list">
									<div class="filters__block-list-item">
										<input type="checkbox"
											   class="filters__block-list-item-input js-input-checkbox"
										>
										<div class="filters__block-list-item-style">1</div>
									</div>

									<div class="filters__block-list-item">
										<input type="checkbox"
											   class="filters__block-list-item-input js-input-checkbox"
										>
										<div class="filters__block-list-item-style">2</div>
									</div>

									<div class="filters__block-list-item">
										<input type="checkbox"
											   class="filters__block-list-item-input js-input-checkbox"
										>
										<div class="filters__block-list-item-style">3</div>
									</div>

									<div class="filters__block-list-item">
										<input type="checkbox"
											   class="filters__block-list-item-input js-input-checkbox"
										>
										<div class="filters__block-list-item-style">4</div>
									</div>
								</div>
							</div>
						</div>
						{#/HOUSE BLOCKS#}

						{#ROOMS COUNT#}
						<div class="filters__block filters__block_rooms">
							<div class="filters__block-inner">
								<p class="filters__block-title">Количество комнат</p>
								<div class="filters__block-list">
									<div class="filters__block-list-item">
										<input type="checkbox"
											   class="filters__block-list-item-input js-input-checkbox"
										>
										<div class="filters__block-list-item-style">1</div>
									</div>

									<div class="filters__block-list-item">
										<input type="checkbox"
											   class="filters__block-list-item-input js-input-checkbox"
										>
										<div class="filters__block-list-item-style">2</div>
									</div>

									<div class="filters__block-list-item">
										<input type="checkbox"
											   class="filters__block-list-item-input js-input-checkbox"
										>
										<div class="filters__block-list-item-style">3</div>
									</div>

									<div class="filters__block-list-item">
										<input type="checkbox"
											   class="filters__block-list-item-input js-input-checkbox"
										>
										<div class="filters__block-list-item-style">4</div>
									</div>
								</div>
							</div>
						</div>
						{#/ROOMS COUNT#}

						{#SQUARE#}
						<div class="filters__block filters__block_range filters__block_square">
							<div class="filters__block-inner">
								<p class="filters__block-title">Площадь</p>
								<div class="filters__range-wrap">
									<input type="text"
										   class="filters__range-input js-input-range"
										   id="options-square"
										   data-min="10"
										   data-from="45"
										   data-max="400"
										   data-to="300"
										   data-min-interval="50"
									>
								</div>
							</div>
						</div>
						{#/SQUARE#}

						{#COST#}
						<div class="filters__block filters__block_range filters__block_cost">
							<div class="filters__block-inner">
								<p class="filters__block-title">Стоимость</p>
								<div class="filters__range-wrap">
									<input type="text"
										   class="filters__range-input js-input-range"
										   id="options-cost"
										   data-min="5"
										   data-from="10"
										   data-max="400"
										   data-to="300"
										   data-min-interval="50"
									>
								</div>
							</div>
						</div>
						{#/COST#}

						{#FLOOR#}
						<div class="filters__block filters__block_range filters__block_floor">
							<div class="filters__block-inner">
								<p class="filters__block-title">Этаж</p>
								<div class="filters__range-wrap">
									<input type="text"
										   class="filters__range-input js-input-range"
										   id="options-floor"
										   data-min="1"
										   data-from="2"
										   data-max="20"
										   data-to="7"
										   data-min-interval="1"
									>
								</div>
							</div>
						</div>
						{#/FLOOR#}

						{#DECORATION#}
						<div class="filters__block filters__block_decoration">
							<div class="filters__block-inner">
								<label class="filters__block-label">
									<div class="filters__block-checkbox-wrap">
										<input type="checkbox"
											   class="filters__block-checkbox-input"
											   id="filters-checkbox-decor"
											   checked
										>
										<div class="filters__block-checkbox-input-style"></div>
									</div>
									<p class="filters__block-label-text">С отделкой</p>
								</label>
							</div>
						</div>
						{#/DECORATION#}

						{#RESET FILTERS#}
						<div class="filters__block filters__block_reset">
							<div class="filters__block-inner">
								<a href="#" class="filters__reset" id="filters-reset-button">
									<i class="filters__reset-icon"></i>
									<p class="filters__reset-text">Сбросить фильтр</p>
								</a>
							</div>
						</div>
						{#/RESET FILTERS#}
					</div>
					{#/FILTERS LIST#}
				</form>
			</div>
			{#/FILTERS#}

			<div class="options__results">Найдено 789 квартир из 789</div>

			{#FLATS#}
			<div class="flex-table flex-table_scroll" id="sorting-table">
				{#HEAD#}
				<div class="flex-table__head">
					<div class="flex-table__head-col flex-table__head-col_square js-table-head-col" data-sorting="square">
						<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Площадь
								<i class="icon-sort"></i>
							</span>
						</div>
					</div>

					<div class="flex-table__head-col flex-table__head-col_flat-number js-table-head-col" data-sorting="flat-number">
						<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Квартира
								<i class="icon-sort"></i>
							</span>
						</div>
					</div>

					<div class="flex-table__head-col flex-table__head-col_section js-table-head-col" data-sorting="section">
						<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Корпус
								<i class="icon-sort"></i>
							</span>
						</div>
					</div>

					<div class="flex-table__head-col flex-table__head-col_finish js-table-head-col" data-sorting="finish">
						<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Сдача
								<i class="icon-sort"></i>
							</span>
						</div>
					</div>

					<div class="flex-table__head-col flex-table__head-col_floor js-table-head-col" data-sorting="floor">
						<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Этаж
								<i class="icon-sort"></i>
							</span>
						</div>
					</div>

					<div class="flex-table__head-col flex-table__head-col_decoration js-table-head-col" data-sorting="decoration">
						<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Отделка
								<i class="icon-sort"></i>
							</span>
						</div>
					</div>

					<div class="flex-table__head-col flex-table__head-col_room js-table-head-col" data-sorting="room">
						<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Комнат
								<i class="icon-sort"></i>
							</span>
						</div>
					</div>

					<div class="flex-table__head-col flex-table__head-col_price js-table-head-col" data-sorting="price">
						<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Стоимость
								<i class="icon-sort"></i>
							</span>
						</div>
					</div>

					<div class="flex-table__head-col flex-table__head-col_discount"></div>

				</div>
				{#/HEAD#}

				{#LIST#}
				<div id="flats-list" class="flex-table__scroll-wrap">
					<div class="flex-table__body">
						{% for item in flats %}
							<div class="flex-table__body-row js-table-body-row" data-href="{{ item.href }}">
								<div class="flex-table__body-col flex-table__body-col_square" data-sorting="square">
									<span class="flex-table__text flex-table__text_hidden">Площадь:</span>
									<span class="flex-table__text js-table-sort-data">{{ item.square }}</span>
									<span class="flex-table__area">&nbsp;m<sup>2</sup></span>
								</div>

								<div class="flex-table__body-col flex-table__body-col_flat-number" data-sorting="flat-number">
									<span class="flex-table__text flex-table__text_title flex-table__text_hidden">Квартира</span>
									<span class="flex-table__text js-table-sort-data">{{ item.number }}</span>
								</div>

								<div class="flex-table__body-col flex-table__body-col_section" data-sorting="section">
									<span class="flex-table__text flex-table__text_hidden">Корпус</span>
									<span class="flex-table__text js-table-sort-data">{{ item.houseBlock }}</span>
								</div>

								<div class="flex-table__body-col flex-table__body-col_finish" data-sorting="finish">
									<span class="flex-table__text flex-table__text_hidden">Сдача:</span>
									<span class="flex-table__text js-table-sort-data">{{ item.finish }}</span>
								</div>

								<div class="flex-table__body-col flex-table__body-col_floor" data-sorting="floor">
									<span class="flex-table__text flex-table__text_hidden">Этаж</span>
									<span class="flex-table__text js-table-sort-data">{{ item.floor }}</span>
								</div>

								<div class="flex-table__body-col flex-table__body-col_decoration" data-sorting="decoration">
									<span class="flex-table__text flex-table__text_hidden">Отделка:</span>
									<span class="flex-table__text js-table-sort-data">{{ item.decoration }}</span>
								</div>

								<div class="flex-table__body-col flex-table__body-col_room" data-sorting="room">
									<span class="flex-table__text flex-table__text_hidden">Количество комнат:</span>
									<span class="flex-table__text js-table-sort-data">{{ item.room }}</span>
								</div>

								<div class="flex-table__body-col flex-table__body-col_price" data-sorting="price">
									{% if item.oldPrice !== "" %}
										<div class="flex-table__text flex-table__text_old-price">
											{{ item.oldPrice }}
											<span class="flex-table__currency"> ₽</span>
										</div>
									{% endif %}
									<div class="flex-table__text js-table-sort-data">
										{{ item.price }}
										<span class="flex-table__currency"> ₽</span>
									</div>
								</div>

								<div class="flex-table__body-col flex-table__body-col_discount">
									{% if item.discount  %}
										<img src="img/discount.svg" alt="" class="flex-table__discount-img">
									{% endif %}
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				{#/LIST#}
			</div>
			{#/FLATS#}
		</div>
	</div>
	{#/OPTIONS#}
{% endblock %}
