{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a class="breadcrumbs__item">Галерея</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#CONDITIONS#}
	<div class="inner-page inner-page_gallery">
		<div class="inner-page__container container">
			<div class="inner-page__title">Галерея</div>
		</div>
		<div class="gallery-list wide-container">
			{% for gallery in galleryGrid %}
				{% if galleryGrid[loop.index - 1].length == 2 %}
					<div class="gallery-list__row gallery-list__row_grid-2">
						{% for item in gallery %}
							<div class="gallery-list__item">
								<div class="gallery-block">
									<a href="#popup_gallery" class="gallery-block__link js-popup-link"></a>
									<div class="gallery-block__bg">
										<picture data-src="{{ item.imageThumb }}"
												 class="gallery-block__img-wrap lazy-picture">
											<data-src srcset="{{ item.imageThumb }}"
													  media="(min-width: 1000px)"></data-src>
											<data-src srcset="{{ item.imageThumb }}"
													  media="(min-width: 768px)"></data-src>
											<data-img src="{{ item.imageThumb }}" alt=""
													  class="gallery-block__img"></data-img>
										</picture>
									</div>
									<div class="gallery-block__content">
										<div class="gallery-block__title">
											<div class="gallery-block__title-border"></div>
											{{ item.title }}
											<div
												class="gallery-block__title-border gallery-block__title-border_bottom"></div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% else %}
					<div class="gallery-list__row">
						{% for item in gallery %}
							<div class="gallery-list__item">
								<div class="gallery-block">
									<a href="#popup_gallery" class="gallery-block__link js-popup-link"></a>
									<div class="gallery-block__bg">
										<picture data-src="{{ item.imageThumb }}"
												 class="gallery-block__img-wrap lazy-picture">
											<data-src srcset="{{ item.imageThumb }}"
													  media="(min-width: 1000px)"></data-src>
											<data-src srcset="{{ item.imageThumb }}"
													  media="(min-width: 768px)"></data-src>
											<data-img src="{{ item.imageThumb }}" alt=""
													  class="gallery-block__img"></data-img>
										</picture>
									</div>
									<div class="gallery-block__content">
										<div class="gallery-block__title">
											<div class="gallery-block__title-border"></div>
											{{ item.title }}
											<div
												class="gallery-block__title-border gallery-block__title-border_bottom"></div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{#/CONDITIONS#}

	<div id="popup_gallery" class="popup popup_gallery hidden-element">
		<div class="popup__align-wrap">
			<div class="popup__content">
				<div data-fancybox-close class="popup__close js-popup-close">
					<i class="icon icon-close"></i>
				</div>

				{#GALLERY SLIDER#}
				<div class="popup-slider-wrap">
					<div class="popup-slider-wrap__arrow popup-slider-wrap__arrow_prev">
						<i class="icon icon-arrow-prev"></i>
					</div>
					<div class="popup-slider-wrap__arrow popup-slider-wrap__arrow_next">
						<i class="icon icon-arrow-next"></i>
					</div>

					<div id="slider_gallery" class="swiper-container gallery-slider">
						<div class="swiper-wrapper gallery-slider__wrap">
							{% for slide in gallerySlider %}
							<div class="swiper-slide gallery-slider__slide gallery-slide">
								<picture class="gallery-slide__img-wrap">
									<source srcset="{{ slide.image }}" media="(min-width: 1000px)">
									<source srcset="{{ slide.image }}" media="(min-width: 768px)">
									<img src="{{ slide.image }}" alt="" class="gallery-slide__img">
								</picture>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{#/GALLERY SLIDER#}

				{#GALLERY THUMBS SLIDER#}
				<div id="slider_gallery_thumbs" class="swiper-container gallery-thumbs-slider">
					<div class="swiper-wrapper gallery-thumbs-slider__wrap">
						{% for slide in galleryThumbsSlider %}
							<div class="swiper-slide gallery-thumbs-slider__slide {{ 'gallery-thumbs-slider__slide_active' if loop.index === 1  }}">
								<picture class="gallery-thumbs-slider__img-wrap">
									<source srcset="{{ slide.image }}" media="(min-width: 1000px)">
									<source srcset="{{ slide.image }}" media="(min-width: 768px)">
									<img src="{{ slide.image }}" alt="" class="gallery-thumbs-slider__img">
								</picture>
							</div>
						{% endfor %}
					</div>
				</div>
				{#/GALLERY THUMBS SLIDER#}
			</div>
		</div>
	</div>
{% endblock %}