{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a class="breadcrumbs__item">Ход строительства</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#CONSTRUCTION#}
	<div class="construction">
		<div class="construction__container container">

			{#STANDART TITLE#}
			<div class="std-title construction__title">Ход строительства</div>
			{#/STANDART TITLE#}

			{#CONSTRUCTION TIMELINE#}
			<div id="construction_timeline" class="construction-timeline-wrap">
				<div class="construction-timeline-wrap__list">
					{% for item in construction %}
						<div class="construction-timeline-wrap__item">
							<p class="construction-timeline-wrap__item-date">{{ item.date }}</p>
							<p class="construction-timeline-wrap__item-title">{{ item.title }}</p>
							<div class="construction-timeline-wrap__item-progress" data-progress="{{ item.progress }}">
								<div class="construction-timeline-wrap__progress-icon"></div>
								<div class="construction-timeline-wrap__progress-lines">
									<div class="construction-timeline-wrap__progress-default"></div>
									<div class="construction-timeline-wrap__progress-active"></div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			{#/CONSTRUCTION TIMELINE#}
		</div>

		{#CONSTRUCTION GRID#}
		<div class="construction-grid">
			<div class="construction-grid__container container">
				<div class="construction-grid__title">Возведение домов по месяца с 2016 по 2018 годы</div>
			</div>
			<div class="construction-grid__list wide-container">
				{% for item in constructionItem %}
					<div class="construction-grid__item">
						<div class="construction-item">
							<a href="#popup_construction" class="construction-item__link js-popup-link">
								<div class="construction-item__border">
									<div class="construction-item__border-right"></div>
									<div class="construction-item__border-bottom"></div>
								</div>
								<div class="construction-item__bg">
									<picture data-src="{{ item.image }}" class="construction-item__img-wrap lazy-picture">
										<data-src srcset="{{ item.image }}" media="(min-width: 1000px)"></data-src>
										<data-src srcset="{{ item.image }}" media="(min-width: 768px)"></data-src>
										<data-img src="{{ item.image }}" alt="" class="construction-item__img"></data-img>
									</picture>
								</div>
								<div class="construction-item__content {{ 'construction-item__content_no-descr' if item.description.length === 0 }}">
									<div class="construction-item__title">{{ item.title }}</div>
									{% if item.description.length > 0 %}
										<div class="construction-item__descr">{{ item.description }}</div>
									{% endif %}
								</div>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="construction-grid__bottom container">
				<a href="#" class="btn btn_middle">Загрузить еще</a>
			</div>
		</div>
		{#/CONSTRUCTION GRID#}
	</div>
	{#/CONSTRUCTION#}

	{#POPUP#}
	<div id="popup_construction" class="popup popup_gallery hidden-element">
		<div class="popup__align-wrap">
			<div class="popup__content">
				<div class="popup__close js-popup-close">
					<i class="icon icon-close"></i>
				</div>

				{#GALLERY SLIDER#}
				<div class="popup-slider-wrap">
					<div class="popup-slider-wrap__arrow popup-slider-wrap__arrow_prev">
						<i class="icon icon-arrow-prev"></i>
					</div>
					<div class="popup-slider-wrap__arrow popup-slider-wrap__arrow_next">
						<i class="icon icon-arrow-next"></i>
					</div>

					<div id="slider_construction" class="swiper-container gallery-slider gallery-slider_caption">
						<div class="swiper-wrapper gallery-slider__wrap">
							{% for slide in gallerySlider %}
								<div class="swiper-slide gallery-slider__slide gallery-slide {{ 'gallery-slide_no-descr' if slide.description.length === 0 }}">
									<div class="gallery-slide__caption">
										<div class="gallery-slide__title">Январь 2018</div>
										{% if slide.description.length > 0 %}
											<div class="gallery-slide__descr info-box">
												<p>{{ slide.description }}</p>
											</div>
										{% endif %}
									</div>
									<picture class="gallery-slide__img-wrap">
										<source srcset="{{ slide.image }}" media="(min-width: 1000px)">
										<source srcset="{{ slide.image }}" media="(min-width: 768px)">
										<img src="{{ slide.image }}" alt="" class="gallery-slide__img">
									</picture>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{#/GALLERY SLIDER#}
			</div>
		</div>
	</div>
	{#/POPUP#}
{% endblock %}