{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	<div class="page-404">
		<div class="page-404__container container">
			<div class="page-404__col page-404__col_decor">
				<div class="page-404__decor-number">404</div>
				<div class="page-404__decor-text">Ошибка</div>
			</div>
			<div class="page-404__col page-404__col_about">
				<div class="page-404__title">Страница не найдена</div>
				<div class="page-404__info">Страница, которую вы искали по какой-то причине
					больше не находится по запрашиваему адресу.</div>
				<a href="#" class="btn">перейти на главную</a>
			</div>
		</div>
	</div>
{% endblock %}