{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a class="breadcrumbs__item">Ипотека</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#MORTGAGE#}
	<div class="inner-page inner-page_mortgages">
		<div class="inner-page__container container">
			<div class="inner-page__title">Ипотека</div>
			<div class="inner-page__content-wrap">
				{#MORTGAGE INTRO#}
				<div class="mortgage-intro">
					<div class="mortgage-intro__info">
						<div class="mortgage-intro__title"><span class="mortgage-intro__rate">6%</span> ставка</div>
						<div class="mortgage-intro__sub-title">Экономьте время и деньги. Оформите ипотеку онлайн!</div>
						<div class="mortgage-intro__descr info-box">
							<p>С помощью нашего простого ипотечного калькулятора вы можете рассчитать свой индивидуальный процент по ипотеке, который начинается от 6% годовых!</p>
						</div>
						<div class="mortgage-intro__bottom">
							<a href="#mortgage-calc" class="btn btn_middle js-link-anchor">Рассчитать ипотеку</a>
						</div>
					</div>
					<picture class="mortgage-intro__img-wrap">
						<source srcset="img/mortgage-intro-img.jpg" media="(min-width: 1000px)">
						<source srcset="img/mortgage-intro-img.jpg" media="(min-width: 768px)">
						<img src="img/mortgage-intro-img.jpg" alt="" class="mortgage-intro__img">
					</picture>
				</div>
				{#/MORTGAGE INTRO#}
			</div>
		</div>

		{#MORTGAGE-CALCULATOR#}
		<div id="mortgage-calc" class="mortgage-calculator">
			<div class="mortgage-calculator__container container">
				<div class="inner-page__content-wrap">
					<div class="mortgage-calculator__title">Калькулятор ипотеки</div>
					<div class="mortgage-calculator__main">
						<div class="mortgage-calculator__box">
							<div class="mortgage-calculator__box-title">Сумма кредита</div>
							<input
								type="text"
								id="mortgage_sum"
								name="mortgage_sum"
								value=""
								data-min="50000"
								data-max="19440000"
								data-from="534000"
								class="mortgage-calculator__input js-mortgage-range" />
						</div>
						<div class="mortgage-calculator__box">
							<div class="mortgage-calculator__box-title">Процентная ставка</div>
							<input
								type="text"
								id="mortgage_percent"
								name="mortgage_percent"
								value=""
								data-min="6"
								data-max="20"
								data-from="14"
								class="mortgage-calculator__input js-mortgage-range" />
						</div>
						<div class="mortgage-calculator__box">
							<div class="mortgage-calculator__box-title">Срок кредитования</div>
							<input
								type="text"
								id="mortgage_period"
								name="mortgage_period"
								value=""
								data-min="1"
								data-max="16"
								data-from="10"
								class="mortgage-calculator__input js-mortgage-range" />
						</div>
					</div>
					<div class="mortgage-calculator__bottom">
						<div class="mortgage-calculator__result-wrap">
							<div class="mortgage-calculator__result-text">Ежемесячный платеж</div>
							<div class="mortgage-calculator__result" id="calculator-result"></div>
						</div>
						<a href="#" class="btn btn_small">Консультация</a>
					</div>
				</div>
			</div>
		</div>
		{#/MORTGAGE-CALCULATOR#}

		<div class="inner-page__container container">

			{#MORTGAGE-PARTNERS#}
			<div class="mortgage-partners-wrap">
				<div class="mortgage-partners-wrap__title">Банки-партнеры</div>
				<div class="flex-table" id="sorting-table">
					<div class="flex-table__head">
						<div class="flex-table__head-col flex-table__head-col_name js-table-head-col">
							<div class="flex-table__head-title">
								<span class="flex-table__head-text">Название</span>
							</div>
						</div>
						<div class="flex-table__head-col flex-table__head-col_license js-table-head-col">
							<div class="flex-table__head-title">
								<span class="flex-table__head-text">Программа и лицензия</span>
							</div>
						</div>
						<div class="flex-table__head-col flex-table__head-col_rate js-table-head-col" data-sorting="rate">
							<div class="flex-table__head-title">
								<span class="flex-table__head-text">
									Годовая ставка
									<i class="icon-sort"></i>
								</span>
							</div>
						</div>
						<div class="flex-table__head-col flex-table__head-col_payment js-table-head-col" data-sorting="payment">
							<div class="flex-table__head-title">
								<span class="flex-table__head-text">
									Первый взнос
									<i class="icon-sort"></i>
								</span>
							</div>
						</div>
						<div class="flex-table__head-col flex-table__head-col_time js-table-head-col" data-sorting="time">
							<div class="flex-table__head-title">
								<span class="flex-table__head-text">
									Срок кредитования
									<i class="icon-sort"></i>
								</span>
							</div>
						</div>
					</div>
					<div class="flex-table__body">
						{% for row in mortgagePartners.body %}
							<div data-href="#popup_order" class="flex-table__body-row js-table-body-row">
								<div class="flex-table__body-col flex-table__body-col_name">
									<img src="{{ row.image }}" alt="" class="flex-table__logo">
								</div>
								<div class="flex-table__body-col flex-table__body-col_license">
									<span class="flex-table__text flex-table__text_title">{{ row.titleLicense }}</span>
									<span class="flex-table__text flex-table__text_light">{{ row.license }}</span>
								</div>
								<div class="flex-table__body-col flex-table__body-col_rate" data-sorting="rate">
									<span class="flex-table__text flex-table__text_title flex-table__text_hidden">{{ row.titleRate }}</span>
									<span class="flex-table__text js-table-sort-data">{{ row.rate }}</span>
								</div>
								<div class="flex-table__body-col flex-table__body-col_payment" data-sorting="payment">
									<span class="flex-table__text flex-table__text_title flex-table__text_hidden">{{ row.titlePayment }}</span>
									<span class="flex-table__text js-table-sort-data">{{ row.payment }}</span>
								</div>
								<div class="flex-table__body-col flex-table__body-col_time" data-sorting="time">
									<span class="flex-table__text flex-table__text_title flex-table__text_hidden">{{ row.titleTime }}</span>
									<span class="flex-table__text js-table-sort-data">{{ row.time }}</span>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			{#/MORTGAGE-PARTNERS#}

			<div class="inner-page__content-wrap">
				{#MORTGAGE ABOUT#}
				<div class="mortgage-about">
					<div class="mortgage-about__title">Мы изменили ипотеку. Мы все упростили.</div>
					<div class="mortgage-about__text-wrap">
						<div class="mortgage-about__col mortgage-about__col_descr">
							<div class="mortgage-about__descr info-box">
								<p>Достаточно прийти к&nbsp;нам в&nbsp;офис. Мы&nbsp;подберем программы ипотечного кредитования, сделаем предварительный расчет ваших ипотечных платежей, поможем заполнить заявку на&nbsp;кредит и&nbsp;направим ее&nbsp;в&nbsp;наши банки-партнеры. После чего сами организуем проведение сделки на&nbsp;основе выбранной программы.</p>
							</div>
						</div>
						<div class="mortgage-about__col mortgage-about__col_blocks">
							<div class="mortgage-about__block">
								<div class="mortgage-about__icon-wrap">
									<i class="icon icon-list"></i>
								</div>
								<div class="mortgage-about__text">
									Процесс получения ипотеки стал легким и простым
								</div>
							</div>
							<div class="mortgage-about__block">
								<div class="mortgage-about__icon-wrap">
									<i class="icon icon-timer"></i>
								</div>
								<div class="mortgage-about__text">
									Сроки принятия решения по заявке сократились
								</div>
							</div>
						</div>
					</div>
				</div>
				{#/MORTGAGE ABOUT#}
			</div>
		</div>
	</div>
	{#/MORTGAGE#}
{% endblock %}