{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Выбор квартиры</a>
				<a href="#" class="breadcrumbs__item">Выбор корпуса</a>
				<a href="#" class="breadcrumbs__item">Выбор этажа</a>
				<a class="breadcrumbs__item">Квартира №15</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#MORTGAGE#}
	<div class="inner-page inner-page_mortgages">
		<div class="inner-page__container container">
			{#FLAT WRAP#}
			<div class="flat-wrap">
				<div class="flat-wrap__title">
					Квартира №
					<span class="flat-wrap__title-flat-number">15</span>
				</div>

				<div class="flat-content">
					<div class="flat-content__descr">
						{#FLAT DESCRIPTION#}
						<div class="flat-desc">
							<div class="flat-desc__main">
								<div class="flat-desc__features">
									<div class="flat-desc__features-item">
										<div class="flat-desc__features-item-inner">
											<div class="flat-desc__features-item-key">Корпус</div>
											<div class="flat-desc__features-item-option">1</div>
										</div>
										<div class="flat-desc__features-item-border"></div>
									</div>

									<div class="flat-desc__features-item">
										<div class="flat-desc__features-item-inner">
											<div class="flat-desc__features-item-key">Этаж</div>
											<div class="flat-desc__features-item-option">1</div>
										</div>
										<div class="flat-desc__features-item-border"></div>
									</div>

									<div class="flat-desc__features-item">
										<div class="flat-desc__features-item-inner">
											<div class="flat-desc__features-item-key">Квартира</div>
											<div class="flat-desc__features-item-option">15</div>
										</div>
										<div class="flat-desc__features-item-border"></div>
									</div>

									<div class="flat-desc__features-item">
										<div class="flat-desc__features-item-inner">
											<div class="flat-desc__features-item-key">Общая площадь</div>
											<div class="flat-desc__features-item-option">54,3<span> м<sup>2</sup></span></div>
										</div>
										<div class="flat-desc__features-item-border"></div>
									</div>

									<div class="flat-desc__features-item">
										<div class="flat-desc__features-item-inner">
											<div class="flat-desc__features-item-key">Жилая площадь</div>
											<div class="flat-desc__features-item-option">12,3<span> м<sup>2</sup></span></div>
										</div>
										<div class="flat-desc__features-item-border"></div>
									</div>

									<div class="flat-desc__features-item">
										<div class="flat-desc__features-item-inner">
											<div class="flat-desc__features-item-key">Количество комнат</div>
											<div class="flat-desc__features-item-option">5</div>
										</div>
										<div class="flat-desc__features-item-border"></div>
									</div>

									<div class="flat-desc__features-item">
										<div class="flat-desc__features-item-inner">
											<div class="flat-desc__features-item-key">Отделка</div>
											<div class="flat-desc__features-item-option">с отделкой</div>
										</div>
										<div class="flat-desc__features-item-border"></div>
									</div>
								</div>

								<div class="flat-desc__price-block">
									<div class="flat-desc__price-wrap">
										<div class="flat-desc__price flat-desc__price_old">2 160 000 ₽</div>
										<div class="flat-desc__price">2 130 000 ₽</div>
									</div>

									<div class="flat-desc__date">
										<i class="icon icon-discount-orange"></i>
										до 20.11.2018
									</div>
								</div>

								<div class="flat-desc__button-wrap">
									<a href="#popup_order" class="flat-desc__button btn btn_middle btn_block js-popup-link">Оставить заявку</a>
								</div>
							</div>

							<div class="flat-desc__download-link-wrap">
								<a href="#" target="_blank" class="flat-desc__download-link">
									<i class="flat-desc__download-link-icon"></i>
									<p class="flat-desc__download-link-text">Скачать планировку</p>
								</a>
							</div>
						</div>
						{#/FLAT DESCRIPTION#}
					</div>
					<div class="flat-content__slider">
						{#FLAT SLIDER#}
						<div class="flat-slider swiper-container" id="flat-slider">
							<div class="flat-slider__wrapper swiper-wrapper">
								<div class="flat-slider__item swiper-slide">
									<img src="images/flat_img_1.png" alt="" class="flat-slider__item-img">
								</div>

								<div class="flat-slider__item swiper-slide">
									<img src="images/flat_img_1.png" alt="" class="flat-slider__item-img">
								</div>

								<div class="flat-slider__item swiper-slide">
									<img src="images/flat_img_1.png" alt="" class="flat-slider__item-img">
								</div>

								<div class="flat-slider__item swiper-slide">
									<img src="images/flat_img_1.png" alt="" class="flat-slider__item-img">
								</div>
							</div>

							<div class="flat-slider__button flat-slider__button_prev"></div>
							<div class="flat-slider__button flat-slider__button_next"></div>

							<div class="flat-slider__pagination"></div>
						</div>
						{#/FLAT SLIDER#}
					</div>
					<div class="flat-content__right">
						{#PLANS#}
						<div class="plans">
							<div class="plans__compass">
								<img src="img/compass.svg" alt="" class="plans__compass__img">
							</div>
							<div class="plans__wrap">
								<div class="plans__item">
									<div class="plan">
										<div class="plan__title">План этажа</div>
										<div class="plan__align">
											<svg
												version="1.1" xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink"
												x="0px"
												y="0px"
												width="160px"
												height="82px"
												viewBox="0 0 160 82"
												enable-background="new 0 0 160 82"
												xml:space="preserve">
													<g>
														<path
															fill="#EF7F3D"
															d="M47,50v30H2V50H47 M49,48H0v34h49V48L49,48z"/>
														<path
															fill="#EF7F3D"
															d="M77,50v1v2h2h16v27H49V50H77 M79,48H47v34h50V51H79V48L79,48z"/>
														<path
															fill="#EF7F3D"
															d="M141,50v30H97V53h14h2v-2v-1H141 M143,48h-32v3H95v31h48V48L143,48z"/>
														<path
															fill="#EF7F3D"
															d="M158,2v78h-15V50v-2h-2h-5v-9v-2h-2h-24V2H158 M160,0h-52v39h26v11h7v32h19V0L160,0z"/>
														<path fill="#EF7F3D" d="M61,2v27h-7h-2v2v3H32h-2v2v1H2V2H61 M63,0H0v39h32v-3h22v-5h9V0L63,0z"/>
													</g>
												<g>
													<polygon
														opacity="0"
														fill="#EF7F3C"
														points="142,81 142,49 135,49 135,38 109,38 109,1 159,1 159,81"/>
													<polygon
														opacity="0"
														fill="#EF7F3C"
														points="96.7,81 96.7,52 112.7,52 112.7,49 142.7,49 142.7,81"/>
													<polygon
														opacity="0"
														fill="#EF7F3C"
														points="48.2,81 48.2,49 78.2,49 78.2,52 96.2,52 96.2,81"/>
													<rect opacity="0" x="1" y="49" fill="#EF7F3C" width="47" height="32"/>
													<polygon
														opacity="1"
														fill="#EF7F3D"
														points="1,38 1,1 62,1 62,30 53,30 53,35 31,35 31,38"/>
												</g>
												</svg>
										</div>
									</div>
								</div>
								<div class="plans__item">
									<div class="plan">
										<div class="plan__title">Генплан</div>
										<div class="plan__align">
											<div class="floor-details__svg-wrap">
												<svg version="1.1" id="genplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="161px" height="65px" viewBox="0 0 161 65" enable-background="new 0 0 161 65" xml:space="preserve">
														<g>
															<path
																fill="#F0803E"
																d="M105.7,11.8v19.8H53.1V11.8H105.7 M107.7,9.8H51.1v23.8h56.6V9.8L107.7,9.8z"
															/>
															<path
																fill="#F0803E"
																d="M158.3,18.3l-12.8,44.2l-16.2-5.4v-17v-2h-2h-19.8V18.3H158.3 M161,16.3h-55.5v23.8h21.8v18.4 l19.6,6.5L161,16.3L161,16.3z"
															/>
															<path
																fill="#F0803E"
																d="M2,2l49.3,0v19.8H22.8h-2v2V63L2,63V23.2v-7.3V2 M0,0v15.8v7.3V65l22.8,0V23.8h30.5V0L0,0z"
															/>
														</g>
													<g>
														<polygon
															opacity="0"
															fill="#F0803E"
															points="1,1 52.3,1 52.3,22.8 21.8,22.8 21.8,64 1,64"
														/>
														<polygon
															opacity="1"
															fill="#F0803E"
															points="106.5,10.8 106.5,32.5 52.3,32.5 52.3,10.6"
														/>
														<polygon
															opacity="0"
															fill="#F0803E"
															points="159.8,17.1 146.1,63 128.3,57.1 128.3,39 106.5,39 106.5,17.1"
														/>
													</g>
													</svg>
											</div>
											<div class="plan__text-wrap">
												<div class="plan__text plan__text_left">1</div>
												<div class="plan__text plan__text_center plan__text_active">2</div>
												<div class="plan__text plan__text_right">3</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{#/PLANS#}
					</div>
				</div>
			</div>
			{#/FLAT WRAP#}
		</div>
	</div>
	{#/MORTGAGE#}
{% endblock %}