{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Выбор квартиры</a>
				<a href="#" class="breadcrumbs__item">Выбор корпуса</a>
				<a href="#" class="breadcrumbs__item">Выбор этажа</a>
				<a class="breadcrumbs__item">Этаж 24</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#APARTMENT-DETAIL#}
	<div class="inner-page inner-page_floor">
		<div class="inner-page__container container">
			<div class="inner-page__title">Этаж <span class="inner-page__floor-number">24</span></div>

			{#FLOOR-DETAILS#}
			<div class="floor-details">
				<div class="floor-details__nav">
					{#FLOOR-NAV#}
					<div class="floor-nav">
						<a href="#" class="floor-nav__arrow floor-nav__arrow_up">
							<i class="icon icon-up"></i>
						</a>
						<div class="floor-nav__items">
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">15</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">16</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link floor-nav__link_active">
								<span class="floor-nav__link-name">17</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">18</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">19</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
						</div>
						<a href="#" class="floor-nav__arrow floor-nav__arrow_down">
							<i class="icon icon-down"></i>
						</a>
					</div>
					{#/FLOOR-NAV#}
				</div>
				<div class="floor-details__content">
					{#FLOOR#}
					<div class="floor">
						<div class="floor__inner-wrap">
							<div class="floor__descr">Вид на город</div>
							<div class="floor__descr floor__descr_right">Вид во двор</div>
							<div class="floor__descr floor__descr_left">Вид во двор</div>
							<div class="floor__plan-wrap">
								<div class="floor__image-wrap">
									<div class="floor__image" style="background-image: url(../img/floor-2.png)"></div>
									<div class="floor__hover">
										<svg
											version="1.1"
											xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px"
											y="0px"
											width="592.9px"
											height="725.8px"
											viewBox="0 0 592.9 725.8"
											enable-background="new 0 0 592.9 725.8"
											xml:space="preserve"
											class="floor__svg-back">
											<g>
												<polygon
													fill="transparent"
													data-flat-id="flat001"
													data-flat="1"
													data-href="#"
													data-price="12 451 001"
													data-rooms="3"
													data-area="72"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="519.4,128.1 590,128.1 590,263.6 492.4,263.6 492.4,155.4 519.4,155.4 519.4,128.1"/>
												<polygon
													fill="transparent"
													data-flat-id="flat003"
													data-flat="3"
													data-href="#"
													data-price="1 900 001"
													data-rooms="4"
													data-area="72,01"
													data-finished="С отделкой"
													class="floor__flat-back"
													points="401.5,155.2 461.6,155.2 461.6,165.3 490.4,165.3 490.4,263.7 401.5,263.7 401.5,155.2"/>
												<polygon
													fill="transparent"
													data-flat-id="flat004"
													data-flat="4"
													data-href="#"
													data-price="2 020 111"
													data-rooms="2"
													data-area="38,99"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="301.8,263.3 399.1,263.3 399.1,156.1 301.8,156.1 301.8,263.3"/>
												<polygon
													fill="transparent"
													data-flat-id="flat005"
													data-flat="5"
													data-href="#"
													data-price="10 091 456"
													data-rooms="3"
													data-area="62,5"
													data-finished="С отделкой"
													class="floor__flat-back"
													points="307.1,128.1 444.6,128.1 444.6,1.4 307.1,1.4 307.1,128.1"/>
												<polygon
													fill="transparent"
													data-flat-id="flat006"
													data-flat="6"
													data-href="#"
													data-price="3 404 091"
													data-rooms="2"
													data-area="45,5"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="447.1,128.1 584.6,128.1 584.6,1.4 447.1,1.4 447.1,128.1"/>
												<polygon
													fill="transparent"
													data-flat-id="flat007"
													data-flat="7"
													data-href="#"
													data-price="1 000 781"
													data-rooms="5"
													data-area="15"
													data-finished="С отделкой"
													class="floor__flat-back"
													points="124.6,2.9 263.8,2.9 263.8,102.3 236.3,102.3 236.3,128.1 171.8,128.1 171.8,122.3 125,122.3 125,128.1 124.6,128.1 124.6,2.9"/>
												<polygon
													fill="transparent"
													data-flat-id="flat008"
													data-flat="8"
													data-href="#"
													data-price="22 009 000"
													data-rooms="1"
													data-area="110,99"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="150.9,349.6 253.8,349.6 253.8,257.1 150.9,257.1 150.9,349.6"/>
												<polygon
													fill="transparent"
													data-flat-id="flat009"
													data-flat="9"
													data-href="#"
													data-price="7 963 001"
													data-rooms="3"
													data-area="20,09"
													data-finished="С отделкой"
													class="floor__flat-back"
													points="150.5,441.1 253.8,441.1 253.8,345.6 150.5,345.6 150.5,441.1"/>
												<polygon
													fill="transparent"
													data-flat-id="flat010"
													data-flat="10"
													data-href="#"
													data-price="5 543 987"
													data-rooms="2"
													data-area="43,7"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="150.5,627.3 253.8,627.3 253.8,441.1 150.5,441.1 150.5,627.3"/>
												<polygon
													fill="transparent"
													data-flat-id="flat011"
													data-flat="11"
													data-href="#"
													data-price="7 020 009"
													data-rooms="1"
													data-area="98,22"
													data-finished="С отделкой"
													class="floor__flat-back"
													points="0,627.3 117.2,627.3 117.2,650.5 148.9,650.5 148.9,627.3 246.5,627.3 246.5,725.8 0,725.8 0,627.3"/>
												<polygon
													fill="transparent"
													data-flat-id="flat012"
													data-flat="12"
													data-href="#"
													data-price="9 777 187"
													data-rooms="4"
													data-area="122"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="2.3,625.3 125.4,625.3 125.4,534.3 2.3,534.3 2.3,625.3 "/>
												<polygon
													fill="transparent"
													data-flat-id="flat013"
													data-flat="13"
													data-href="#"
													data-price="10 331 121"
													data-rooms="2"
													data-area="25,88"
													data-finished="С отделкой"
													class="floor__flat-back"
													points="1.9,399.3 99.6,399.3 99.6,442.7 123.6,442.7 123.6,534.6 1.9,534.6 1.9,399.3"/>
												<polygon
													fill="transparent"
													data-flat-id="flat014"
													data-flat="14"
													data-href="#"
													data-price="1 999 014"
													data-rooms="1"
													data-area="47,9"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="1.4,217 124.7,217 124.7,307.3 101.1,307.3 101.1,354.3 1.4,354.3 1.4,217"/>
												<polygon
													fill="transparent"
													data-flat-id="flat015"
													data-flat="15"
													data-href="#"
													data-price="8 231 908"
													data-rooms="5"
													data-area="32,05"
													data-finished="С отделкой"
													class="floor__flat-back"
													points="1.4,217 125.4,217 125.4,5 1.4,5 1.4,217"/>
											</g>
										</svg>
									</div>
									<div class="floor__hover">
										<svg
											version="1.1"
											xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px"
											y="0px"
											width="592.9px"
											height="725.8px"
											viewBox="0 0 592.9 725.8"
											enable-background="new 0 0 592.9 725.8"
											xml:space="preserve"
											class="floor__svg">
											<g>
												<polygon
													fill="transparent"
													data-flat-id="flat001"
													data-flat="1"
													data-href="#"
													data-price="12 451 001"
													data-rooms="3"
													data-area="72"
													data-finished="Без отделки"
													class="floor__flat"
													points="519.4,128.1 590,128.1 590,263.6 492.4,263.6 492.4,155.4 519.4,155.4 519.4,128.1"/>
												<polygon
													fill="transparent"
													data-flat-id="flat003"
													data-flat="3"
													data-href="#"
													data-price="1 900 001"
													data-rooms="4"
													data-area="72,01"
													data-finished="С отделкой"
													class="floor__flat"
													points="401.5,155.2 461.6,155.2 461.6,165.3 490.4,165.3 490.4,263.7 401.5,263.7 401.5,155.2"/>
												<polygon
													fill="transparent"
													data-flat-id="flat004"
													data-flat="4"
													data-href="#"
													data-price="2 020 111"
													data-rooms="2"
													data-area="38,99"
													data-finished="Без отделки"
													class="floor__flat"
													points="301.8,263.3 399.1,263.3 399.1,156.1 301.8,156.1 301.8,263.3"/>
												<polygon
													fill="transparent"
													data-flat-id="flat005"
													data-flat="5"
													data-href="#"
													data-price="10 091 456"
													data-rooms="3"
													data-area="62,5"
													data-finished="С отделкой"
													class="floor__flat"
													points="307.1,128.1 444.6,128.1 444.6,1.4 307.1,1.4 307.1,128.1"/>
												<polygon
													fill="transparent"
													data-flat-id="flat006"
													data-flat="6"
													data-href="#"
													data-price="3 404 091"
													data-rooms="2"
													data-area="45,5"
													data-finished="Без отделки"
													class="floor__flat"
													points="447.1,128.1 584.6,128.1 584.6,1.4 447.1,1.4 447.1,128.1"/>
												<polygon
													fill="transparent"
													data-flat-id="flat007"
													data-flat="7"
													data-href="#"
													data-price="1 000 781"
													data-rooms="5"
													data-area="15"
													data-finished="С отделкой"
													class="floor__flat"
													points="124.6,2.9 263.8,2.9 263.8,102.3 236.3,102.3 236.3,128.1 171.8,128.1 171.8,122.3 125,122.3 125,128.1 124.6,128.1 124.6,2.9"/>
												<polygon
													fill="transparent"
													data-flat-id="flat008"
													data-flat="8"
													data-href="#"
													data-price="22 009 000"
													data-rooms="1"
													data-area="110,99"
													data-finished="Без отделки"
													class="floor__flat"
													points="150.9,349.6 253.8,349.6 253.8,257.1 150.9,257.1 150.9,349.6"/>
												<polygon
													fill="transparent"
													data-flat-id="flat009"
													data-flat="9"
													data-href="#"
													data-price="7 963 001"
													data-rooms="3"
													data-area="20,09"
													data-finished="С отделкой"
													class="floor__flat"
													points="150.5,441.1 253.8,441.1 253.8,345.6 150.5,345.6 150.5,441.1"/>
												<polygon
													fill="transparent"
													data-flat-id="flat010"
													data-flat="10"
													data-href="#"
													data-price="5 543 987"
													data-rooms="2"
													data-area="43,7"
													data-finished="Без отделки"
													class="floor__flat"
													points="150.5,627.3 253.8,627.3 253.8,441.1 150.5,441.1 150.5,627.3"/>
												<polygon
													fill="transparent"
													data-flat-id="flat011"
													data-flat="11"
													data-href="#"
													data-price="7 020 009"
													data-rooms="1"
													data-area="98,22"
													data-finished="С отделкой"
													class="floor__flat"
													points="0,627.3 117.2,627.3 117.2,650.5 148.9,650.5 148.9,627.3 246.5,627.3 246.5,725.8 0,725.8 0,627.3"/>
												<polygon
													fill="transparent"
													data-flat-id="flat012"
													data-flat="12"
													data-href="#"
													data-price="9 777 187"
													data-rooms="4"
													data-area="122"
													data-finished="Без отделки"
													class="floor__flat"
													points="2.3,625.3 125.4,625.3 125.4,534.3 2.3,534.3 2.3,625.3 "/>
												<polygon
													fill="transparent"
													data-flat-id="flat013"
													data-flat="13"
													data-href="#"
													data-price="10 331 121"
													data-rooms="2"
													data-area="25,88"
													data-finished="С отделкой"
													class="floor__flat"
													points="1.9,399.3 99.6,399.3 99.6,442.7 123.6,442.7 123.6,534.6 1.9,534.6 1.9,399.3"/>
												<polygon
													fill="transparent"
													data-flat-id="flat014"
													data-flat="14"
													data-href="#"
													data-price="1 999 014"
													data-rooms="1"
													data-area="47,9"
													data-finished="Без отделки"
													class="floor__flat"
													points="1.4,217 124.7,217 124.7,307.3 101.1,307.3 101.1,354.3 1.4,354.3 1.4,217"/>
												<polygon
													fill="transparent"
													data-flat-id="flat015"
													data-flat="15"
													data-href="#"
													data-price="8 231 908"
													data-rooms="5"
													data-area="32,05"
													data-finished="С отделкой"
													class="floor__flat"
													points="1.4,217 125.4,217 125.4,5 1.4,5 1.4,217"/>
											</g>
										</svg>
									</div>
								</div>
								{#FLOOR-LABELS#}
								<div class="floor-labels">
									<a
										href="#"
										data-flat-id="flat001"
										class="floor-labels__item"
										style="top: 21%; left: 85%;"
									>
										<div class="floor-labels__number">3 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat003"
										class="floor-labels__item"
										style="top: 23%; left: 70%;"
									>
										<div class="floor-labels__number">4 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat004"
										class="floor-labels__item"
										style="top: 23%; left: 54%;"
									>
										<div class="floor-labels__number">2 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat005"
										class="floor-labels__item"
										style="top: 4%; left: 58%;"
									>
										<div class="floor-labels__number">3 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat006"
										class="floor-labels__item"
										style="top: 4%; left: 82%;"
									>
										<div class="floor-labels__number">2 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat007"
										class="floor-labels__item"
										style="top: 4%; left: 27%;"
									>
										<div class="floor-labels__number">5 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat008"
										class="floor-labels__item"
										style="top: 37%; left: 26%;"
									>
										<div class="floor-labels__number">1 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat009"
										class="floor-labels__item"
										style="top: 49%; left: 26%;"
									>
										<div class="floor-labels__number">3 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat010"
										class="floor-labels__item"
										style="top: 69%; left: 26%;"
									>
										<div class="floor-labels__number">2 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat011"
										class="floor-labels__item"
										style="top: 87%; left: 10%;"
									>
										<div class="floor-labels__number">2 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat012"
										class="floor-labels__item"
										style="top: 75%; left: 4%;"
									>
										<div class="floor-labels__number">4 ком.</div>
										<div class="floor-labels__text">
											249,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat013"
										class="floor-labels__item"
										style="top: 58%; left: 4%;"
									>
										<div class="floor-labels__number">3 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat014"
										class="floor-labels__item"
										style="top: 35%; left: 4%;"
									>
										<div class="floor-labels__number">1 ком.</div>
										<div class="floor-labels__text">
											149,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat015"
										class="floor-labels__item"
										style="top: 4%; left: 4%;"
									>
										<div class="floor-labels__number">5 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
								</div>
								{#/FLOOR-LABELS#}

								{#FLAT-TOOLTIP#}
								<div class="flat-tooltip">
									<div class="flat-tooltip__inner">
										<div class="flat-tooltip__title">
											Квартира №<span class="flat-tooltip__number"></span>
										</div>
										<div class="flat-tooltip__info">
											<div class="flat-tooltip__info-text">
												Площадь:
												<span class="flat-tooltip__area"></span>
												m<sup>2</sup>
											</div>
											<div class="flat-tooltip__info-text">
												Количество комнат:
												<span class="flat-tooltip__rooms"></span>
											</div>
											<div class="flat-tooltip__info-text flat-tooltip__finished"></div>
										</div>
										<div class="flat-tooltip__price-wrap">
											<span class="flat-tooltip__price"></span>
											<span class="flat-tooltip__currency"> ₽</span>
										</div>
									</div>
								</div>
								{#/FLAT-TOOLTIP#}
							</div>
							<div class="floor__area-info">
								Общая площадь
								<span class="floor__area">360,2</span>
								м<sup>2</sup>
							</div>
						</div>
					</div>
					{#/FLOOR#}
				</div>
				<div class="floor-details__right">
					{#PLANS#}
					<div class="plans">
						<div class="plans__compass">
							<img src="img/compass.svg" alt="" class="plans__compass__img">
						</div>
						<div class="plans__wrap">
							<div class="plans__item">
							<div class="plan">
								<div class="plan__title">Генплан</div>
								<div class="plan__align">
									<div class="floor-details__svg-wrap">
										<svg version="1.1" id="genplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="161px" height="65px" viewBox="0 0 161 65" enable-background="new 0 0 161 65" xml:space="preserve">
											<g>
												<path
													fill="#F0803E"
													d="M105.7,11.8v19.8H53.1V11.8H105.7 M107.7,9.8H51.1v23.8h56.6V9.8L107.7,9.8z"
												/>
												<path
													fill="#F0803E"
													d="M158.3,18.3l-12.8,44.2l-16.2-5.4v-17v-2h-2h-19.8V18.3H158.3 M161,16.3h-55.5v23.8h21.8v18.4 l19.6,6.5L161,16.3L161,16.3z"
												/>
												<path
													fill="#F0803E"
													d="M2,2l49.3,0v19.8H22.8h-2v2V63L2,63V23.2v-7.3V2 M0,0v15.8v7.3V65l22.8,0V23.8h30.5V0L0,0z"
												/>
											</g>
											<g>
												<polygon
													opacity="0"
													fill="#F0803E"
													points="1,1 52.3,1 52.3,22.8 21.8,22.8 21.8,64 1,64"
												/>
												<polygon
													opacity="1"
													fill="#F0803E"
													points="106.5,10.8 106.5,32.5 52.3,32.5 52.3,10.6"
												/>
												<polygon
													opacity="0"
													fill="#F0803E"
													points="159.8,17.1 146.1,63 128.3,57.1 128.3,39 106.5,39 106.5,17.1"
												/>
											</g>
										</svg>
									</div>
									<div class="plan__text-wrap">
										<div class="plan__text plan__text_left">1</div>
										<div class="plan__text plan__text_center plan__text_active">2</div>
										<div class="plan__text plan__text_right">3</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
					{#/PLANS#}
				</div>
			</div>
			{#/FLOOR-DETAILS#}
		</div>
	</div>
	{#/APARTMENT-DETAIL#}
{% endblock %}