{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Выбор квартиры</a>
				<a href="#" class="breadcrumbs__item">Выбор корпуса</a>
				<a href="#" class="breadcrumbs__item">Выбор этажа</a>
				<a class="breadcrumbs__item">Этаж 24</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#APARTMENT-DETAIL#}
	<div class="inner-page inner-page_floor">
		<div class="inner-page__container container">
			<div class="inner-page__title">Этаж <span class="inner-page__floor-number">24</span></div>

			{#FLOOR-DETAILS#}
			<div class="floor-details">
				<div class="floor-details__nav">
					{#FLOOR-NAV#}
					<div class="floor-nav">
						<a href="#" class="floor-nav__arrow floor-nav__arrow_up">
							<i class="icon icon-up"></i>
						</a>
						<div class="floor-nav__items">
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">15</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">16</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link floor-nav__link_active">
								<span class="floor-nav__link-name">17</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">18</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">19</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
						</div>
						<a href="#" class="floor-nav__arrow floor-nav__arrow_down">
							<i class="icon icon-down"></i>
						</a>
					</div>
					{#/FLOOR-NAV#}
				</div>
				<div class="floor-details__content">
					{#FLOOR#}
					<div class="floor">
						<div class="floor__inner-wrap">
							<div class="floor__descr">Вид на город</div>
							<div class="floor__descr floor__descr_right">Вид во двор</div>
							<div class="floor__descr floor__descr_left">Вид во двор</div>
							<div class="floor__plan-wrap">
								<div class="floor__image-wrap">
									<div class="floor__image" style="background-image: url(../img/floor-3.png)"></div>
									<div class="floor__hover">
										<svg
											version="1.1"
											xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px" y="0px"
											width="436.8px"
											height="534.6px"
											viewBox="0 0 436.8 534.6"
											enable-background="new 0 0 436.8 534.6"
											xml:space="preserve"
											class="floor__svg-back"
										>
											<g>
												<polygon
													fill="transparent"
													data-flat-id="flat001"
													data-flat="1"
													data-href="#"
													data-price="12 451 001"
													data-rooms="3"
													data-area="72"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="320.5,383.5 218.1,352.7 204.1,351.7 201.6,283.3 230.3,285.1 271.8,157 379.3,187 320.5,383.5"/>
												<polygon
													fill="transparent"
													data-flat-id="flat002"
													data-flat="3"
													data-href="#"
													data-price="1 900 001"
													data-rooms="4"
													data-area="72,01"
													data-finished="С отделкой"
													class="floor__flat-back"
													points="3.3,1.5 107.3,1.5 107.3,128.5 3.3,128.5 3.3,1.5"/>
												<polygon
													fill="transparent"
													data-flat-id="flat003"
													data-flat="4"
													data-href="#"
													data-price="2 020 111"
													data-rooms="2"
													data-area="38,99"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="253.8,127.2 106.9,127.2 106.9,1.3 253.8,1.3 253.8,127.2"/>
												<polygon
													fill="transparent"
													data-flat-id="flat004"
													data-flat="8"
													data-href="#"
													data-price="22 009 000"
													data-rooms="1"
													data-area="110,99"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="375.6,186.3 268.5,154.1 252.7,153.9 252.7,3.4 398.8,3.8 400.6,1.9 435,2.1 420.6,54.6 402.8,109.6 399.2,109.3 375.6,186.3"/>
												<polygon
													fill="transparent"
													data-flat-id="flat005"
													data-flat="5"
													data-href="#"
													data-price="10 091 456"
													data-rooms="3"
													data-area="62,5"
													data-finished="С отделкой"
													class="floor__flat-back"
													points="69.1,263.8 176.2,263.8 175.9,431.8 185.8,434.4 167,499.6 66.7,470.8 69.1,263.8"/>
												<polygon
													fill="transparent"
													data-flat-id="flat006"
													data-flat="6"
													data-href="#"
													data-price="3 404 091"
													data-rooms="2"
													data-area="45,5"
													data-finished="Без отделки"
													class="floor__flat-back"
													points="175.5,431.1 177,351.7 204.1,351.7 217.4,352.5 316.3,381.1 276.1,527.5 166.3,498.2 184.5,434.6 175.5,431.1"/>
											</g>
										</svg>
									</div>
									<div class="floor__hover">
										<svg
											version="1.1"
											xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px" y="0px"
											width="436.8px"
											height="534.6px"
											viewBox="0 0 436.8 534.6"
											enable-background="new 0 0 436.8 534.6"
											xml:space="preserve"
											class="floor__svg"
										>
											<g>
												<polygon
													fill="transparent"
													data-flat-id="flat001"
													data-flat="1"
													data-href="#"
													data-price="12 451 001"
													data-rooms="3"
													data-area="72"
													data-finished="Без отделки"
													class="floor__flat"
													points="320.5,383.5 218.1,352.7 204.1,351.7 201.6,283.3 230.3,285.1 271.8,157 379.3,187 320.5,383.5"/>
												<polygon
													fill="transparent"
													data-flat-id="flat002"
													data-flat="3"
													data-href="#"
													data-price="1 900 001"
													data-rooms="4"
													data-area="72,01"
													data-finished="С отделкой"
													class="floor__flat"
													points="3.3,1.5 107.3,1.5 107.3,128.5 3.3,128.5 3.3,1.5"/>
												<polygon
													fill="transparent"
													data-flat-id="flat003"
													data-flat="4"
													data-href="#"
													data-price="2 020 111"
													data-rooms="2"
													data-area="38,99"
													data-finished="Без отделки"
													class="floor__flat"
													points="253.8,127.2 106.9,127.2 106.9,1.3 253.8,1.3 253.8,127.2"/>
												<polygon
													fill="transparent"
													data-flat-id="flat004"
													data-flat="8"
													data-href="#"
													data-price="22 009 000"
													data-rooms="1"
													data-area="110,99"
													data-finished="Без отделки"
													class="floor__flat"
													points="375.6,186.3 268.5,154.1 252.7,153.9 252.7,3.4 398.8,3.8 400.6,1.9 435,2.1 420.6,54.6 402.8,109.6 399.2,109.3 375.6,186.3"/>
												<polygon
													fill="transparent"
													data-flat-id="flat005"
													data-flat="5"
													data-href="#"
													data-price="10 091 456"
													data-rooms="3"
													data-area="62,5"
													data-finished="С отделкой"
													class="floor__flat"
													points="69.1,263.8 176.2,263.8 175.9,431.8 185.8,434.4 167,499.6 66.7,470.8 69.1,263.8"/>
												<polygon
													fill="transparent"
													data-flat-id="flat006"
													data-flat="6"
													data-href="#"
													data-price="3 404 091"
													data-rooms="2"
													data-area="45,5"
													data-finished="Без отделки"
													class="floor__flat"
													points="175.5,431.1 177,351.7 204.1,351.7 217.4,352.5 316.3,381.1 276.1,527.5 166.3,498.2 184.5,434.6 175.5,431.1"/>
											</g>
										</svg>
									</div>
								</div>
								{#FLOOR-LABELS#}
								<div class="floor-labels">
									<a
										href="#"
										data-flat-id="flat001"
										class="floor-labels__item"
										style="top: 43%; left: 58%;"
									>
										<div class="floor-labels__number">2 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat002"
										class="floor-labels__item"
										style="top: 4%; left: 4%;"
									>
										<div class="floor-labels__number">4 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat003"
										class="floor-labels__item"
										style="top: 4%; left: 34%;"
									>
										<div class="floor-labels__number">3 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat004"
										class="floor-labels__item"
										style="top: 4%; left: 67%;"
									>
										<div class="floor-labels__number">1 ком.</div>
										<div class="floor-labels__text">
											449,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat005"
										class="floor-labels__item"
										style="top: 60%; left: 18%;"
									>
										<div class="floor-labels__number">5 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat006"
										class="floor-labels__item"
										style="top: 70%; left: 46%;"
									>
										<div class="floor-labels__number">5 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
								</div>
								{#/FLOOR-LABELS#}

								{#FLAT-TOOLTIP#}
								<div class="flat-tooltip">
									<div class="flat-tooltip__inner">
										<div class="flat-tooltip__title">
											Квартира №<span class="flat-tooltip__number"></span>
										</div>
										<div class="flat-tooltip__info">
											<div class="flat-tooltip__info-text">
												Площадь:
												<span class="flat-tooltip__area"></span>
												m<sup>2</sup>
											</div>
											<div class="flat-tooltip__info-text">
												Количество комнат:
												<span class="flat-tooltip__rooms"></span>
											</div>
											<div class="flat-tooltip__info-text flat-tooltip__finished"></div>
										</div>
										<div class="flat-tooltip__price-wrap">
											<span class="flat-tooltip__price"></span>
											<span class="flat-tooltip__currency"> ₽</span>
										</div>
									</div>
								</div>
								{#/FLAT-TOOLTIP#}
							</div>
							<div class="floor__area-info">
								Общая площадь
								<span class="floor__area">360,2</span>
								м<sup>2</sup>
							</div>
						</div>
					</div>
					{#/FLOOR#}
				</div>
				<div class="floor-details__right">
					{#PLANS#}
					<div class="plans">
						<div class="plans__compass">
							<img src="img/compass.svg" alt="" class="plans__compass__img">
						</div>
						<div class="plans__wrap">
							<div class="plans__item">
							<div class="plan">
								<div class="plan__title">Генплан</div>
								<div class="plan__align">
									<div class="floor-details__svg-wrap">
										<svg version="1.1" id="genplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="161px" height="65px" viewBox="0 0 161 65" enable-background="new 0 0 161 65" xml:space="preserve">
											<g>
												<path
													fill="#F0803E"
													d="M105.7,11.8v19.8H53.1V11.8H105.7 M107.7,9.8H51.1v23.8h56.6V9.8L107.7,9.8z"
												/>
												<path
													fill="#F0803E"
													d="M158.3,18.3l-12.8,44.2l-16.2-5.4v-17v-2h-2h-19.8V18.3H158.3 M161,16.3h-55.5v23.8h21.8v18.4 l19.6,6.5L161,16.3L161,16.3z"
												/>
												<path
													fill="#F0803E"
													d="M2,2l49.3,0v19.8H22.8h-2v2V63L2,63V23.2v-7.3V2 M0,0v15.8v7.3V65l22.8,0V23.8h30.5V0L0,0z"
												/>
											</g>
											<g>
												<polygon
													opacity="0"
													fill="#F0803E"
													points="1,1 52.3,1 52.3,22.8 21.8,22.8 21.8,64 1,64"
												/>
												<polygon
													opacity="1"
													fill="#F0803E"
													points="106.5,10.8 106.5,32.5 52.3,32.5 52.3,10.6"
												/>
												<polygon
													opacity="0"
													fill="#F0803E"
													points="159.8,17.1 146.1,63 128.3,57.1 128.3,39 106.5,39 106.5,17.1"
												/>
											</g>
										</svg>
									</div>
									<div class="plan__text-wrap">
										<div class="plan__text plan__text_left">1</div>
										<div class="plan__text plan__text_center plan__text_active">2</div>
										<div class="plan__text plan__text_right">3</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
					{#/PLANS#}
				</div>
			</div>
			{#/FLOOR-DETAILS#}
		</div>
	</div>
	{#/APARTMENT-DETAIL#}
{% endblock %}