{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% block content %}
	{#BREADCRUMBS#}
	<div class="breadcrumbs">
		<div class="breadcrumbs__container container">
			<div class="breadcrumbs__list">
				<a href="#" class="breadcrumbs__item">Главная</a>
				<a href="#" class="breadcrumbs__item">Выбор квартиры</a>
				<a href="#" class="breadcrumbs__item">Выбор корпуса</a>
				<a href="#" class="breadcrumbs__item">Выбор этажа</a>
				<a class="breadcrumbs__item">Этаж 24</a>
			</div>
		</div>
	</div>
	{#/BREADCRUMBS#}

	{#APARTMENT-DETAIL#}
	<div class="inner-page inner-page_floor">
		<div class="inner-page__container container">
			<div class="inner-page__title">Этаж <span class="inner-page__floor-number">24</span></div>

			{#FLOOR-DETAILS#}
			<div class="floor-details">
				<div class="floor-details__nav">
					{#FLOOR-NAV#}
					<div class="floor-nav">
						<a href="#" class="floor-nav__arrow floor-nav__arrow_up">
							<i class="icon icon-up"></i>
						</a>
						<div class="floor-nav__items">
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">15</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">16</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link floor-nav__link_active">
								<span class="floor-nav__link-name">17</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">18</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
							<a href="#" class="floor-nav__link">
								<span class="floor-nav__link-name">19</span>
								<span class="floor-nav__link-text">этаж</span>
							</a>
						</div>
						<a href="#" class="floor-nav__arrow floor-nav__arrow_down">
							<i class="icon icon-down"></i>
						</a>
					</div>
					{#/FLOOR-NAV#}
				</div>
				<div class="floor-details__content">
					{#FLOOR#}
					<div class="floor">
						<div class="floor__inner-wrap">
							<div class="floor__descr">Вид на город</div>
							<div class="floor__descr floor__descr_right">Вид во двор</div>
							<div class="floor__descr floor__descr_left">Вид во двор</div>
							<div class="floor__plan-wrap">
								<div class="floor__image-wrap">
									<div class="floor__image" style="background-image: url(../img/floor.png)"></div>
									<div class="floor__hover">
										<svg
											version="1.1"
											xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px"
											y="0px"
											width="780px"
											height="406.5px"
											viewBox="-43.7 292.9 780 406.5"
											enable-background="new -43.7 292.9 780 406.5"
											xml:space="preserve" class="floor__svg-back">
											<g>
												<polygon
													data-flat-id="flat001"
													data-flat="1"
													data-href="#"
													data-price="4 356 789"
													data-rooms="2"
													data-area="32,05"
													data-finished="С отделкой"
													class="floor__flat-back"
													fill="transparent"
													points="-34.4,293.4 271.1,293.4 271.1,443.3 221.2,443.3 221.2,471.5 120.5,471.5 120.5,481.3 -34.4,481.3"/>
												<polygon
													data-flat-id="flat002"
													data-flat="2"
													data-href="#"
													data-price="7 330 050"
													data-rooms="4"
													data-area="47,9"
													data-finished="Без отделки"
													class="floor__flat-back"
													fill="transparent"
													points="485.3,295.7 726.8,295.7 726.8,457.2 730.4,457.2 730.4,698.5 651,698.5 651,525.1 609.6,525.1 609.6,484.2 485.3,484.2"/>
												<polygon
													data-flat-id="flat003"
													data-flat="3"
													data-href="#"
													data-price="12 090 999"
													data-rooms="5"
													data-area="25,88"
													data-finished="С отделкой"
													class="floor__flat-back"
													fill="transparent"
													points="646.7,526.6 495.6,526.6 495.6,540.2 417.6,540.2 417.6,698.7 646.7,698.7"/>
												<polygon
													data-flat-id="flat004"
													data-flat="4"
													data-href="#"
													data-price="2 000 111"
													data-rooms="1"
													data-area="122"
													data-finished="Без отделки"
													class="floor__flat-back"
													fill="transparent"
													points="190.2,526.6 340.2,526.6 340.2,540.2 417.6,540.2 417.6,697.1 190.2,697.1"/>
												<polygon
													data-flat-id="flat005"
													data-flat="5"
													data-href="#"
													data-price="1 678 909"
													data-rooms="3"
													data-area="41,45"
													data-finished="Без отделки"
													class="floor__flat-back"
													fill="transparent"
													points="-39,527.7 -33.6,527.7 -33.6,485.1 14.2,485.1 14.2,527.3 188,527.7 188,699.2 -39,699.2"/>
											</g>
										</svg>
									</div>
									<div class="floor__hover">
										<svg
											version="1.1"
											xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink"
											x="0px"
											y="0px"
											width="780px"
											height="406.5px"
											viewBox="-43.7 292.9 780 406.5"
											enable-background="new -43.7 292.9 780 406.5"
											xml:space="preserve" class="floor__svg">
											<g>
												<polygon
													data-flat-id="flat001"
													data-flat="1"
													data-href="#"
													data-price="4 356 789"
													data-rooms="2"
													data-area="32,05"
													data-finished="С отделкой"
													class="floor__flat"
													fill="transparent"
													points="-34.4,293.4 271.1,293.4 271.1,443.3 221.2,443.3 221.2,471.5 120.5,471.5 120.5,481.3 -34.4,481.3"/>
												<polygon
													data-flat-id="flat002"
													data-flat="2"
													data-href="#"
													data-price="7 330 050"
													data-rooms="4"
													data-area="47,9"
													data-finished="Без отделки"
													class="floor__flat"
													fill="transparent"
													points="485.3,295.7 726.8,295.7 726.8,457.2 730.4,457.2 730.4,698.5 651,698.5 651,525.1 609.6,525.1 609.6,484.2 485.3,484.2"/>
												<polygon
													data-flat-id="flat003"
													data-flat="3"
													data-href="#"
													data-price="12 090 999"
													data-rooms="5"
													data-area="25,88"
													data-finished="С отделкой"
													class="floor__flat"
													fill="transparent"
													points="646.7,526.6 495.6,526.6 495.6,540.2 417.6,540.2 417.6,698.7 646.7,698.7"/>
												<polygon
													data-flat-id="flat004"
													data-flat="4"
													data-href="#"
													data-price="2 000 111"
													data-rooms="1"
													data-area="122"
													data-finished="Без отделки"
													class="floor__flat"
													fill="transparent"
													points="190.2,526.6 340.2,526.6 340.2,540.2 417.6,540.2 417.6,697.1 190.2,697.1"/>
												<polygon
													data-flat-id="flat005"
													data-flat="5"
													data-href="#"
													data-price="1 678 909"
													data-rooms="3"
													data-area="41,45"
													data-finished="Без отделки"
													class="floor__flat"
													fill="transparent"
													points="-39,527.7 -33.6,527.7 -33.6,485.1 14.2,485.1 14.2,527.3 188,527.7 188,699.2 -39,699.2"/>
											</g>
										</svg>
									</div>
								</div>
								{#FLOOR-LABELS#}
								<div class="floor-labels">
									<a
										href="#"
										data-flat-id="flat001"
										class="floor-labels__item"
										style="top: 12%; left:17%;"
									>
										<div class="floor-labels__number">2 ком.</div>
										<div class="floor-labels__text">
											34,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat002"
										class="floor-labels__item"
										style="top: 14%; left: 80%;"
									>
										<div class="floor-labels__number">4 ком.</div>
										<div class="floor-labels__text">
											103,09
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat003"
										class="floor-labels__item"
										style="top: 70%; left: 70%;"
									>
										<div class="floor-labels__number">3 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat004"
										class="floor-labels__item"
										style="top: 70%; left: 40%;"
									>
										<div class="floor-labels__number">1 ком.</div>
										<div class="floor-labels__text">
											19,35
											m<sup>2</sup>
										</div>
									</a>
									<a
										href="#"
										data-flat-id="flat005"
										class="floor-labels__item"
										style="top: 68%; left: 8%;"
									>
										<div class="floor-labels__number">5 ком.</div>
										<div class="floor-labels__text">
											49,35
											m<sup>2</sup>
										</div>
									</a>
								</div>
								{#/FLOOR-LABELS#}

								{#FLAT-TOOLTIP#}
								<div class="flat-tooltip">
									<div class="flat-tooltip__inner">
										<div class="flat-tooltip__title">
											Квартира №<span class="flat-tooltip__number"></span>
										</div>
										<div class="flat-tooltip__info">
											<div class="flat-tooltip__info-text">
												Площадь:
												<span class="flat-tooltip__area"></span>
												m<sup>2</sup>
											</div>
											<div class="flat-tooltip__info-text">
												Количество комнат:
												<span class="flat-tooltip__rooms"></span>
											</div>
											<div class="flat-tooltip__info-text flat-tooltip__finished"></div>
										</div>
										<div class="flat-tooltip__price-wrap">
											<span class="flat-tooltip__price"></span>
											<span class="flat-tooltip__currency"> ₽</span>
										</div>
									</div>
								</div>
								{#/FLAT-TOOLTIP#}
							</div>
							<div class="floor__area-info">
								Общая площадь
								<span class="floor__area">360,2</span>
								м<sup>2</sup>
							</div>
						</div>
					</div>
					{#/FLOOR#}
				</div>
				<div class="floor-details__right">
					<div class="plans">
						<div class="plans__compass">
							<img src="img/compass.svg" alt="" class="plans__compass__img">
						</div>
						<div class="plans__wrap">
							<div class="plans__item">
							<div class="plan">
								<div class="plan__title">Генплан</div>
								<div class="plan__align">
									<div class="floor-details__svg-wrap">
										<svg version="1.1" id="genplan" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="161px" height="65px" viewBox="0 0 161 65" enable-background="new 0 0 161 65" xml:space="preserve">
											<g>
												<path
													fill="#F0803E"
													d="M105.7,11.8v19.8H53.1V11.8H105.7 M107.7,9.8H51.1v23.8h56.6V9.8L107.7,9.8z"
												/>
												<path
													fill="#F0803E"
													d="M158.3,18.3l-12.8,44.2l-16.2-5.4v-17v-2h-2h-19.8V18.3H158.3 M161,16.3h-55.5v23.8h21.8v18.4 l19.6,6.5L161,16.3L161,16.3z"
												/>
												<path
													fill="#F0803E"
													d="M2,2l49.3,0v19.8H22.8h-2v2V63L2,63V23.2v-7.3V2 M0,0v15.8v7.3V65l22.8,0V23.8h30.5V0L0,0z"
												/>
											</g>
											<g>
												<polygon
													opacity="0"
													fill="#F0803E"
													points="1,1 52.3,1 52.3,22.8 21.8,22.8 21.8,64 1,64"
												/>
												<polygon
													opacity="1"
													fill="#F0803E"
													points="106.5,10.8 106.5,32.5 52.3,32.5 52.3,10.6"
												/>
												<polygon
													opacity="0"
													fill="#F0803E"
													points="159.8,17.1 146.1,63 128.3,57.1 128.3,39 106.5,39 106.5,17.1"
												/>
											</g>
										</svg>
									</div>
									<div class="plan__text-wrap">
										<div class="plan__text plan__text_left">1</div>
										<div class="plan__text plan__text_center plan__text_active">2</div>
										<div class="plan__text plan__text_right">3</div>
									</div>
								</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			{#/FLOOR-DETAILS#}
		</div>
	</div>
	{#/APARTMENT-DETAIL#}
{% endblock %}