{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}

{% set headerModifyerClass = 'main' %}

{% block content %}
	<div class="select-floors-page">
		<div class="select-floors-page__bg" style="background-image: url(../img/sky.jpg);"></div>
		{#BREADCRUMBS#}
		<div class="breadcrumbs">
			<div class="breadcrumbs__container container">
				<div class="breadcrumbs__list">
					<a href="#" class="breadcrumbs__item">Главная</a>
					<a href="#" class="breadcrumbs__item">Выбор квартиры</a>
					<a class="breadcrumbs__item">Выбор этажа</a>
				</div>
			</div>
		</div>
		{#/BREADCRUMBS#}

		{#SELECT-FLOORS-PAGE#}
		<div class="select-floors-page__inner-wrap">
			<div class="select-floors-page__content">
				<div class="select-floors-page__container container">
					<div class="select-floors-page__title-wrap">
						<div class="select-floors-page__title">Выбор этажа</div>
						<a href="#" class="btn btn_small">Выбор по параметрам</a>
					</div>
				</div>
			</div>
			<div class="select-floors-page__building">
				<div class="building wide-container">
					<div class="select-floors-page__labels">
						<div class="select-floors-page__label select-floors-page__label_left">Секция 1</div>
						<div class="select-floors-page__label select-floors-page__label_center">Секция 2</div>
						<div class="select-floors-page__label select-floors-page__label_right">Секция 3</div>
					</div>
					<div class="select-floors-page__compass">
						<img src="img/compass.svg" alt="" class="select-floors-page__compass-img">
					</div>
					<img src="img/building.png" alt="" class="building__image">
					<div class="building__floors-wrap">
						<svg version="1.1" id="hover" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="2150px" height="1009px" viewBox="0 0 2150 1009" enable-background="new 0 0 2150 1009" xml:space="preserve" class="building__floors">
						{% for section in building %}
							{% if loop.index === 1 %}
								<g class="building__section building__section_left">
									{% for floor in section %}
										<polygon
											id="{{ floor.id + (loop.revindex + 1) }}"
											class="building__floor"
											data-floor="{{ loop.revindex + 1 }}"
											data-href="{{ floor.href }}"
											data-sale="{{ [1,2,3,4,5,6,7,8,9] | random }}"
											data-finished="{{ [1,2,3,4,5,6,7,8,9] | random }}"
											data-price="{{ floor.price }}"
											transform="translate(0, -199)"
											opacity="0"
											fill="#F15C22"
											points="{{ floor.points }}"/>
									{% endfor %}
								</g>
								{% elif loop.index === 2 %}
								<g class="building__section building__section_center">
									{% for floor in section %}
										<polygon
											id="{{ floor.id + (loop.revindex + 1) }}"
											class="building__floor"
											data-floor="{{ loop.revindex + 1 }}"
											data-href="{{ floor.href }}"
											data-sale="{{ [1,2,3,4,5,6,7,8,9] | random }}"
											data-finished="{{ [1,2,3,4,5,6,7,8,9] | random }}"
											data-price="{{ floor.price }}"
											transform="translate(0, -199)"
											opacity="0"
											fill="#F15C22"
											points="{{ floor.points }}"/>
									{% endfor %}
								</g>
							{% else %}
								<g class="building__section building__section_right">
									{% for floor in section %}
										<polygon
											id="{{ floor.id + (loop.revindex + 1) }}"
											class="building__floor"
											data-floor="{{ loop.revindex + 1 }}"
											data-href="{{ floor.href }}"
											data-sale="{{ [1,2,3,4,5,6,7,8,9] | random }}"
											data-finished="{{ [1,2,3,4,5,6,7,8,9] | random }}"
											data-price="{{ floor.price }}"
											transform="translate(0, -199)"
											opacity="0"
											fill="#F15C22"
											points="{{ floor.points }}"/>
									{% endfor %}
								</g>
							{% endif %}
						{% endfor %}
					</svg>
					</div>
					<div class="floor-tooltip">
						<div class="floor-tooltip__tr"></div>
						<div class="floor-tooltip__inner">
							<div class="floor-tooltip__content">
								<div class="floor-tooltip__title">
									Этаж
									<span class="floor-tooltip__number"></span>
								</div>
								<div class="floor-tooltip__row">
									<div class="floor-tooltip__col">
										<div class="floor-tooltip__apartment floor-tooltip__apartment_sale"></div>
										<div class="floor-tooltip__text">в продаже</div>
									</div>
									<div class="floor-tooltip__col">
										<div class="floor-tooltip__apartment floor-tooltip__apartment_finished"></div>
										<div class="floor-tooltip__text">с отделкой</div>
									</div>
								</div>
								<div class="floor-tooltip__price-wrap">
									<span class="floor-tooltip__price-text">от</span>
									<span class="floor-tooltip__price"></span>
									<span class="floor-tooltip__currency">₽</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{#/SELECT-FLOORS-PAGE#}

		{#OPTIONS#}
		<div class="options options_apartment inner-page">
			<div class="options__container container">
				<div class="inner-page__title">Выбор по параметрам</div>

				{#FILTERS#}
				<div class="filters">
					<form>
						{#FILTERS LIST#}
						<div class="filters__list">
							{#HOUSE BLOCKS#}
							<div class="filters__block filters__block_house-block">
								<div class="filters__block-inner">
									<p class="filters__block-title">Корпуса</p>
									<div class="filters__block-list">
										<div class="filters__block-list-item">
											<input type="checkbox"
												   class="filters__block-list-item-input js-input-checkbox"
											>
											<div class="filters__block-list-item-style">1</div>
										</div>

										<div class="filters__block-list-item">
											<input type="checkbox"
												   class="filters__block-list-item-input js-input-checkbox"
											>
											<div class="filters__block-list-item-style">2</div>
										</div>

										<div class="filters__block-list-item">
											<input type="checkbox"
												   class="filters__block-list-item-input js-input-checkbox"
											>
											<div class="filters__block-list-item-style">3</div>
										</div>

										<div class="filters__block-list-item">
											<input type="checkbox"
												   class="filters__block-list-item-input js-input-checkbox"
											>
											<div class="filters__block-list-item-style">4</div>
										</div>
									</div>
								</div>
							</div>
							{#/HOUSE BLOCKS#}

							{#ROOMS COUNT#}
							<div class="filters__block filters__block_rooms">
								<div class="filters__block-inner">
									<p class="filters__block-title">Количество комнат</p>
									<div class="filters__block-list">
										<div class="filters__block-list-item">
											<input type="checkbox"
												   class="filters__block-list-item-input js-input-checkbox"
											>
											<div class="filters__block-list-item-style">1</div>
										</div>

										<div class="filters__block-list-item">
											<input type="checkbox"
												   class="filters__block-list-item-input js-input-checkbox"
											>
											<div class="filters__block-list-item-style">2</div>
										</div>

										<div class="filters__block-list-item">
											<input type="checkbox"
												   class="filters__block-list-item-input js-input-checkbox"
											>
											<div class="filters__block-list-item-style">3</div>
										</div>

										<div class="filters__block-list-item">
											<input type="checkbox"
												   class="filters__block-list-item-input js-input-checkbox"
											>
											<div class="filters__block-list-item-style">4</div>
										</div>
									</div>
								</div>
							</div>
							{#/ROOMS COUNT#}

							{#SQUARE#}
							<div class="filters__block filters__block_range filters__block_square">
								<div class="filters__block-inner">
									<p class="filters__block-title">Площадь</p>
									<div class="filters__range-wrap">
										<input type="text"
											   class="filters__range-input js-input-range"
											   id="options-square"
											   data-min="10"
											   data-from="45"
											   data-max="400"
											   data-to="300"
											   data-min-interval="50"
										>
									</div>
								</div>
							</div>
							{#/SQUARE#}

							{#COST#}
							<div class="filters__block filters__block_range filters__block_cost">
								<div class="filters__block-inner">
									<p class="filters__block-title">Стоимость</p>
									<div class="filters__range-wrap">
										<input type="text"
											   class="filters__range-input js-input-range"
											   id="options-cost"
											   data-min="5"
											   data-from="10"
											   data-max="400"
											   data-to="300"
											   data-min-interval="50"
										>
									</div>
								</div>
							</div>
							{#/COST#}

							{#FLOOR#}
							<div class="filters__block filters__block_range filters__block_floor">
								<div class="filters__block-inner">
									<p class="filters__block-title">Этаж</p>
									<div class="filters__range-wrap">
										<input type="text"
											   class="filters__range-input js-input-range"
											   id="options-floor"
											   data-min="1"
											   data-from="2"
											   data-max="20"
											   data-to="7"
											   data-min-interval="1"
										>
									</div>
								</div>
							</div>
							{#/FLOOR#}

							{#DECORATION#}
							<div class="filters__block filters__block_decoration">
								<div class="filters__block-inner">
									<label class="filters__block-label">
										<div class="filters__block-checkbox-wrap">
											<input type="checkbox"
												   class="filters__block-checkbox-input"
												   id="filters-checkbox-decor"
												   checked
											>
											<div class="filters__block-checkbox-input-style"></div>
										</div>
										<p class="filters__block-label-text">С отделкой</p>
									</label>
								</div>
							</div>
							{#/DECORATION#}

							{#RESET FILTERS#}
							<div class="filters__block filters__block_reset">
								<div class="filters__block-inner">
									<a href="#" class="filters__reset" id="filters-reset-button">
										<i class="filters__reset-icon"></i>
										<p class="filters__reset-text">Сбросить фильтр</p>
									</a>
								</div>
							</div>
							{#/RESET FILTERS#}
						</div>
						{#/FILTERS LIST#}
					</form>
				</div>
				{#/FILTERS#}

				{#FLATS#}
				<div class="flex-table flex-table_scroll" id="sorting-table">
					{#HEAD#}
					<div class="flex-table__head">
						<div class="flex-table__head-col flex-table__head-col_square js-table-head-col" data-sorting="square">
							<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Площадь
								<i class="icon-sort"></i>
							</span>
							</div>
						</div>

						<div class="flex-table__head-col flex-table__head-col_flat-number js-table-head-col" data-sorting="flat-number">
							<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Квартира
								<i class="icon-sort"></i>
							</span>
							</div>
						</div>

						<div class="flex-table__head-col flex-table__head-col_section js-table-head-col" data-sorting="section">
							<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Корпус
								<i class="icon-sort"></i>
							</span>
							</div>
						</div>

						<div class="flex-table__head-col flex-table__head-col_finish js-table-head-col" data-sorting="finish">
							<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Сдача
								<i class="icon-sort"></i>
							</span>
							</div>
						</div>

						<div class="flex-table__head-col flex-table__head-col_floor js-table-head-col" data-sorting="floor">
							<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Этаж
								<i class="icon-sort"></i>
							</span>
							</div>
						</div>

						<div class="flex-table__head-col flex-table__head-col_decoration js-table-head-col" data-sorting="decoration">
							<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Отделка
								<i class="icon-sort"></i>
							</span>
							</div>
						</div>

						<div class="flex-table__head-col flex-table__head-col_room js-table-head-col" data-sorting="room">
							<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Комнат
								<i class="icon-sort"></i>
							</span>
							</div>
						</div>

						<div class="flex-table__head-col flex-table__head-col_price js-table-head-col" data-sorting="price">
							<div class="flex-table__head-title">
							<span class="flex-table__head-text">
								Стоимость
								<i class="icon-sort"></i>
							</span>
							</div>
						</div>

						<div class="flex-table__head-col flex-table__head-col_discount"></div>

					</div>
					{#/HEAD#}

					{#LIST#}
					<div id="flats-list" class="flex-table__scroll-wrap">
						<div class="flex-table__body">
							{% for item in flats %}
								<div class="flex-table__body-row js-table-body-row" data-href="{{ item.href }}">
									<div class="flex-table__body-col flex-table__body-col_square" data-sorting="square">
										<span class="flex-table__text flex-table__text_hidden">Площадь:</span>
										<span class="flex-table__text js-table-sort-data">{{ item.square }}</span>
										<span class="flex-table__area">&nbsp;m<sup>2</sup></span>
									</div>

									<div class="flex-table__body-col flex-table__body-col_flat-number" data-sorting="flat-number">
										<span class="flex-table__text flex-table__text_title flex-table__text_hidden">Квартира</span>
										<span class="flex-table__text js-table-sort-data">{{ item.number }}</span>
									</div>

									<div class="flex-table__body-col flex-table__body-col_section" data-sorting="section">
										<span class="flex-table__text flex-table__text_hidden">Корпус</span>
										<span class="flex-table__text js-table-sort-data">{{ item.houseBlock }}</span>
									</div>

									<div class="flex-table__body-col flex-table__body-col_finish" data-sorting="finish">
										<span class="flex-table__text flex-table__text_hidden">Сдача:</span>
										<span class="flex-table__text js-table-sort-data">{{ item.finish }}</span>
									</div>

									<div class="flex-table__body-col flex-table__body-col_floor" data-sorting="floor">
										<span class="flex-table__text flex-table__text_hidden">Этаж</span>
										<span class="flex-table__text js-table-sort-data">{{ item.floor }}</span>
									</div>

									<div class="flex-table__body-col flex-table__body-col_decoration" data-sorting="decoration">
										<span class="flex-table__text flex-table__text_hidden">Отделка:</span>
										<span class="flex-table__text js-table-sort-data">{{ item.decoration }}</span>
									</div>

									<div class="flex-table__body-col flex-table__body-col_room" data-sorting="room">
										<span class="flex-table__text flex-table__text_hidden">Количество комнат:</span>
										<span class="flex-table__text js-table-sort-data">{{ item.room }}</span>
									</div>

									<div class="flex-table__body-col flex-table__body-col_price" data-sorting="price">
										{% if item.oldPrice !== "" %}
											<div class="flex-table__text flex-table__text_old-price">
												{{ item.oldPrice }}
												<span class="flex-table__currency"> ₽</span>
											</div>
										{% endif %}
										<div class="flex-table__text js-table-sort-data">
											{{ item.price }}
											<span class="flex-table__currency"> ₽</span>
										</div>
									</div>

									<div class="flex-table__body-col flex-table__body-col_discount">
										{% if item.discount  %}
											<img src="img/discount.svg" alt="" class="flex-table__discount-img">
										{% endif %}
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					{#/LIST#}
				</div>
				{#/FLATS#}
			</div>
		</div>
		{#/OPTIONS#}
	</div>
{% endblock %}