{% extends 'parts/layout.twig' %}

{% block title %}
	<title>ЖК "Карамельный" Жилой комплекс комфорт-класса</title>
{% endblock %}


{% block content %}
	<style>
		ul.index-list {
			height: 80vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	</style>

	<ul class="index-list">
		<li><a href="01_main.html">01. Main</a></li>
		<li><a href="02_docs.html">02. Docs</a></li>
		<li><a href="03_infrastructure.html">03. Infrastructure</a></li>
		<li><a href="04_about.html">04. About</a></li>
		<li><a href="05_news.html">05. News</a></li>
		<li><a href="05.1_news-detail.html">05.1 News detail</a></li>
		<li><a href="06_sales.html">06. Sales</a></li>
		<li><a href="07_conditions.html">07. Conditions</a></li>
		<li><a href="08_contacts.html">08. Contacts</a></li>
		<li><a href="09_options.html">09. Options</a></li>
		<li><a href="11_gallery.html">11. Gallery</a></li>
		<li><a href="12_construction.html">12. Construction</a></li>
		<li><a href="13_404-page.html">13. 404-page</a></li>
		<li><a href="14_mortgage.html">14. Mortgage</a></li>
		<li><a href="17_apartment-popup.html">17. Apartment popup</a></li>
		<li><a href="18_apartment-detail.html">18. Apartment detail</a></li>
		<li><a href="18-2_apartment-detail.html">18-2. Apartment detail</a></li>
		<li><a href="18-3_apartment-detail.html">18-3. Apartment detail</a></li>
		<li><a href="19_apartment.html">19. Apartment</a></li>
	</ul>

{% endblock %}
