.page-404 {
	padding: 50px 0;
	&__container {
		max-width: 1060px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}
	&__col {
		&_decor {
			text-align: center;
			margin-bottom: 50px;
		}
		&_about {
			padding: 0;
		}
	}
	&__decor-number {
		color: #ff8026;
		.bold();
		font-size: 104px;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 0.82px;
		position: relative;
		&:before {
			content: '';
			background: url('../img/angle-404.svg') no-repeat;
			background-size: 100%;
			position: absolute;
			width: 441px;
			height: 95px;
			left: 66px;
			top: 0;
			display: none;
		}
		&:after {
			content: "";
			width: 9999px;
			height: 12px;
			background-color: #ff8026;
			position: absolute;
			top: 0;
			left: calc(~"100% + 144px");
			display: none;
		}
	}
	&__decor-text {
		color: #484c50;
		.bold();
		font-size: 44px;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 0.82px;
		position: relative;
		&:after {
			content: '';
			width: 11px;
			height: 70px;
			background-color: #484c50;
			position: absolute;
			bottom: 0;
			right: 0;
			display: none;
		}
		&:before {
			content: '';
			width: 9999px;
			height: 11px;
			background-color: #484c50;
			position: absolute;
			right: 0;
			bottom: 0;
			display: none;
		}
	}
	&__title {
		color: #4a5158;
		.bold();
		font-size: 30px;
		line-height: 1.3;
		margin-bottom: 20px;
		&:first-letter {
			color: @orange-color;
		}
	}
	&__info {
		color: #495057;
		.regular();
		font-size: 18px;
		line-height: 1.5;
		margin-bottom: 30px;
	}

	.btn {
		display: inline-flex;
		width: 100%;
		padding: 0 20px;
	}
}

@media screen and (min-width: 500px) {
	.page-404 {
		padding: 70px 0;
		&__decor-number {
			font-size: 124px;
		}
		&__decor-text {
			font-size: 54px;
		}
		&__title {
			font-size: 35px;
		}
		&__info {
			font-size: 20px;
			line-height: 1.62;
			margin-bottom: 40px;
		}

		.btn {
			width: auto;
			padding: 0 40px;
		}
	}
}

@media screen and (min-width: 768px) {
	.page-404 {
		padding: 100px 0;
		&__col {
			&_decor {
				width: 354px;
				margin: 0 auto;
			}
			&_about {
				padding-top: 70px;
			}
		}
		&__decor-number {
			padding-top: 95px;
			font-size: 178px;
			line-height: 0.8;
			width: 100%;
			&:before {
				display: block;
			}
			&:after {
				display: block;
			}
		}
		&__decor-text {
			font-size: 74px;
			width: 100%;
			line-height: 0.58;
			padding-bottom: 70px;
			&:after {
				display: block;
			}
			&:before {
				display: block;
			}
		}
		&__title {
			font-size: 40px;
		}
	}
}

@media screen and (min-width: 1000px) {
	.page-404 {
		padding: 135px 0 175px;
		&__container {
			justify-content: flex-start;
			flex-wrap: inherit;
		}
		&__col {
			&_decor {
				width: 354px;
				margin: 0;
			}
			&_about {
				padding-top: 90px;
				padding-left: 134px;
			}
		}
	}
}