.flex-table {
	&_scroll {
		padding-bottom: 36px;
	}
	&__head {
		background-color: #f8f8f8;
		display: none;
		height: 70px;
	}
	&__head-title {}
	&__head-text {
		color: #4a5158;
		.bold();
		font-size: 18px;
		line-height: 1.2;
		display: flex;
		align-items: center;
		transition: color .3s ease;

		.icon-sort {
			display: block;
			width: 10px;
			height: 6px;
			border-style: solid;
			border-width: 6px 5px 0 5px;
			border-color: #4a5158 transparent transparent transparent;
			margin-left: 6px;
			transition: transform .15s ease, border-color .3s ease;

			.flex-table__head-col_top & {
				transform: rotate(180deg);
			}
		}
	}
	&__head-col {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
		cursor: pointer;
		user-select: none;
		&:hover {
			.flex-table__head-text {
				color: @orange-color;
			}
			.icon-sort {
				border-top-color: @orange-color;
			}
		}
		&_flat-number {
			max-width: 190px;
			width: 190px;
		}
		&_price {
			max-width: 200px;
			width: 200px;
			justify-content: flex-start;
		}
		&_section {
			max-width: 140px;
			width: 140px;
		}
		&_finish {
			max-width: 140px;
			width: 140px;
			justify-content: flex-start;
		}
		&_floor {
			max-width: 140px;
			width: 140px;
		}
		&_square {
			max-width: 170px;
			width: 170px;
		}
		&_decoration {
			max-width: 140px;
			width: 140px;
		}
		&_room {
			max-width: 140px;
			width: 140px;
		}
		&_discount {
			max-width: 100px;
			width: 100px;
		}

		&_name {
			max-width: 295px;
			width: 295px;
		}
		&_license {
			max-width: 430px;
			width: 430px;
			justify-content: flex-start;
		}
		&_rate {
			max-width: 200px;
			width: 200px;
		}
		&_payment {
			max-width: 200px;
			width: 200px;
		}
		&_time {
			max-width: 235px;
			width: 235px;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
	}
	&__body-row {
		border-bottom: 1px solid #ededed;
		display: flex;
		flex-wrap: wrap;
		padding-top: 10px;
		padding-bottom: 10px;
		transition: background-color .3s ease;
		cursor: pointer;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			background-color: rgba(240, 127, 60, 0.3);
		}
	}
	&__body-col {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		height: auto;
		margin-bottom: 25px;
		width: 100%;
		text-align: center;

		.flex-table_scroll & {
			flex-direction: row;
			align-items: flex-start;
			justify-content: flex-start;
			text-align: left;
			margin-bottom: 0;
		}

		&_square {
			order: 6;
			width: 60%;

			.flex-table_scroll & {
				align-items: baseline;
			}
		}
		&_flat-number {
			order: 0;
			width: 100%;
		}
		&_section {
			order: 5;
			width: 40%;
			padding-right: 10px;

			.flex-table_scroll & {
				margin-bottom: 5px;
			}
		}
		&_finish {
			order: 8;
			width: 60%;
		}
		&_floor {
			order: 7;
			width: 40%;
			padding-right: 10px;

			.flex-table_scroll & {
				margin-bottom: 5px;
			}
		}
		&_decoration {
			order: 3;
			width: 40%;
			padding-right: 10px;

			.flex-table_scroll & {
				margin-bottom: 5px;
			}
		}
		&_room {
			order: 4;
			width: 60%;
		}
		&_price {
			order: 1;
			width: 40%;
			padding-right: 10px;

			.flex-table_scroll & {
				flex-direction: column;
				margin-bottom: 5px;
			}
		}
		&_discount {
			order: 2;
			width: 60%;
		}
	}
	&__logo {
		max-width: 178px;
		max-height: 60px;
		vertical-align: middle;
	}
	&__text {
		color: #495057;
		.regular();
		line-height: 1.2;
		font-size: 18px;

		&_title {
			.medium();
			margin-bottom: 10px;
		}
		&_light {
			font-size: 14px;
			color: #999999;
		}
		&_hidden {
			display: block;
		}
		&_old-price {
			font-size: 12px;
			text-decoration: line-through;

			.flex-table_scroll .flex-table__body-col_price & {
				font-size: 12px;
			}
		}

		.flex-table_scroll & {
			font-size: 15px;

			sup {
				font-size: 9px;
			}
			&:first-child {
				margin-right: 4px;
			}
		}

		.flex-table_scroll .flex-table__body-col_flat-number & {
			font-size: 20px;
			.bold();
			&:first-child {
				margin-right: 4px;
			}
		}
	}
	&__area {
		font-size: 15px;
		color: #495057;
		.regular();
		line-height: 1.2;

		sup {
			font-size: 9px;
		}
	}
	&__discount-img {
		vertical-align: middle;
		width: 30px;
	}
}

@media screen and (min-width: 475px) {
	.flex-table {
		&__text {


			.flex-table_scroll & {
				font-size: 16px;

				sup {
					font-size: 10px;
				}
			}
			.flex-table_scroll .flex-table__body-col_flat-number & {
				font-size: 20px;
			}
		}
		&__area {
			font-size: 16px;

			sup {
				font-size: 10px;
			}
		}
	}
}

@media screen and (min-width: 600px) {
	.flex-table {
		&__body-col {
			align-items: flex-start;
			justify-content: center;
			text-align: left;

			&_square {
				order: 7;
				width: 40%;

				.flex-table_scroll & {
					padding-right: 10px;
				}
			}
			&_section {
				order: 3;
				width: 25%;
			}
			&_finish {
				order: 8;
				width: 35%;
			}
			&_floor {
				order: 6;
				width: 25%;
			}
			&_decoration {
				order: 5;
				width: 35%;

				.flex-table_scroll & {
					margin-bottom: 0;
					padding-right: 0;
				}
			}
			&_room {
				order: 4;
				width: 40%;

				.flex-table_scroll & {
					padding-right: 10px;
				}
			}
			&_price {
				order: 1;
				width: 25%;
			}
			&_discount {
				order: 2;
				width: 75%;
			}

			&_name {
				width: 60%;
				order: 0;
				padding-right: 20px;
			}
			&_license {
				width: 60%;
				order: 2;
				padding-right: 20px;
			}
			&_rate {
				width: 40%;
				order: 1;
			}
			&_payment {
				width: 40%;
				order: 3;
			}
			&_time {
				width: 60%;
				order: 4;
				padding-right: 20px;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	.flex-table {
		&__text {

			.flex-table_scroll & {
				font-size: 18px;

				sup {
					font-size: 12px;
				}
			}
		}
		&__area {
			font-size: 18px;

			sup {
				font-size: 12px;
			}
		}
	}
}

@media screen and (min-width: 890px) {
	.flex-table {
		&__body-col {
			&_square {
				order: 6;
				width: 30%;
			}
			&_section {
				order: 3;
				width: 20%;

				.flex-table_scroll & {
					margin-bottom: 0;
				}
			}
			&_finish {
				order: 7;
				width: 25%;

				.flex-table_scroll & {
					padding-right: 10px;
				}
			}
			&_floor {
				order: 8;
				width: 20%;

				.flex-table_scroll & {
					margin-bottom: 0;
				}
			}
			&_decoration {
				order: 2;
				width: 25%;

				.flex-table_scroll & {
					padding-right: 10px;
				}
			}
			&_room {
				order: 1;
				width: 30%;

				.flex-table_scroll & {
					margin-bottom: 5px;
				}
			}
			&_price {
				order: 4;
				width: 18%;

				.flex-table_scroll & {
					margin-bottom: 0;
				}
			}
			&_discount {
				order: 5;
				width: 7%;
			}

			&_name {
				width: 36%;
				order: 0;
				padding: 0 10px;
			}
			&_license {
				width: 36%;
				order: 4;
				padding: 0 10px;
			}
			&_rate {
				width: 20%;
				order: 1;
				padding-right: 10px;
			}
			&_payment {
				width: 20%;
				order: 2;
				padding-right: 10px;
			}
			&_time {
				width: 24%;
				order: 3;
				padding-right: 0;
			}
		}
	}
}

@media screen and (min-width: 1250px) {
	.flex-table {
		&__head {
			display: flex;
		}
		&__body-row {
			flex-wrap: nowrap;
			margin-bottom: 0;
		}
		&__body-col {
			align-items: center;
			height: 100px;
			padding: 0 10px;
			margin-bottom: 0;

			.flex-table_scroll & {
				flex-direction: row;
				align-items: center;
				justify-content: center;
				text-align: center;
				height: 70px;
			}

			&_square {
				order: 0;
				max-width: 170px;
				width: 170px;
			}
			&_flat-number {
				order: 0;
				max-width: 190px;
				width: 190px;
			}
			&_section {
				order: 0;
				max-width: 140px;
				width: 140px;
			}
			&_finish {
				order: 0;
				max-width: 140px;
				width: 140px;
				align-items: flex-start;

				.flex-table_scroll & {
					justify-content: flex-start;
					text-align: left;
				}
			}
			&_floor {
				order: 0;
				max-width: 140px;
				width: 140px;
			}
			&_decoration {
				order: 0;
				max-width: 140px;
				width: 140px;
			}
			&_room {
				order: 0;
				max-width: 140px;
				width: 140px;

				.flex-table_scroll & {
					margin-bottom: 0;
				}
			}
			&_price {
				order: 0;
				max-width: 200px;
				width: 200px;

				.flex-table_scroll & {
					align-items: flex-start;
					text-align: left;
					flex-direction: column;
				}
			}
			&_discount {
				order: 0;
				max-width: 100px;
				width: 100px;
			}

			&_name {
				max-width: 295px;
				width: 295px;
				order: 0;
			}
			&_license {
				max-width: 430px;
				width: 430px;
				flex-direction: column;
				align-items: flex-start;
				order: 0;
			}
			&_rate {
				max-width: 200px;
				width: 200px;
				order: 0;
			}
			&_payment {
				max-width: 200px;
				width: 200px;
				order: 0;
			}
			&_time {
				max-width: 235px;
				width: 235px;
				order: 0;
			}
		}
		&__text {
			&_hidden {
				display: none;
			}

			.flex-table_scroll .flex-table__body-col_flat-number & {
				font-size: 18px;
				.regular();
				&:first-child {
					margin-right: 0;
				}
			}

			.flex-table_scroll .flex-table__body-col & {
				&:first-child {
					margin-right: 0;
				}
			}
		}
		&__discount-img {
			width: 42px;
		}
	}
}