.mortgage-intro {
	position: relative;
	padding-top: 10px;
	&__info {
		position: relative;
		z-index: 1;
		margin-bottom: 50px;
	}
	&__title {
		color: #484c50;
		.bold();
		font-size: 25px;
		line-height: 0.8;
		letter-spacing: 0.75px;
		margin-bottom: 20px;
	}
	&__rate {
		color: #ff8026;
	}
	&__sub-title {
		color: #4a5158;
		.light();
		font-size: 20px;
		line-height: 1.25;
		margin-bottom: 20px;
	}
	&__descr {
		margin-bottom: 30px;
	}
	&__bottom {
		.btn {
			max-width: 285px;
		}
	}
	&__img-wrap {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
	&__img {
		vertical-align: middle;
		max-width: 100%;
	}
}

@media screen and (min-width: 500px) {
	.mortgage-intro {
		&__title {
			font-size: 30px;
		}
		&__sub-title {
			font-size: 24px;
		}
	}
}

@media screen and (min-width: 768px) {
	.mortgage-intro {
		padding: 50px 0;
		&__info {
			max-width: 474px;
		}
		&__title {
			font-size: 30px;
		}
		&__sub-title {
			margin-bottom: 38px;
		}
		&__descr {
			margin-bottom: 30px;
		}
		&__img-wrap {
			position: absolute;
			right: 0;
			bottom: 0;
		}
	}
}