.mortgage-about {
	padding: 45px 0;
	&__title {
		color: #484c50;
		.bold();
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.6px;
		margin-bottom: 30px;
	}
	&__text-wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__col {
		width: 100%;
		&_descr {
			padding-right: 0;
			flex-grow: 0;
			margin-bottom: 45px;
		}
		&_blocks {
			flex-basis: auto;
			flex-shrink: 0;
		}
	}
	&__block {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: 45px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__icon-wrap {
		margin-right: 22px;
		flex-shrink: 0;

		.icon {
			display: block;
			&.icon-list {
				.svg-icon("icon-list", 42px, 45px);
			}
			&.icon-timer {
				.svg-icon("icon-timer", 38px, 46px);
			}
		}
	}
	&__text {
		color: #484c50;
		.light();
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.4px;
	}
}

@media screen and (min-width: 500px) {
	.mortgage-about {
		&__title {
			font-size: 24px;
		}
	}
}

@media screen and (min-width: 768px) {
	.mortgage-about {
		padding: 70px 0;
		&__text-wrap {
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&__col {
			&_descr {
				padding-right: 4em;
				flex-grow: 20;
				margin-bottom: 0;
			}
			&_blocks {
				padding-top: 10px;
				flex-basis: 300px;
				flex-shrink: 0;
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	.mortgage-about {
		&__col {
			&_descr {
				padding-right: 9em;
			}
		}
	}
}