.mortgage-partners-wrap {
	padding-top: 50px;
	&__title {
		text-align: center;
		color: #484c50;
		.bold();
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.6px;
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 500px) {
	.mortgage-partners-wrap {
		&__title {
			font-size: 24px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.mortgage-partners-wrap {
		padding-top: 70px;
	}
}


@media screen and (min-width: 1250px) {
	.mortgage-partners-wrap {
		&__title {
			margin-bottom: 25px;
		}
	}
}