.mortgage-calculator {
	background-color: #f8f8f8;
	padding:  30px 0;
	&__container {}
	&__title {
		color: #484c50;
		.bold();
		font-size: 20px;
		line-height: 1;
		letter-spacing: 0.6px;
		text-align: center;
		margin-bottom: 30px;
	}
	&__main {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		border-bottom: 1px solid #e2e2e2;
	}
	&__box {
		width: 100%;
		margin-bottom: 40px;
	}
	&__box-title {
		color: #495057;
		.light();
		font-size: 16px;
		line-height: 1.25;
		margin-bottom: 15px;
	}
	&__input {}
	&__bottom {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding-top: 40px;
	}
	&__result-wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 40px;
	}
	&__result-text {
		color: #4a5158;
		.light();
		font-size: 20px;
		line-height: 1.1;
		margin-bottom: 20px;
	}
	&__result {
		color: #ff8026;
		.medium();
		font-size: 20px;
		line-height: 1.1;
		&:after {
			content: '₽';
			color: #ff8026;
			.medium();
			font-size: 20px;
			line-height: 1.1;
			margin-left: 10px;
		}
	}
}

@media screen and (min-width: 500px) {
	.mortgage-calculator {
		&__title {
			font-size: 24px;
			margin-bottom: 38px;
		}
	}
}

@media screen and (min-width: 768px) {
	.mortgage-calculator {
		padding:  60px 0;
		&__main {
			flex-direction: row;
			padding-bottom: 30px;
		}
		&__box {
			width: calc(~"(100% - 45px * 2) / 3");
			margin-bottom: 0;
			margin-right: 45px;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		&__bottom {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-top: 24px;
		}
		&__result-wrap {
			flex-direction: row;
			justify-content: flex-start;
			margin-bottom: 0;
		}
		&__result-text {
			margin-bottom: 0;
			margin-right: 50px;
		}
	}
}