.filters {
	background: #f8f8f8;
	padding: 20px;
	margin-bottom: 44px;

	&__list {}
	&__block {
		margin-bottom: 20px;
	}
	&__block-inner {}
	&__block-title {
		color: #495057;
		font-size: 16px;
		.regular();
		margin-bottom: 10px;
		text-align: center;
	}
	&__block-list {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__block-list-item {
		margin-right: 20px;
		position: relative;

		&:last-child {
			margin-right: 0;
		}
	}
	&__block-list-item-input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		opacity: 0;
		z-index: 10;
		cursor: pointer;
		.std-transition();
		&:checked {

			& ~ .filters__block-list-item-style {
				background: @orange-color;
				color: white;
			}
		}
		&:hover {
			& ~ .filters__block-list-item-style {
				background: @orange-color-hover;
				color: white;
			}
		}
	}
	&__block-list-item-style {
		width: 40px;
		height: 40px;
		background: white;
		position: relative;
		font-size: 14px;
		color: #4a5158;
		.medium();
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 5;
	}
	&__range-wrap {}
	&__range-input {}
	&__block-label {
		display: flex;
	}
	&__block-checkbox-wrap {
		margin-right: 13px;
		position: relative;
	}
	&__block-checkbox-input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		opacity: 0;
		z-index: 10;
		cursor: pointer;
		.std-transition();
		&:checked {

			& ~ .filters__block-checkbox-input-style {
				&:after {
					content: '';
					position: absolute;
					.svg-icon(icon_checkbox_tick, 15px, 11px);
					top: 0;
					left: 2px;
					z-index: 100;
				}
			}
		}
	}
	&__block-checkbox-input-style {
		width: 17px;
		height: 17px;
		border: 1px solid rgba(195, 196, 197, 0.37);
		background: #ffffff;
		position: relative;
	}
	&__block-label-text {
		color: #495057;
		font-size: 16px;
		.regular();
		line-height: 1.3;
	}
	&__reset {
		display: flex;
		align-items: center;
		text-decoration: none;
	}
	&__reset-icon {
		.svg-icon(icon_filters_reset, 21px, 24px);
		margin-right: 10px;
	}
	&__reset-text {
		color: #f07f3c;
		font-size: 16px;
		.medium();
		margin-top: 4px;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (min-width: 500px) {
	.filters {
		padding: 40px 40px 20px;
	}
}

@media screen and (min-width: 768px) {
	.filters {

		&__list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		&__block {
			width: calc(~"(100% - 45px) / 2");
			margin-right: 45px;

			&_house-block {
				order: 1;
			}
			&_rooms {
				order: 3;
			}
			&_square {
				order: 2;
				margin-right: 0;
			}
			&_cost {
				order: 4;
				margin-right: 0;
			}
			&_floor {
				order: 6;
				margin-right: 0;
			}
			&_decoration {
				order: 5;
			}
			&_reset {
				order: 6;
			}
		}
		&__block-title {
			text-align: left;
		}
		&__block-list {
			justify-content: flex-start;
		}
		&__block-label {
			padding-left: 0;
		}
		&__reset {
			margin-left: 0;
		}
	}
}

@media screen and (min-width: 1024px) {
	.filters {
		padding-bottom: 5px;
		&__list {
			align-items: center;
		}
		&__block {
			width: calc(~"(100% - 45px * 3) / 4");
			margin-right: 45px;
			margin-bottom: 35px;

			&_house-block {
				order: initial;
			}
			&_rooms {
				order: initial;
			}
			&_square {
				order: initial;
			}
			&_cost {
				order: initial;
				margin-right: 0;
			}
			&_floor {
				order: initial;
			}
			&_decoration {
				order: initial;
				flex-grow: 20;
				align-self: flex-end;
			}
			&_reset {
				margin-right: 0;
				align-self: flex-end;

				.filters__block-inner {
					display: flex;
					justify-content: flex-end;
				}
			}
		}
		&__block-list-item {
			margin-right: 2px;
		}
	}
}

@media screen and (min-width: 1440px) {
	.filters {
		&__list {
			justify-content: flex-start;
		}
		&__block {
			width: auto;
			margin-right: 43px;
			&_range {
				padding-bottom: 23px;
				.filters__block-inner {
					align-items: flex-end;
				}
			}
			&_cost {
				margin-right: 0;
			}
			&_floor {
				margin-bottom: 25px;
			}
			&_decoration {
				flex-grow: 20;
				align-self: center;
				margin-bottom: 25px;
			}
			&_reset {
				margin-bottom: 25px;
				margin-right: 0;
				align-self: center;
				.filters__block-inner {
					justify-content: flex-end;
				}
			}
		}
		&__block-inner {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
		}
		&__block-title {
			margin-bottom: 0;
			margin-right: 18px;
		}
		&__range-wrap {
			flex-shrink: 0;
			min-width: 190px;
		}
	}
}
