.options {
	&_apartment {
		display: block;
	}

	&__container {

	}
	&__title-wrap {
		margin-bottom: 40px;
		.btn {
			padding: 0;
			width: 100%;
		}
	}
	&__title {
		margin-bottom: 20px;
	}
	&__results {
		color: #4a5158;
		font-size: 20px;
		.regular();
		margin-bottom: 29px;
	}
}

@media screen and (min-width: 768px) {
	.options {

		&__title-wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.btn {
				padding: 0 40px;
				width: auto;
			}
		}
		&__title {
			margin-bottom: 0;
		}
		&__results {
			font-size: 24px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.options {
		&_apartment {
			display: none;
		}
	}
}

