.about-features {
	margin-bottom: 20px;
	&__inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: stretch;
	}
	&__item {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 768px) {
	.about-features {
		margin-bottom: 46px;
		&__item {
			width: calc(~"50% - 2px");
			margin: 0 4px 4px 0;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}