.about-feature {
	background-color: #f8f8f8;
	position: relative;
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	&__img-wrap {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}
	&__img {
		vertical-align: middle;
		max-width: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	&__content {
		padding: 40px 20px 200px;
		position: relative;
	}
	&__title {
		color: @grey-color;
		.bold();
		font-size: 20px;
		line-height: 1;
		letter-spacing: 0.6px;
		margin-bottom: 20px;
	}
	&__descr {
		color: #757b82;
		.regular();
		font-size: 18px;
		line-height: 1.56;
		margin-bottom: 25px;
		max-height: 86px;
		overflow: hidden;
	}
	&__info {
		color: @orange-color;
		.regular();
		font-size: 18px;
		line-height: 1.56;
	}
}

@media screen and (min-width: 500px) {
	.about-feature {
		&__content {
			padding: 50px 30px 55px;
			position: relative;
		}
		&__title {
			font-size: 24px;
			margin-bottom: 22px;
		}
		&__descr {
			margin-bottom: 44px;
			max-width: 85%;
			max-height: 86px;
		}
		&__info {
			font-size: 18px;
			max-width: 68%;
		}
	}
}

@media screen and (min-width: 768px) {
	.about-feature {
		&__content {
			padding: 40px 20px 45px;
		}
	}
}

@media screen and (min-width: 1000px) {
	.about-feature {
		&__content {
			padding: 60px 40px 65px;
		}
	}
}