.page-text-block {
	margin-bottom: 56px;
	&__container {
	}
	&__title {
		color: #4a5158;
		.bold();
		font-size: 30px;
		line-height: 1.3;
		margin-bottom: 25px;
		&:first-letter {
			color: @orange-color;
		}
	}
	&__content {
	}
}

@media screen and (min-width: 500px) {
	.page-text-block {
		&__title {
			font-size: 35px;
			margin-bottom: 30px;
		}
	}
}

@media screen and (min-width: 768px) {
	.page-text-block {
		margin-bottom: 60px;
		&__title {
			font-size: 40px;
		}
	}
}