{#FOOTER#}
<footer class="footer">
	{#MAIN#}
	<div class="footer__top">
		<div class="footer__top-container container">
			<div class="footer__main">
				{#LOGO#}
				<div class="footer__logo">
					<img src="img/logo-white.svg" alt="" class="footer__logo-img">
				</div>
				{#/LOGO#}

				<div class="footer__info">
					{#VIDEO LINKS#}
					<div class="footer__video-links">
						<a href="#" class="footer__video">360°</a>
						<a href="#" class="footer__panorama"></a>
					</div>
					{#/VIDEO LINKS#}

					{#CONTACTS#}
					<div class="footer__contacts">
						<div class="footer__phone-wrap">
							<a href="tel:" class="footer__phone">+7 (495) 786-97-96</a>
						</div>
						<div class="footer__mail-wrap">
							<a href="mailto:info@karamelniy.ru" class="footer__mail">info@karamelniy.ru</a>
						</div>
					</div>
					{#/CONTACTS#}
				</div>
			</div>

			<div class="footer__menu">
				<div class="footer__menu-inner-wrap">
					{#NAVIGATION#}
					<nav class="footer__nav">
						<div class="footer__nav-column">
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">О проекте</a>
							</div>
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">Инфраструктура</a>
							</div>
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">Расположение</a>
							</div>
						</div>

						<div class="footer__nav-column">
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">Выбор квартиры</a>
							</div>
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">Галерея</a>
							</div>
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">Акции</a>
							</div>
						</div>

						<div class="footer__nav-column">
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">Условия покупки</a>
							</div>
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">Документы</a>
							</div>
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">О застройщике</a>
							</div>
						</div>

						<div class="footer__nav-column">
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">Ход строительства</a>
							</div>
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">Новости</a>
							</div>
							<div class="footer__nav-item">
								<a href="#" class="footer__nav-item-link">Контакты</a>
							</div>
						</div>
					</nav>
					{#/NAVIGATION#}

					{#CONTACTS#}
					<div class="footer__contacts">
						<div class="footer__phone-wrap">
							<a href="tel:" class="footer__phone">+7 (495) 786-97-96</a>
						</div>
						<div class="footer__mail-wrap">
							<a href="mailto:info@karamelniy.ru" class="footer__mail">info@karamelniy.ru</a>
						</div>
						<p class="footer__address">МО, Люберцы, Хлебозаводская, 6, стр. 1</p>
					</div>
					{#/CONTACTS#}
				</div>
				<div class="footer__menu-call-wrap">
					{#CALL-MENU#}
					<ul class="call-menu call-menu_gray">
						<li class="call-menu__item">
							<a href="#" class="call-menu__link">
								<i class="icon icon-call-phone"></i>
							</a>
						</li>
						<li class="call-menu__item">
							<a href="#" class="call-menu__link">
								<i class="icon icon-call-msg"></i>
							</a>
						</li>
						<li class="call-menu__item">
							<a href="#" class="call-menu__link">
								<i class="icon icon-call-phone-bubble"></i>
							</a>
						</li>
						<li class="call-menu__item">
							<a href="#" class="call-menu__link">
								<i class="icon icon-call-phone-talk"></i>
							</a>
						</li>
						<li class="call-menu__item">
							<a href="#" class="call-menu__link">
								<i class="icon icon-call-chat"></i>
							</a>
						</li>
					</ul>
					{#/CALL-MENU#}
				</div>
			</div>
		</div>
	</div>
	{#/MAIN#}

	{#BOTTOM#}
	<div class="footer__bottom">
		<div class="footer__bottom-container container">
			<div class="footer__confidential-wrap">
				<a href="#"
				   target="_blank"
				   class="footer__confidential"
				>
					Политика конфеденциальности
				</a>
			</div>
			<div class="footer__company-name">Застройщик ООО ИСК «Ареал»</div>
			<div class="footer__development">
				Разработка
				<a href="#"
				   target="_blank"
				   class="footer__development-link"
				>
					«TETA MEDIA»
				</a>
			</div>
		</div>
		<div class="footer__bottom-container footer__bottom-container_text-wrap container">
			<div class="footer__bottom-text">
				Вся представленная на данном сайте информация носит исключительно информационный характер и не является
				публичной офертой, определяемой положениями ст. 437 ГК РФ. Для получения подробной информации о проекте
				просьба обращаться к девелоперу проекта. Опубликованная на данном сайте информация может быть изменена в
				любое время без предварительного уведомления.
			</div>
		</div>
	</div>
	{#/BOTTOM#}
</footer>
{#/FOOTER#}