{#HEADER#}
<header class="header {{ 'header_' + headerModifyerClass  if headerModifyerClass.length > 0 }}" id="header">
	<div class="header__container wide-container">
		<div class="header__top-line-wrap">
			<a href="index.html" class="header__logo">
				<img src="img/logo_2.svg" alt="" class="header__logo-img">
			</a>

			<a href="#" class="header__burger" id="header-burger">
				<div class="header__burger-inner">
					<span class="header__burger-line"></span>
					<span class="header__burger-line"></span>
					<span class="header__burger-line"></span>
				</div>
			</a>

			<div class="header__main">
				{#NAV#}
				<nav class="nav">
					<ul class="nav__list">
						<li class="nav__item">
							<a href="#" class="nav__link">О проекте</a>
							<div class="sub-nav">
								<div class="sub-nav__triangle"></div>
								<ul class="sub-nav__list">
									<li class="sub-nav__item">
										<a href="#" class="sub-nav__link">Инфраструктура</a>
									</li>
									<li class="sub-nav__item">
										<a href="#" class="sub-nav__link">Галерея</a>
									</li>
									<li class="sub-nav__item">
										<a href="#" class="sub-nav__link">Новости</a>
									</li>
									<li class="sub-nav__item">
										<a href="#" class="sub-nav__link">Документы</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">Выбрать квартиру</a>
							<div class="sub-nav">
								<div class="sub-nav__triangle"></div>
								<ul class="sub-nav__list">
									<li class="sub-nav__item">
										<a href="#" class="sub-nav__link">Выбор на генплане</a>
									</li>
									<li class="sub-nav__item">
										<a href="#" class="sub-nav__link">Выбор по параметрам</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">Галерея</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__link">Условия покупки</a>
							<div class="sub-nav">
								<div class="sub-nav__triangle"></div>
								<ul class="sub-nav__list">
									<li class="sub-nav__item">
										<a href="#" class="sub-nav__link">Акции</a>
									</li>
									<li class="sub-nav__item">
										<a href="#" class="sub-nav__link">Ипотека</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav__item">
							<a href="#popup_success" class="nav__link js-popup-link">Ход строительства</a>
						</li>
						<li class="nav__item">
							<a href="#popup_message" class="nav__link js-popup-link">Контакты</a>
						</li>
					</ul>
				</nav>
				{#/NAV#}

				<div class="header__contact">
					<a href="#popup_callback" class="header__contact-icon js-popup-link"></a>
					<div class="header__contact-text-wrap">
						<div class="header__address">Адрес: МО, Люберцы, Хлебозаводская, 6, стр. 1</div>
						<a href="tel:+74957869796" class="header__contact-phone">+7 (495) 786-97-96</a>
						<div class="header__order-link-wrap">
							<a href="#popup_order" class="header__order-link js-popup-link">Оставить заявку</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</header>
{#/HEADER#}