<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	{% block title %}
	{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

	<style>
		body {
			opacity: 0;
		}
	</style>
</head>

<body>

<div class="all-wrap">
	<div class="all-wrap__content">

		{% block header %}
			{% include 'parts/header.twig' %}
		{% endblock %}

		{% block content %}
		{% endblock %}

	</div>

	{% block footer %}
		{% include 'parts/footer.twig' %}
	{% endblock %}

	{% block menu %}
		{% include 'parts/menu.twig' %}
	{% endblock %}

	{% block popups %}
		{% include 'parts/popups.twig' %}
	{% endblock %}

</div>

<!-- uncache -->
<link rel="stylesheet" href="css/main.css">
<!-- enduncache -->

{% block scripts %}
	<!-- uncache -->
	<script src="scripts/app.min.js"></script>
	<!-- enduncache -->
{% endblock %}

{% block userscripts %}

{% endblock %}

</body>
</html>