{#MOBILE MENU#}
<div class="mobile-menu" id="mobile-menu">
	<div class="mobile-menu__inner-wrap">
		<nav class="mobile-menu__nav">
			<div class="mobile-menu__nav-item">
				<a href="#" class="mobile-menu__nav-item-link mobile-menu__nav-item-link_active js-sub-nav-open">О проекте</a>
				{#MOBILE-SUB-MENU#}
				<ul class="mobile-sub-menu">
					<li class="mobile-sub-menu__item">
						<a href="#" class="mobile-sub-menu__link">Описание проекта</a>
					</li>
					<li class="mobile-sub-menu__item">
						<a href="#" class="mobile-sub-menu__link">Местоположение</a>
					</li>
					<li class="mobile-sub-menu__item">
						<a href="#" class="mobile-sub-menu__link mobile-sub-menu__link_active">Галерея</a>
					</li>
					<li class="mobile-sub-menu__item">
						<a href="#" class="mobile-sub-menu__link">Новости</a>
					</li>
					<li class="mobile-sub-menu__item">
						<a href="#" class="mobile-sub-menu__link">Документы</a>
					</li>
				</ul>
				{#/MOBILE-SUB-MENU#}
			</div>
			<div class="mobile-menu__nav-item">
				<a href="#" class="mobile-menu__nav-item-link">Выбрать квартиру</a>
			</div>
			<div class="mobile-menu__nav-item">
				<a href="#" class="mobile-menu__nav-item-link">Галерея</a>
			</div>
			<div class="mobile-menu__nav-item">
				<a href="#" class="mobile-menu__nav-item-link js-sub-nav-open">Условия покупки</a>
				{#MOBILE-SUB-MENU#}
				<ul class="mobile-sub-menu">
					<li class="mobile-sub-menu__item">
						<a href="#" class="mobile-sub-menu__link">Акции</a>
					</li>
					<li class="mobile-sub-menu__item">
						<a href="#" class="mobile-sub-menu__link mobile-sub-menu__link_active">Ипотека</a>
					</li>
				</ul>
				{#/MOBILE-SUB-MENU#}
			</div>
			<div class="mobile-menu__nav-item">
				<a href="#" class="mobile-menu__nav-item-link mobile-menu__nav-item-link_active">Ход строительства</a>
			</div>
			<div class="mobile-menu__nav-item">
				<a href="#" class="mobile-menu__nav-item-link">Контакты</a>
			</div>
		</nav>

		<div class="mobile-menu__contact">
			<i class="mobile-menu__contact-icon"></i>
			<div class="mobile-menu__contact-phone-wrap">
				<a href="tel:+74957869796" class="mobile-menu__contact-phone">+7 (495) 786-97-96</a>
			</div>
			<div class="mobile-menu__order-link-wrap">
				<a href="#popup_order" class="mobile-menu__order-link js-popup-link">Оставить заявку</a>
			</div>
		</div>
	</div>
</div>
{#/MOBILE MENU#}