{#ORDER POPUP#}
<div id="popup_order" class="popup popup_form hidden-element">
	<div class="popup__align-wrap">
		<div class="popup__content">
			<div class="popup__close js-popup-close">
				<i class="icon icon-close"></i>
			</div>
			<div class="popup-std">
				<div class="popup-std__title">Оставить заявку</div>
				<form class="popup-std__form form" action="/data/form-validation-response.json">
					<div class="popup-std__form-main">
						<div class="form__input-holder">
							<input type="text" name="name" class="form__input required" placeholder="Имя *">
						</div>

						<div class="form__input-holder">
							<input type="text" name="phone" class="form__input form__input_phone required js-input-mask" data-mask="+7 (000) 000-00-00" placeholder="Телефон *">
						</div>

						<div class="form__input-holder">
							<input type="text" name="email" class="form__input form__input_email required" placeholder="E-mail *">
						</div>
					</div>

					<p class="popup-std__form-note">* — обязательные поля</p>

					<div class="popup-std__form-btn-wrap">
						<button class="popup-std__form-btn btn btn_middle">отправить</button>
					</div>

					<div class="popup-std__form-agreement">
						Нажимая кнопку «Отправить», я даю согласие на
						<a href="#"
						   target="_blank"
						   class="popup-std__form-agreement-link"
						>
							обработку персональных данных
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{#/ORDER POPUP#}

{#CALLBACK POPUP#}
<div id="popup_callback" class="popup popup_form hidden-element">
	<div class="popup__align-wrap">
		<div class="popup__content">
			<div class="popup__close js-popup-close">
				<i class="icon icon-close"></i>
			</div>
			<div class="popup-std">
				<div class="popup-std__title">Обратный звонок</div>
				<form class="popup-std__form form" action="/data/form-validation-response.json">
					<div class="popup-std__form-main">
						<div class="form__input-holder">
							<input type="text" name="name" class="form__input required" placeholder="Имя *">
						</div>

						<div class="form__input-holder">
							<input type="text" name="phone" class="form__input form__input_phone required js-input-mask" data-mask="+7 (000) 000-00-00" placeholder="Телефон *">
						</div>
					</div>

					{#CALL-TIME#}
					<div class="call-time">
						<div class="call-time__title">Удобное время звонка</div>
						<div class="call-time__select-day">
							<label class="form__radio-label">
								<span class="form__radio-wrap">
									<input type="radio" checked name="call_day" value="today" class="form__radio js-call-day">
									<span class="form__radio-text">
										Сегодня
									</span>
								</span>
							</label>
							<label class="form__radio-label">
								<span class="form__radio-wrap">
									<input type="radio" name="call_day" value="tomorrow" class="form__radio js-call-day">
									<span class="form__radio-text">
										Завтра
									</span>
								</span>
							</label>
						</div>
						<div class="call-time__select-time">
							<input id="call_time" name="call_time" type="text">
						</div>
					</div>
					{#/CALL-TIME#}
					<p class="popup-std__form-note">* — обязательные поля</p>

					<div class="popup-std__form-btn-wrap">
						<button class="popup-std__form-btn btn btn_middle">отправить</button>
					</div>

					<div class="popup-std__form-agreement">
						Нажимая кнопку «Отправить», я даю согласие на
						<a href="#"
						   target="_blank"
						   class="popup-std__form-agreement-link"
						>
							обработку персональных данных
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{#/CALLBACK POPUP#}

{#MESSAGE POPUP#}
<div id="popup_message" class="popup popup_form hidden-element">
	<div class="popup__align-wrap">
		<div class="popup__content">
			<div class="popup__close js-popup-close">
				<i class="icon icon-close"></i>
			</div>
			<div class="popup-std">
				<div class="popup-std__title">Написать нам</div>
				<form class="popup-std__form form" action="/data/form-validation-response.json">
					<div class="popup-std__form-main">
						<div class="form__input-holder">
							<input type="text" name="name" class="form__input required" placeholder="Имя *">
						</div>

						<div class="form__input-holder">
							<input type="text" name="phone" class="form__input form__input_phone required js-input-mask" data-mask="+7 (000) 000-00-00" placeholder="Телефон *">
						</div>

						<div class="form__input-holder">
							<input type="text" name="email" class="form__input form__input_email required" placeholder="E-mail *">
						</div>

						<div class="form__textarea-holder">
							<textarea cols="30"
							          rows="10"
							          class="form__textarea"
							          placeholder="Сообщение"
							></textarea>
						</div>
					</div>

					<p class="popup-std__form-note">* — обязательные поля</p>

					<div class="popup-std__form-btn-wrap">
						<button class="popup-std__form-btn btn btn_middle">отправить</button>
					</div>

					<div class="popup-std__form-agreement">
						Нажимая кнопку «Отправить», я даю согласие на
						<a href="#"
						   target="_blank"
						   class="popup-std__form-agreement-link"
						>
							обработку персональных данных
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{#/MESSAGE POPUP#}

{#SUCCESS POPUP#}
<div id="popup_success" class="popup popup_form hidden-element">
	<div class="popup__align-wrap">
		<div class="popup__content">
			<div class="popup__close js-popup-close">
				<i class="icon icon-close"></i>
			</div>
			<div class="popup-std">
				<div class="popup-std__title">Оставить заявку</div>
				<div class="popup-std__msg">Ваше сообщение успешно отправлено.<br />Менеджеры свяжутся с вами в ближайшее время.</div>
			</div>
		</div>
	</div>
</div>
{#/SUCCESS POPUP#}