.contacts {
	position: relative;
	&__container {
		position: relative;
	}

	&__card {
		padding: 40px 0;
		background: white;
		position: relative;
		z-index: 5;
	}
	&__breadcrumbs {
		padding-top: 0;
	}
	&__title {
		margin-bottom: 40px;
	}

	&__card-main {

	}
	&__card-tabs {
		display: flex;
		width: 100%;
	}
	&__card-tabs-item {
		width: 50%;
		min-width: 50%;
		height: 50px;
		border: 2px solid @orange-color-hover;
		background: white;

		color: #495057;
		text-transform: uppercase;
		font-size: 12px;
		.bold();
		letter-spacing: 0.67px;
		text-decoration: none;

		display: flex;
		align-items: center;
		justify-content: center;
		&_active {
			background: @orange-color-hover;
			color: white;
		}
	}

	&__card-content-wrap {

	}
	&__card-content {
		display: none;
		&_active {
			display: block;
		}
	}
	&__card-list {
		margin-bottom: 40px;
		padding-top: 30px;
	}
	&__card-item {
		display: flex;
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__card-item-icon {
		margin-right: 10px;

		&_address {
			.svg-icon(icon_contacts_address, 17px, 20px);
			min-width: 17px;
		}
		&_phone {
			.svg-icon(icon_contacts_phone, 18px, 19px);
			min-width: 18px;
		}
		&_mail {
			.svg-icon(icon_contacts_mail, 20px, 15px);
			min-width: 20px;
		}
		&_time {
			.svg-icon(icon_contacts_time, 20px, 20px);
			min-width: 20px;
		}
	}
	&__card-item-text {
		color: #495057;
		font-size: 13px;
		.regular();
		line-height: 1.5;
	}
	&__card-phone {
		color: #495057;
		font-size: 13px;
		.regular();
		text-decoration: none;
		a {
			color: #495057;
			text-decoration: none;
		}
	}
	&__card-mail {
		font-size: 13px;
		text-decoration: none;
		.regular();
		color: @orange-color;
		&:hover {
			text-decoration: underline;
		}
		a {
			color: @orange-color;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__card-link-wrap {
		margin-bottom: 35px;
	}
	&__card-link {}
	&__footer {
		padding-top: 22px;
		border-top: 2px solid #495057;
	}

	&__map-wrap {
		position: relative;
		height: 500px;
	}
	&__map-inner-wrap {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	&__nav-wrap {
		pointer-events: none;
		position: absolute;
		height: 100%;
		left: 50%;
		z-index: 1;
		transform: translateX(-50%);
		display: flex;
		padding-bottom: 15px;
	}
	&__map {
		width: 100%;
		height: 100%;
	}

	&__map-marker {
		background: url(../img/icon-marker.svg) no-repeat center center;
		background-size: 50px 60px;
		width: 50px;
		height: 60px;
	}

	&__map-nav {
		pointer-events: all;
		display: flex;
		flex-direction: column;
		position: absolute;
		bottom: 20px;
		left: 15px;
	}
	&__map-nav-item {
		margin-bottom: 20px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__map-nav-search {
		width: calc(~"100vw - 30px");
		max-width: 400px;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;
	}
	&__map-nav-print {
		display: flex;
		align-items: center;
		text-decoration: none;
		&:hover {
			.contacts__map-nav-print-icon {
				.svg-icon-param(icon_contacts_print, 42px, 42px, "[fill]: #FF8026");
			}
			.contacts__map-nav-print-text {
				text-decoration: underline;
			}
		}
	}
	&__map-nav-print-icon {
		margin-right: 10px;
		.svg-icon(icon_contacts_print, 42px, 42px);
		transition: background .3s ease;
	}
	&__map-nav-print-text {
		font-size: 14px;
		.medium();
		color: @orange-color;
	}

	.accordion__item-title {
		font-size: 15px;
		letter-spacing: 0.5px;
		width: calc(~"100% - 15px");
	}
	.accordion__item-icon {
		.svg-icon(icon_accordion_arrow, 9px, 6px);
	}
}

@media screen and (min-width: 375px) {
	.contacts {

		&__card-item-icon {
			margin-right: 20px;
		}
		&__card-item-text {
			font-size: 16px;
		}
		&__card-phone {
			font-size: 16px;
		}
		&__card-mail {
			font-size: 16px;
		}
		&__map-nav {
			width: calc(~"100% - 30px");
			left: 30px;
		}
		&__map-nav-search {
			width: calc(~"100vw - 60px");
		}
	}
}

@media screen and (min-width: 475px) {
	.contacts {
		&__map-nav {
			width: auto;
		}
	}
}

@media screen and (min-width: 600px) {
	.contacts {
		&__card-link {
			max-width: 290px;
		}
	}
}

@media screen and (min-width: 700px) {
	.contacts {
		.accordion__item-title {
			font-size: 20px;
		}
	}
}

@media screen and (min-width: 1024px) {
	.contacts {
		min-height: 925px;
		height: 925px;
		margin-top: -100px;
		padding-top: 138px;
		padding-bottom: 50px;

		&__card {
			width: 450px;
			padding: 40px;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
		}

		&__map-wrap {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%;
		}
		&__nav-wrap {
			padding-bottom: 50px;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;
		}

		&__map-nav {
			flex-direction: row;
			align-items: center;
			left: auto;
			right: 60px;
			bottom: 40px;
		}
		&__map-nav-item {
			margin-bottom: 0;
			margin-right: 29px;
			&:last-child {
				margin-right: 0;
			}
		}
		&__map-nav-search {
			left: auto;
			right: 0;
		}
		&__card-link {
			max-width: none;
		}
	}
}

@media print {
	@page {
		size: A4 landscape;
		margin: 0;
	}
	.contacts {
		padding-top: 0;
		margin-top: 0;
		height: 3000px;
		&__container {
			padding: 30px 0;
			display: none;
		}
		&__breadcrumbs {
			display: none;
		}
		&__title {
			display: none;
		}
		&__card {
			width: 300px;
			padding: 20px;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
		}
		&__card-tabs {
			display: none;
		}
		&__card-content {
			display: none;
			&:last-child {
				display: block;
			}

			.accordion__item-content {
				display: block !important;
			}
			.accordion__item-title-wrap {
				padding: 14px 0;
			}
			.accordion__item-icon {
				display: none;
			}
			.accordion__item-content-inner {
				padding: 20px 0 8px;
			}
		}
		&__map-wrap {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%;
		}
		&__nav-wrap {
			display: none;
		}
	}
}
