.map-search {
	display: none;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	background-color: white;
	padding: 40px 20px 20px;
	&_active {
		display: block;
		animation-duration: 0.3s;
		animation-fill-mode: both;
		animation-name: fadeIn
	}
	&__close {
		cursor: pointer;
		position: absolute;
		z-index: 2;
		right: 5px;
		top: 5px;
		&:hover {
			.icon-close {
				.svg-icon-param("icon-popup-close", 30px, 30px, "[fill]: #ff8026");
			}
		}
		.icon-close {
			display: block;
			transition: background .3s ease;
			.svg-icon-param("icon-popup-close", 30px, 30px, "[fill]: #495057");
		}
	}
	&__title {
		color: #495057;
		.regular();
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 20px;
	}
	&__input-wrap {
		margin-bottom: 25px;
	}
	&__input {}

	.btn {
		width: 100%;
		display: inline-flex;
	}
}

@media screen and (min-width: 500px) {
	.map-search {
		padding: 40px;
		&__button-wrap {
			text-align: right;
		}

		.btn {
			width: auto;
		}
	}
}