.construction-timeline-wrap {
	position: relative;
	margin-bottom: 40px;
	&__list {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: flex-start;
	}
	&__item {
		padding-left: 20px;
		padding-bottom: 50px;
		position: relative;
		&:last-child {
			padding-bottom: 0;
		}
	}
	&__item-date {
		color: #999999;
		font-size: 14px;
		.regular();
		margin-bottom: 28px;
		position: relative;
		&:after {
			content: '';
			width: 20px;
			height: 2px;
			background-color: #f07f3c;
			position: absolute;
			left: 0;
			bottom: -16px;
		}
	}
	&__item-title {
		color: #495057;
		font-size: 18px;
		.regular();
	}
	&__item-progress {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		height: 100%;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		&_active {
			.construction-timeline-wrap__progress-icon {
				border-color: @orange-color;
				&:before {
					background-color: #4a5158;
				}
			}
		}
	}
	&__progress-icon {
		position: relative;
		flex-shrink: 0;
		z-index: 3;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background: white;
		border: 2px solid #d4d4d4;
		box-sizing: border-box;
		transition: border-color .3s ease;
		&:before {
			content: "";
			width: 2px;
			height: 2px;
			background-color: white;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -1px;
			margin-left: -1px;
			transition: background-color .3s ease;
		}
	}
	&__progress-lines {
		position: relative;
		flex-grow: 20;
	}
	&__progress-default {
		width: 2px;
		height: 100%;
		background-color: #d4d4d4;
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -1px;
		z-index: 1;
	}
	&__progress-active {
		width: 2px;
		background-color: @orange-color;
		position: absolute;
		left: 50%;
		top: 0;
		margin-left: -1px;
		z-index: 2;
		transition: width .3s ease;
	}
}

@media screen and (min-width: 1235px) {
	.construction-timeline-wrap {
		&__list {
			flex-direction: row;
			align-items: flex-start;
		}
		&__item {
			padding-left: 0;
			padding-bottom: 0;
			width: 20%;
		}
		&__item-title {
			margin-bottom: 30px;
		}
		&__item-progress {
			position: relative;
			left: auto;
			top: auto;
			height: auto;
			width: 100%;
			flex-direction: row;
		}
		&__progress-default {
			width: 100%;
			height: 2px;
			left: 0;
			top: 50%;
			margin-left: auto;
			margin-top: -1px;
		}
		&__progress-active {
			width: auto;
			height: 2px;
			left: 0;
			top: 50%;
			margin-left: auto;
			margin-top: -1px;
		}
	}
}