.construction-item {
	position: relative;
	height: 100%;
	overflow: hidden;
	&:hover {
		.construction-item__border:before {
			background-color: rgba(0,0,0,.6);
		}
		.construction-item__border-right {
			background-color: @orange-color;
			&:before {
				border-right-color: @orange-color;
				border-bottom-color: @orange-color;
			}
		}
		.construction-item__border-bottom {
			background-color: @orange-color;
			&:before {
				border-right-color: @orange-color;
				border-bottom-color: @orange-color;
			}
		}
	}
	&__link {
		text-decoration: none;
		display: block;
		height: 100%;
	}
	&__border {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		&:before {
			content: "";
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.4);
			position: absolute;
			top: 0;
			left: 0;
			transition: background-color .3s ease;
		}
	}
	&__border-right {
		width: 6px;
		height: 100%;
		top: 6px;
		right: 0;
		position: absolute;
		background-color: @grey-color;
		z-index: 2;
		transition: background-color .3s ease;
		&:before {
			content: '';
			position: absolute;
			right: -6px;
			top: -6px;
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid @grey-color;
			border-bottom: 6px solid @grey-color;
			transition: border-color .3s ease;
		}
	}
	&__border-bottom {
		width: 100%;
		height: 6px;
		bottom: 0;
		left: 6px;
		position: absolute;
		background-color: @grey-color;
		z-index: 2;
		transition: background-color .3s ease;
		&:before {
			content: '';
			position: absolute;
			left: -6px;
			bottom: 0;
			width: 0;
			height: 0;
			border-left: 6px solid transparent;
			border-right: 6px solid @grey-color;
			border-bottom: 6px solid @grey-color;
			transition: border-color .3s ease;
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&__img-wrap {
		display: block;
		width: 100%;
		height: 100%;
	}
	&__img {
		vertical-align: middle;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__content {
		position: relative;
		z-index: 3;
		padding: 22px 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-start;
		height: 100%;
		&_no-descr {
			.construction-item__title {
				margin-bottom: 0;
			}
		}
	}
	&__title {
		color: #ffffff;
		.bold();
		font-size: 22px;
		line-height: 1;
		letter-spacing: 0.6px;
		margin-bottom: 16px;
		width: 100%;
	}
	&__descr {
		width: 100%;
		color: #ffffff;
		.regular();
		font-size: 16px;
		line-height: 1.38;
	}
}

@media screen and (min-width: 768px) {
	.construction-item {
		&__content {
			padding: 42px 40px;
		}
		&__title {
			font-size: 24px;
			margin-bottom: 16px;
		}
	}
}