.construction-grid {
	margin-bottom: 40px;
	&__title {
		color: #495057;
		.light();
		font-size: 22px;
		line-height: 1.3;
		margin-bottom: 20px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: 16px;
	}
	&__item {
		width: 100%;
		height: 350px;
		margin-bottom: 20px;
	}
	&__bottom {
		text-align: center;
	}
}

@media screen and (min-width: 500px) {
	.construction-grid {
		&__bottom {
			.btn {
				min-width: 286px;
				display: inline-flex;
			}
		}
	}
}

@media screen and (min-width: 600px) {
	.construction-grid {
		margin-bottom: 60px;
		&__title {
			font-size: 24px;
			line-height: 1.35;
			margin-bottom: 30px;
		}
		&__list {
			flex-direction: row;
			margin-bottom: 36px;
		}
		&__item {
			width: calc(~"(100% - 4px) / 2");
			margin: 0 4px 4px 0;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	.construction-grid {
		&__item {
			width: calc(~"(100% - 4px * 2) / 3");
			&:nth-child(2n) {
				margin-right: 4px;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}