<div class="news__item-wrap">
	<div class="news-item">
		<p class="news-item__date">24.08.2018</p>

		<div class="news-item__title-wrap">
			<a href="#" class="news-item__title">Богачи улетают из Екатеринбурга и сдают квартиры</a>
		</div>

		<div class="news-item__desc-wrap">
			<a href="#" class="news-item__desc js-news-item-desc">Средняя цена однокомнатной квартиры по всем районам
				города сейчас составляет 16,8 тысячи рублей в месяц, а год назад среднее предложение было на 5%, или на
				800 рублей дешевле. Двушки подросли максимально — на 9,8%, до 21,3 тысячи рублей в месяц. При этом цены
				на них выросли практически во всех районах.</a>
		</div>

		<div class="news-item__link-wrap">
			<a href="#" class="news-item__link">Подробнее</a>
		</div>
	</div>
</div>