<div class="news__item-wrap">
	<div class="action">
		<div class="action__img-wrap">
			<img src="../images/actions_img_1.jpg" alt="" class="action__img">
		</div>
		<div class="action__text-wrap">
			<p class="action__period">С 28.08.2018 по 12.09.2018</p>
			<div class="action__title">Акция по ипотеке от ВТБ</div>
			<div class="action__desc">22 декабря в Сбербанке стартует акция для клиентов с первоначальным взносом от 50%. 21 декабря в Сбербанке стартует акция дял клиентов с первоначальным взносом от 50%.</div>
		</div>
	</div>
</div>
