.action {

	&__img-wrap {
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}
	&__img {
		width: 100%;
	}

	&__period {
		color: #999999;
		font-size: 16px;
		.regular();
		line-height: 1.33;
		margin-bottom: 18px;
	}
	&__title {
		color: @grey-color;
		font-size: 18px;
		line-height: 1;
		letter-spacing: 0.6px;
		.bold();
		margin-bottom: 17px;
	}
	&__desc {
		color: #495057;
		line-height: 1.56;
		.regular();
		font-size: 16px;
	}
}

@media screen and (min-width: 500px) {
	.action {
		&__img-wrap {
			margin-left: 0;
		}
		&__period {
			font-size: 18px;
		}
		&__title {
			font-size: 24px;
		}
		&__desc {
			font-size: 18px;
		}
	}
}

@media screen and (min-width: 750px) {
	.action {
		display: flex;

		&__img-wrap {
			margin-bottom: 0;
			margin-right: 39px;
		}
		&__text-wrap {
			width: calc(~"100% - 250px - 39px");
			padding-top: 14px;
		}
	}
}