.flat-desc {
	&__main {
		background: #f8f8f8;
		margin-bottom: 28px;
		//padding: 40px 40px 45px 40px;
		padding: 20px;
	}
	&__features {
		margin-bottom: 30px;
		overflow: hidden;
	}
	&__features-item {
		position: relative;
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__features-item-inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__features-item-key {
		color: #495057;
		.regular();
		font-size: 16px;
		background: #f8f8f8;
		position: relative;
		z-index: 10;
		padding-right: 4px;
	}
	&__features-item-option {
		font-size: 16px;
		.medium();
		color: #495057;
		background: #f8f8f8;
		position: relative;
		z-index: 10;
		padding-left: 4px;

		sup {
			font-size: 10px;
		}
	}
	&__features-item-border {
		position: absolute;
		bottom: 4px;
		left: 0;
		width: 100%;
		height: 1px;
		background: url("../img/dot.svg") repeat-x;
		overflow: hidden;
	}

	&__price-block {
		margin-bottom: 39px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__price-wrap {

	}
	&__price {
		color: #495057;
		font-size: 18px;
		.medium();

		&_old {
			font-size: 12px;
			color: @orange-color;
			.regular();
			text-decoration: line-through;
			margin-bottom: 3px;
			&:empty {
				display: none;
			}
		}
	}
	&__date {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		background: rgba(0,0,0,.05);
		border-radius: 25px;
		padding: 5px 18px;
		color: #495057;
		font-size: 12px;
		letter-spacing: 0.58px;
		.regular();

		.icon-discount-orange {
			margin-right: 5px;
			display: block;
			.svg-icon("icon-discount-orange", 21px, 19px);
		}
	}
	&__button-wrap {

	}

	&__download-link-wrap {

	}
	&__download-link {
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover {
			.flat-desc__download-link-icon {
				.svg-icon-param(icon_download_plan, 42px, 42px, "[fill]: #FF8026");
			}
			.flat-desc__download-link-text {
				text-decoration: underline;
			}
		}
	}
	&__download-link-icon {
		.svg-icon(icon_download_plan, 42px, 42px);
		margin-right: 14px;
		transition: background .3s ease;
	}
	&__download-link-text {
		color: #f07f3c;
		font-size: 18px;
		.medium();
	}
}