.flat-plan {

	&__floor {
		margin-bottom: 40px;
		display: flex;
		justify-content: center;
	}
	&__floor-icon {
		width: 160px;
	}

	&__house-block {
		display: flex;
		justify-content: center;
	}
	&__house-block-icon {

	}
}

@media screen and (min-width: 768px) {
	.flat-plan {
		width: 160px;
		min-width: 160px;
	}
}

@media screen and (min-width: 1024px) {
	.flat-plan {
		width: 120px;
		min-width: 120px;
		align-self: flex-end;
	}
}

@media screen and (min-width: 1100px) {
	.flat-plan {
		width: 160px;
		min-width: 160px;
	}
}