.flat-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	&__descr {
		width: 100%;
		margin-bottom: 45px;
	}
	&__slider {
		width: 100%;
		margin-bottom: 45px;
	}
	&__right {
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.flat-content {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		&__descr {
			width: 50%;
			max-width: 375px;
			padding-right: 15px;
		}
		&__slider {
			width: 50%;
			flex-grow: 20;
			padding-left: 15px;
		}
	}
}

@media screen and (min-width: 1250px) {
	.flat-content {
		align-items: center;
		&__descr {
			width: 360px;
			padding-right: 0;
			margin-bottom: 0;
		}
		&__slider {
			padding: 0 30px;
			width: calc(~"100% - 360px - 161px");
		}
		&__right {
			width: auto;
			flex-basis: 161px;
			align-self: stretch;
		}
	}
}