.flat-slider {
	position: relative;
	max-width: 545px;
	margin: 0 auto;

	&__wrapper {
		margin-bottom: 45px;
	}
	&__item {
		text-align: center;
		padding: 0 25px;
	}
	&__item-img {
		max-width: 100%;
	}

	&__button {
		position: absolute;
		top: 50%;
		margin-top: -20px;
		z-index: 40;
		width: 20px;
		height: 40px;
		cursor: pointer;
		&:hover {
			&:after {
				opacity: .75;
			}
		}
		&:after {
			content: "";
			display: block;
			.svg-icon(icon_slider_arrow, 7px, 12px);
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -6px;
			opacity: 1;
			transition: opacity .3s ease;
		}

		&_prev {
			transform: rotate(180deg);
			left: 0;
		}
		&_next {
			right: 0;
		}
	}

	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__pagination-item {
		width: 20px;
		height: 4px;
		background-color: #e1e1e1;
		margin-right: 20px;
		cursor: pointer;
		.std-transition();
		&:hover {
			background-color: darken(#e1e1e1, 10%);
		}
		&:last-child {
			margin-right: 0;
		}
		&_active {
			width: 40px;
			background: #44403b;
			&:hover {
				background-color: lighten(#44403b, 10%);
			}
		}
	}
}