.gallery-slide {
	&_no-descr {
		.gallery-slide__title {
			margin-bottom: 0;
		}
	}
	&__caption {
		background-color: white;
		padding: 20px;
	}
	&__title {
		color: #484c50;
		.bold();
		font-size: 20px;
		line-height: 1;
		letter-spacing: 0.6px;
		margin-bottom: 15px;
	}
	&__descr {}
	&__img-wrap {
		width: 100%;
		min-height: 450px;
		height: calc(~"(100vh - 20px * 2) - 120px / 2");
		max-height: 700px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		.gallery-slider_caption & {
			display: block;
			min-height: 0;
			height: auto;
			max-height: none;
		}
	}
	&__img {
		vertical-align: middle;
		max-width: 100%;
		max-height: 100%;

		.gallery-slider_caption & {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media screen and (min-width: 768px) {
	.gallery-slide {
		&__caption {
			padding: 40px;
		}
		&__title {
			font-size: 24px;
			margin-bottom: 25px;
		}
		&__img-wrap {

			.gallery-slider_caption & {
				height: 450px;
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	.gallery-slide {
		&__img-wrap {

			.gallery-slider_caption & {
				height: 650px;
			}
		}
	}
}