.gallery-block {
	position: relative;
	background-color: #f8f8f8;
	height: 300px;
	width: 100%;
	&:hover {
		.gallery-block__bg {
			&:before {
				background-color: rgba(0,0,0,0.6);
			}
		}
	}
	&__link {
		text-decoration: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0,0,0,.4);
			z-index: 1;
			transition: background-color .3s ease;
		}
	}
	&__img-wrap {
		display: block;
		height: 100%;
		position: relative;
	}
	&__img {
		vertical-align: middle;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__content {
		position: relative;
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		z-index: 2;
	}
	&__title {
		position: relative;
		text-align: center;
		color: #ffffff;
		.bold();
		font-size: 20px;
		line-height: 1;
		letter-spacing: 0.6px;
		user-select: none;
		padding: 20px;
		margin: 5px 10px;
	}
	&__title-border {
		position: absolute;
		top: 0;
		left: 0;
		height: 2px;
		width: 100%;
		&:before {
			content: "";
			background: url("../img/angle-decor.svg") no-repeat;
			width: 64px;
			height: 10px;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
		}
		&:after {
			content: "";
			width: calc(~"100% - 62px");
			position: absolute;
			top: 0;
			right: 0;
			background-color: @orange-color;
			height: 100%;
		}
		&_bottom {
			top: auto;
			bottom: 0;
			&:before {
				transform: rotate(-180deg);
				left: auto;
				right: 0;
				top: auto;
				bottom: calc(~"100% - 2px");
			}
			&:after {
				right: auto;
				left: 0;
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.gallery-block {
		&__title {
			font-size: 24px;
			padding: 26px 40px;
			margin: 10px 20px;
		}
	}
}