.gallery-thumbs-slider {
	display: none;
	&__wrap {}
	&__slide {
		width: 180px;
		&:hover {
			cursor: pointer;
			.gallery-thumbs-slider__img-wrap {
				&:before {
					background-color: rgba(0,0,0,0);
				}
			}
		}
	}
	&__img-wrap {
		display: block;
		width: 100%;
		position: relative;
		height: 120px;
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(0,0,0,.3);
			position: absolute;
			top: 0;
			left: 0;
			opacity: 1;
			transition: background-color .3s ease, opacity .3s ease;

			.swiper-slide-active & {
				opacity: 0;
			}
		}
		&:after {
			content: '';
			width: 100%;
			height: 100%;
			z-index: 2;
			border: 2px solid @orange-color;
			box-sizing: border-box;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			transition: opacity .3s ease;

			.swiper-slide-active & {
				opacity: 1;
			}
		}
	}
	&__img {
		vertical-align: middle;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media screen and (min-width: 768px) {
	.gallery-thumbs-slider {
		display: block;
	}
}