.gallery-slider {
	&__wrap {}
	&__slide {
		&.swiper-slide {
			height: auto;
		}
	}
}

@media screen and (min-width: 768px) {
	.gallery-slider {
		margin-bottom: 10px;
	}
}

@media screen and (min-width: 1344px) {
	.gallery-slider {
		margin-bottom: 20px;
	}
}