.gallery-list {
	&__row {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 768px) {
	.gallery-list {
		&__row {
			flex-direction: row;
			align-items: stretch;
			margin-bottom: 4px;
			&_grid-2 {
				.gallery-list__item {
					width: calc(~"(100% - 4px) / 2");
					margin-right: 4px;
					&:nth-child(2n) {
						margin-right: 0;
					}
				}
			}
		}
		&__item {
			margin-bottom: 0;
		}
	}
}