.docs {
	padding-bottom: 80px;

	&__container {

	}
	&__top {
		margin-bottom: 10px;
	}
	&__title {
		margin-bottom: 29px;
	}
	&__desc {
		color: #495057;
		font-size: 16px;
		line-height: 1.56;
		.light();
	}

	&__item {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 38px;
		text-decoration: none;
		&:hover {
			.docs__item-title {
				text-decoration: underline;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item-icon {
		min-width: 36px;
		margin-right: 26px;
		display: flex;
		align-items: center;
		justify-content: center;
		.svg-icon(icon_file, 36px, 47px);
	}

	&__item-format {
		color: #4a5158;
		font-size: 12px;
		.bold();
		text-transform: uppercase;
	}
	&__item-desc {
		width: calc(~"100% - 36px - 26px");
	}
	&__item-title {
		color: @orange-color;
		.regular();
		line-height: 1.33;
		font-size: 14px;
		letter-spacing: 0.45px;
		margin-bottom: 6px;
	}
	&__item-info {
		display: flex;
		flex-direction: column;
	}
	&__item-size {
		color: #999999;
		font-size: 12px;
		.regular();
		line-height: 1.4;
	}
	&__item-date {
		color: @grey-color;
		font-size: 12px;
		.regular();
		line-height: 1.4;
	}
	&__item-person {
		color: @grey-color;
		font-size: 12px;
		.regular();
		line-height: 1.4;
	}
}

@media screen and (min-width: 700px) {
	.docs {

		&__item-title {
			font-size: 18px;
		}
		&__item-info {
			flex-direction: row;
		}
		&__item-size {
			margin-right: 73px;
			font-size: 14px;
		}
		&__item-date {
			margin-right: 14px;
			font-size: 14px;
		}
		&__item-person {
			font-size: 14px;
		}
	}
}

@media screen and (min-width: 1000px) {
	.docs {

		&__top {
			margin-bottom: 33px;
		}
		&__main {
			max-width: 960px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}