.building {
	position: relative;
	height: 100%;
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
	&__floors-wrap {}
	&__floors {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
		z-index: 3;
	}
	&__floor {
		border: 1px solid red;
		transition: opacity .3s ease;
		cursor: pointer;
		&:hover {
			opacity: 0.6;
		}
	}
}