.floor-tooltip {
	display: none;
	position: absolute;
	width: 345px;
	z-index: 5;
	padding-left: 15px;
	top: 50%;
	left: 50%;
	&_active {
		display: block;
		animation-duration: 0.6s;
		animation-fill-mode: both;
		animation-name: fadeIn;
	}
	&_bottom {
		padding-left: 0;
		padding-top: 15px;
		.floor-tooltip__tr {
			left: 35px;
			top: 0;
			width: 30px;
			height: 15px;
			&:before {
				left: 15px;
				top: 1px;
				border-color: white transparent transparent white;
			}
		}
	}
	&__tr {
		position: absolute;
		left: 0;
		top: 35px;
		overflow: hidden;
		width: 15px;
		height: 30px;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 15px;
			border-style: solid;
			border-width: 10px;
			border-color: transparent transparent white white;
			box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
			transform-origin: 0 0;
			transform: rotate(45deg);
		}
	}
	&__inner {
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
		background-color: #ffffff;
		padding: 40px;
	}
	&__content {}
	&__title {
		color: #484c50;
		.bold();
		font-size: 30px;
		line-height: 1;
		letter-spacing: 0.75px;
		margin-bottom: 27px;
	}
	&__row {
		margin-bottom: 30px;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	&__col {
		margin-right: 25px;
		&:last-child {
			margin-right: 0;
		}
	}
	&__apartment {
		color: #ff8026;
		.bold();
		font-size: 24px;
		line-height: 1;
		letter-spacing: -0.6px;
		margin-bottom: 7px;
	}
	&__text {
		color: #495057;
		.light();
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
	}
	&__price-wrap {
		color: #495057;
		.medium();
		font-size: 24px;
		line-height: 1.2;
	}
	&__price-text {}
	&__price {}
	&__currency {}
}