.select-floors-page {
	position: relative;
	padding-top: 102px;
	margin-top: -102px;
	&__bg {
		display: none;
	}
	&__inner-wrap {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.select-floors-page {
		&__bg {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		&__inner-wrap {
			display: block;
			position: relative;
			padding-top: 30px;
		}
		&__content {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 2;
			pointer-events: none;
		}
		&__title-wrap {
			max-width: 275px;
			pointer-events: all;
			.btn {
				display: inline-flex;
			}
		}
		&__title {
			color: #4a5158;
			.bold();
			font-size: 30px;
			line-height: 1.3;
			margin-bottom: 20px;
			&:first-letter {
				color: @orange-color;
			}
		}
		&__labels {}
		&__label {
			position: absolute;
			text-align: center;
			color: #484c50;
			.bold();
			font-size: 16px;
			line-height: 1;
			letter-spacing: 0.4px;
			transform: translate(-50%, -50%);
			&_left {
				top: 16%;
				left: 32%;
			}
			&_center {
				top: -3%;
				left: 50%;
			}
			&_right {
				top: -1%;
				left: 70%;
			}
		}
		&__compass {
			position: absolute;
			top: 20px;
			right: 40px;
			width: 70px;
			height: 70px;
		}
		&__compass-img {
			vertical-align: middle;
			max-width: 100%;
		}
		&__building {
			position: relative;
			z-index: 1;
		}
	}
}

@media screen and (min-width: 768px) {
	.select-floors-page {
		&__title {
			font-size: 40px;
		}
	}
}