.plans {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	&__item {
		margin-bottom: 38px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__compass {
		width: 70px;
		height: 70px;
		margin-bottom: 38px;
	}
	&__compass-img {
		max-width: 100%;
		vertical-align: middle;
	}
}

@media screen and (min-width: 600px) {
	.plans {
		flex-direction: row;
		justify-content: flex-start;
		&__item {
			margin-bottom: 0;
			margin-right: 38px;
			&:last-child {
				margin-right: 0;
			}
		}
		&__wrap {
			order: 0;
			margin-right: 38px;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
		}
		&__compass {
			order: 1;
			margin-bottom: 0;
		}
	}
}

@media screen and (min-width: 1024px) {
	.plans {
		height: 100%;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.flat-content & {
			flex-direction: row;
			justify-content: flex-start;
		}

		&__item {
			margin-bottom: 38px;
			margin-right: 0;

			.flat-content & {
				margin-bottom: 0;
				margin-right: 38px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		&__wrap {
			order: 1;
			flex-grow: 0;
			margin-right: 0;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;

			.flat-content & {
				order: 0;
				margin-right: 38px;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: flex-start;
			}
		}
		&__compass {
			order: 0;
			margin-bottom: 38px;

			.flat-content & {
				order: 1;
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (min-width: 1250px) {
	.plans {
		.flat-content & {
			flex-direction: column;
			justify-content: center;
		}

		&__item {
			.flat-content & {
				margin-bottom: 38px;
				margin-right: 0;
			}
		}
		&__wrap {
			.flat-content & {
				order: 1;
				flex-grow: 0;
				margin-right: 0;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}
		}
		&__compass {
			.flat-content & {
				order: 0;
				margin-bottom: 38px;
			}
		}
	}
}