.flat-tooltip {
	display: none;
	&_active {
		display: none;
	}
}

@media screen and (min-width: 1024px) {
	.flat-tooltip {
		width: 280px;
		position: absolute;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
		background-color: #ffffff;
		padding: 40px;
		z-index: 5;
		opacity: 0;
		&_active {
			display: block;
			animation-duration: 0.6s;
			animation-fill-mode: both;
			animation-name: fadeIn;
		}
		&__inner {}
		&__title {
			color: #495057;
			.bold();
			font-size: 20px;
			line-height: 1.2;
			letter-spacing: 0.5px;
		}
		&__info {
			margin: 15px 0;
		}
		&__info-text {
			color: #495057;
			.light();
			font-size: 16px;
			line-height: 1.2;
			margin-bottom: 5px;
			&:last-child {
				margin-bottom: 0;
			}

			sup {
				font-size: 10px;
			}
		}
		&__price-wrap {
			color: #495057;
			.medium();
			font-size: 16px;
			line-height: 1.2;
		}
	}
}