.floor-labels {
	&__item {
		text-decoration: none;
		position: absolute;
		text-align: center;
		border-radius: 50%;
		width: 50px;
		height: 50px;
		border: 1px solid #ffffff;
		background-color: @orange-color;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		z-index: 2;
		animation-duration: 0.3s;
		animation-fill-mode: both;
		animation-name: fadeIn;
		&_active {
			display: none;
		}
	}
	&__number {
		color: white;
		white-space: nowrap;
		.bold();
		font-size: 12px;
		line-height: 1;
		margin-bottom: 3px;
		border-bottom: 1px solid white;
	}
	&__text {
		color: white;
		white-space: nowrap;
		.regular();
		font-size: 10px;
		line-height: 1;

		sup {
			font-size: 4px;
		}
	}
}

@media screen and (min-width: 500px) {
	.floor-labels {
		&__item {
			width: 65px;
			height: 65px;
		}
		&__number {
			font-size: 14px;
		}
		&__text {
			font-size: 12px;

			sup {
				font-size: 6px;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.floor-labels {
		&__item {
			width: 80px;
			height: 80px;
		}
		&__number {
			font-size: 16px;
		}
		&__text {
			font-size: 14px;

			sup {
				font-size: 8px;
			}
		}
	}
}