.floor-details {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	&__nav {
		width: 100%;
		align-self: flex-start;
		margin-bottom: 50px;
	}
	&__content {
		width: 100%;
		margin-bottom: 30px;
	}
	&__right {
		width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	.floor-details {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		&__nav {
			width: auto;
			flex-basis: 161px;
			align-self: center;
			margin-bottom: 0;
		}
		&__content {
			width: auto;
			padding: 0 30px;
		}
		&__right {
			width: auto;
			flex-basis: 161px;
			align-self: stretch;
		}
	}
}