.floor-nav {
	width: 100%;
	&__arrow {
		display: block;
		max-width: 135px;
		margin: 0 auto;
		padding: 8px;
		text-decoration: none;
		opacity: 1;
		transition: opacity .3s ease;
		&_up {}
		&_down {}
		&:hover {
			opacity: .75;
		}

		.icon {
			display: block;
			margin: 0 auto;
			&.icon-up {
				.svg-icon("icon-up", 16px, 11px);
			}
			&.icon-down {
				.svg-icon("icon-down", 16px, 11px);
			}
		}
	}
	&__items {
		border: 2px solid #f07f3c;
		margin: 7px 0;
		display: flex;
		flex-direction: row;
	}
	&__link {
		flex: 1 1 auto;
		height: 68px;
		background-color: white;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		border-right: 2px solid #f07f3c;
		transition: background-color .3s ease;
		&:last-child {
			border-right: 0;
		}
		&:hover {
			background-color: rgba(255,128,38,.3);
		}
		&_active {
			background-color: #f07f3c;
			&:hover {
				background-color: #ffa667;
			}

			.floor-nav__link-name {
				color: white;
			}
			.floor-nav__link-text {
				color: white;
			}
		}
	}
	&__link-name {
		color: #4a5158;
		.bold();
		font-size: 20px;
		line-height: 1;
		letter-spacing: 0.96px;
	}
	&__link-text {
		color: #495057;
		.light();
		font-size: 14px;
		line-height: 1;
	}
}

@media screen and (min-width: 1024px) {
	.floor-nav {
		width: 68px;
		&__arrow {
			max-width: none;
		}
		&__items {
			flex-direction: column;
		}
		&__link {
			border-right: 0;
			border-bottom: 2px solid #f07f3c;
			&:last-child {
				border-bottom: 0;
			}
		}
	}
}