.floor {
	&__inner-wrap {
		padding: 0;
	}
	&__descr {
		text-align: center;
		color: #484c50;
		.regular();
		font-size: 16px;
		line-height: 1;
		letter-spacing: 0.4px;
		margin-bottom: 20px;
		&_right {
			display: none;
		}
		&_left {
			display: none;
		}
	}
	&__plan-wrap {
		position: relative;
		margin-bottom: 20px;
	}
	&__image-wrap {}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		z-index: 1;
	}
	&__hover {}
	&__svg-back {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		z-index: 0;
		height: 100%;
		transition: .3s ease;
	}
	&__svg {
		position: relative;
		display: block;
		width: 100%;
		height: auto;
		z-index: 3;
	}
	&__flat-back {
		transition: fill .3s ease;
		&_active {
			fill: #FF8026;
		}
	}
	&__flat {
		cursor: pointer;
	}
	&__area-info {
		text-align: center;
		color: #484c50;
		.bold();
		font-size: 16px;
		line-height: 1.25;
		letter-spacing: 0.4px;

		sup {
			font-size: 10px;
		}
	}
}

@media screen and (min-width: 768px) {
	.floor {
		&__inner-wrap {
			position: relative;
			padding: 0 35px;
		}
		&__descr {
			&_right {
				display: block;
				margin-bottom: 0;
				position: absolute;
				right: 0;
				transform: rotate(-90deg) translateX(50%);
				transform-origin: 100% 100%;
				bottom: 50%;
			}
			&_left {
				display: block;
				left: 0;
				margin-bottom: 0;
				position: absolute;
				transform: rotate(-90deg) translateX(-50%);
				transform-origin: 0 0;
				top: 50%;
			}
		}
	}
}