.plan {
	&__title {
		text-align: center;
		color: #484c50;
		.regular();
		font-size: 16px;
		line-height: 1.2;
		letter-spacing: 0.4px;
		margin-bottom: 15px;
	}
	&__align {
		position: relative;
	}
	&__svg-wrap {}
	&__text-wrap {}
	&__text {
		position: absolute;
		color: #495057;
		.bold();
		font-size: 12px;
		line-height: 1;
		text-transform: uppercase;
		&_active {
			color: white;
		}
		&_left {
			top: 12%;
			left: 6%;
		}
		&_center {
			top: 24%;
			left: 46%;
		}
		&_right {
			top: 36%;
			left: 85%;
		}
	}
}

@media screen and (min-width: 600px) {
	.plan {
		&__title {
			text-align: left;
		}
	}
}