.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55px;
	padding: 0 33px;
	border: none;

	cursor: pointer;
	position: relative;
	text-decoration: none;
	-webkit-appearance: none;
	border-radius: 0;
	box-shadow: none;
	background: @orange-color-hover;

	color: white;
	font-size: 17px;
	.bold();
	text-transform: uppercase;
	letter-spacing: 0.82px;
	.std-transition();

	&:hover {
		background: @dark-orange-color;
	}
	&_block {
		width: 100%;
	}
	&__icon {
		.svg-icon(icon_search, 22px, 22px);
		margin-right: 10px;
	}
	&__text {
		color: white;
		font-size: 17px;
		.bold();
	}

	&_small {
		font-size: 12px;
		letter-spacing: 0.58px;
		height: 40px;
		padding: 0 30px;
	}
	&_middle {
		height: 50px;
		font-size: 14px;
		letter-spacing: 0.67px;
		padding: 0 39px;
	}
}

