
@font-face {
	font-family: 'MullerLight';
	src: url('../fonts/MullerLight.eot');
	src: local('☺'), url('../fonts/MullerLight.woff') format('woff'), url('../fonts/ MullerLight.ttf') format('truetype'), url('../fonts/MullerLight.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerMedium.eot');
	src: local('☺'), url('../fonts/MullerMedium.woff') format('woff'), url('../fonts/MullerMedium.ttf') format('truetype'), url('../fonts/MullerMedium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerRegular.eot');
	src: local('☺'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf') format('truetype'), url('../fonts/MullerRegular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerUltraLight.eot');
	src: local('☺'), url('../fonts/MullerUltraLight.woff') format('woff'), url('../fonts/MullerUltraLight.ttf') format('truetype'), url('../fonts/MullerUltraLight.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerExtraBold.eot');
	src: local('☺'), url('../fonts/MullerExtraBold.woff') format('woff'), url('../fonts/MullerExtraBold.ttf') format('truetype'), url('../fonts/MullerExtraBold.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('../fonts/MullerBold.eot');
	src: local('☺'), url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf') format('truetype'), url('../fonts/MullerBold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}




.ultralight() {
	font-family: 'Muller', sans-serif;
	font-weight: 200;
}

.light() {
	font-family: 'Muller', sans-serif;
	font-weight: 300;
}

.regular() {
	font-family: 'Muller', sans-serif;
	font-weight: 400;
}

.medium() {
	font-family: 'Muller', sans-serif;
	font-weight: 500;
}

.bold() {
	font-family: 'Muller', sans-serif;
	font-weight: 700;
}

.extrabold() {
	font-family: 'Muller', sans-serif;
	font-weight: 900;
}