.form {
	&__input-holder {
		margin-bottom: 15px;
	}
	&__input {
		display: block;
		width: 100%;
		height: 50px;
		background: #f8f8f8;
		border-radius: 0;
		border: 1px solid  #f8f8f8;
		padding: 0 20px;
		text-overflow: ellipsis;

		color: #4a5158;
		.regular();
		font-size: 16px;
		-webkit-appearance: none;
		.std-transition();

		&_fail {
			border-color: #d32f2f;
		}

		&::-webkit-input-placeholder {
			color: #999999;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #999999;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #999999;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #999999;
			opacity: 1;
		}
		&:focus {
			border-color: #484c50;
		}
		&_error {
			border-color: #ff0000;
		}
	}
	&__textarea {
		display: block;
		width: 100%;
		height: 120px;
		background: #f8f8f8;
		border-radius: 0;
		border: 1px solid  #f8f8f8;
		padding: 10px 20px;

		color: #4a5158;
		.regular();
		font-size: 16px;
		-webkit-appearance: none;
		.std-transition();

		&::-webkit-input-placeholder {
			color: #999999;
			opacity: 1;
		}
		&::-moz-placeholder {
			color: #999999;
			opacity: 1;
		}
		&:-moz-placeholder {
			color: #999999;
			opacity: 1;
		}
		&:-ms-input-placeholder {
			color: #999999;
			opacity: 1;
		}
		&:focus {
			border-color: black;
			color: #999999;
		}
		&_error {
			border-color: #ff0000;
		}
	}
	&__radio-label {
		cursor: pointer;
		user-select: none;
	}
	&__radio-wrap {
		position: relative;
	}
	&__radio {
		opacity: 0;
		visibility: hidden;
		outline: none;
		position: absolute;
		top: 0;
		left: 0;
		&:checked + span {
			color: @orange-color;
			cursor: default;
		}
	}
	&__radio-text {
		.medium();
		color: #999999;
		font-size: 16px;
		line-height: 1.11;
		letter-spacing: 0.77px;
		transition: color .3s ease;
		padding: 4px;
		margin: 0 8px;
		&:hover {
			color: #4a5158;
		}
	}
}
