.irs {
	height: 40px;
}

.irs-with-grid {
	height: 60px;
}

.irs-line {
	height: 4px;
	top: 5px;
	background-color: #484c50;
	opacity: .3;

	.irs-invert & {
		top: calc(~"100% - 4px - 5px");
	}
}

.irs-line-left {
	height: 100%;
}

.irs-line-mid {
	height: 100%;
}

.irs-line-right {
	height: 100%;
}

.irs-bar {
	height: 4px;
	top: 5px;
	background-color: #484c50;

	.irs-invert & {
		top: calc(~"100% - 4px - 5px");
	}
}

.irs-bar-edge {
	top: 5px;
	height: 4px;
	background-color: #484c50;
	width: 7px;
}

.irs-shadow {
	height: 3px;
	top: 34px;
	background: #000;
	opacity: 0.25;
}

.lt-ie9 .irs-shadow {
	filter: alpha(opacity=25);
}

.irs-slider {
	width: 14px;
	height: 14px;
	top: 0;
	background-color: @orange-color;
	border-radius: 50%;

	.irs-invert & {
		top: auto;
		bottom: 0;
	}
}

.irs-slider.state_hover, .irs-slider:hover {
	background-position: 0 -150px;
}

.irs-min, .irs-max {
	color: #999;
	font-size: 10px;
	line-height: 1.333;
	text-shadow: none;
	top: 0;
	padding: 1px 3px;
	background: #e1e4e9;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
	top: 24px;
	color: #495057;
	.medium();
	font-size: 14px;
	letter-spacing: 0.67px;
	line-height: 1.2;

	.irs-invert & {
		top: auto;
		bottom: 24px;
	}

	sup {
		font-size: 9px;
	}
}

.irs-from:after, .irs-to:after, .irs-single:after {
	display: none;
}

.irs-grid-pol {
	background: #e1e4e9;
}

.irs-grid-text {
	color: #999;
}

.irs-disabled {
}
