.lazy {
	opacity: 0;
	transition: opacity 333ms ease-in-out;
	&.lazy-loaded {
		opacity: 1;
	}
}

.lazy-picture {
	opacity: 0;
	transition: opacity 333ms ease-in-out;
	&.lazy-picture-loaded {
		opacity: 1;
	}
}