.svg-icon(@icon, @width, @height) {
	background: svg('@{icon}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.svg-icon-param(@icon, @width, @height, @param) {
	background: svg('@{icon}', '@{param}') no-repeat 0 0;
	background-size: @width @height;
	width: @width;
	height: @height;
}

.aspect-ratio(@width, @height) {
	position: relative;
	&:before {
		display: block;
		content: "";
		width: 100%;
		padding-top: (@height / @width) * 100%;
	}
	> .video-block__inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

@orange-color: #ff8026;
@orange-color-hover: #f07f3c;
@dark-orange-color: #ca5611;

@grey-color: #484c50;

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.std-transition() {
	transition: all .3s ease;
}