.popup-std {
	background: white;
	padding: 20px;

	&__title {
		margin-bottom: 30px;
		color: #4a5158;
		.bold();
		font-size: 30px;
		line-height: 1.3;
		text-align: center;
		&:first-letter {
			color: @orange-color;
		}
	}
	&__msg {
		text-align: center;
		color: #495057;
		.light();
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}
	&__form {

	}
	&__form-note {
		color: #495057;
		font-size: 16px;
		.regular();
		margin-bottom: 39px;
	}
	&__form-main {
		margin-bottom: 19px;
	}
	&__form-btn-wrap {
		display: flex;
		justify-content: center;
		margin-bottom: 29px;
	}
	&__form-btn {
		max-width: 230px;
		width: 100%;
	}
	&__form-agreement {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		color: #495057;
		text-align: center;
		.regular();
		line-height: 1.5;
		font-size: 16px;
	}
	&__form-agreement-link {
		color: #ff8026;
		text-decoration: none;
		.regular();
		line-height: 1.5;
		font-size: 16px;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (min-width: 768px) {
	.popup-std {
		padding: 60px;

		&__title {
			font-size: 40px;
		}
	}
}