.popup {
	background-color: transparent;
	padding: 0 20px;
	margin: 7vw 0;
	width: 100%;
	box-sizing: border-box;
	&_gallery {
		max-width: 1082px;
	}
	&_form {
		max-width: 580px;
	}
	&__close {
		cursor: pointer;
		position: absolute;
		right: 20px;
		top: 0;
		z-index: 2;
		&:hover {
			.icon-close {
				.svg-icon-param("icon-popup-close", 28px, 28px, "[fill]: #f07f3c");
			}
		}

		.icon-close {
			display: block;
			transition: background .3s ease;
			.svg-icon('icon-popup-close', 28px, 28px);
		}
	}
	&__align-wrap {
		margin: 38px 0;
	}
}

@media screen and (min-width: 768px) {
	.popup {
		&_gallery {
			padding: 0 82px;
		}
		&_form {
			max-width: 704px;
			padding: 0 82px;
		}
		&__close {
			top: 14px;
			&:hover {
				.icon-close {
					.svg-icon-param("icon-popup-close", 42px, 42px, "[fill]: #f07f3c");
				}
			}

			.icon-close {
				.svg-icon('icon-popup-close', 42px, 42px);
			}
		}
		&__align-wrap {
			margin: 14px 0;
		}
	}
}