.popup-slider-wrap {
	position: relative;
	&__arrow {
		cursor: pointer;
		position: absolute;
		top: 50%;
		margin-top: -28px / 2;
		z-index: 2;
		&_prev {
			left: -14px;
		}
		&_next {
			right: -14px;
		}
		.icon {
			display: block;
			&.icon-arrow-next {
				.svg-icon('icon-arrow-next', 28px, 28px);
			}
			&.icon-arrow-prev {
				.svg-icon('icon-arrow-prev', 28px, 28px);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.popup-slider-wrap {
		&__arrow {
			margin-top: -42px / 2;
			&_prev {
				left: -62px;
			}
			&_next {
				right: -62px;
			}
			&:hover {
				.icon {
					&.icon-arrow-next {
						.svg-icon-param('icon-arrow-next', 42px, 42px, "[fill]: #f07f3c");
					}
					&.icon-arrow-prev {
						.svg-icon-param('icon-arrow-prev', 42px, 42px, "[fill]: #f07f3c");
					}
				}
			}

			&.swiper-button-disabled {
				cursor: default;
				.icon {
					&.icon-arrow-next {
						.svg-icon-param('icon-arrow-next', 42px, 42px, "[fill]: #999999");
					}
					&.icon-arrow-prev {
						.svg-icon-param('icon-arrow-prev', 42px, 42px, "[fill]: #999999");
					}
				}
			}

			.icon {
				transition: background .3s ease;
				&.icon-arrow-next {
					.svg-icon('icon-arrow-next', 42px, 42px);
				}
				&.icon-arrow-prev {
					.svg-icon('icon-arrow-prev', 42px, 42px);
				}
			}
		}
	}
}

@media screen and (min-width: 1344px) {
	.popup-slider-wrap {
		margin-bottom: 20px;
	}
}