.inf-text {
	margin-bottom: 50px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;

	&__text {
		margin-bottom: 33px;
	}
	&__title-wrap {
		margin-bottom: 24px;
		position: relative;
		padding-top: 10px;
		&:after {
			content: '';
			position: absolute;
			left: 1px;
			top: 0;
			.svg-icon(icon_title_detail_small, 34px, 29px);
		}
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 47px;
			right: 0;
			height: 3px;
			background: @orange-color;
		}
	}
	&__title {

	}
}