.map-nav {
	&__list {
	}
	&__item {
	}
	&__label {
		display: block;
		width: 100%;
	}
	&__input {
		display: none;
		opacity: 0;
		visibility: hidden;
		&:checked + .map-nav__item-description {
			background-color: @orange-color;
			&:hover {
				background-color: #ffa667;
			}
			.map-nav__item-name {
				color: white;
			}
			.map-nav__item-count {
				color: white;
			}

			.icon {
				&.icon-attractions {
					.svg-icon-param(icon-attractions, 20px, 20px, '[fill]: #ffffff');
				}
				&.icon-business {
					.svg-icon-param(icon-business, 20px, 20px, '[fill]: #ffffff');
				}
				&.icon-park {
					.svg-icon-param(icon-park, 20px, 20px, '[fill]: #ffffff');
				}
				&.icon-school {
					.svg-icon-param(icon-school, 20px, 20px, '[fill]: #ffffff');
				}
				&.icon-children-garden {
					.svg-icon-param(icon-children-garden, 20px, 20px, '[fill]: #ffffff');
				}
				&.icon-shopping {
					.svg-icon-param(icon-shopping, 20px, 20px, '[fill]: #ffffff');
				}
				&.icon-high-school {
					.svg-icon-param(icon-high-school, 17px, 20px, '[fill]: #ffffff');
				}
				&.icon-bank {
					.svg-icon-param(icon-bank, 20px, 20px, '[fill]: #ffffff');
				}
				&.icon-medical {
					.svg-icon-param(icon-medical, 20px, 18px, '[fill]: #ffffff');
				}
				&.icon-pharmacy {
					.svg-icon-param(icon-pharmacy, 20px, 20px, '[fill]: #ffffff');
				}
				&.icon-supermarket {
					.svg-icon-param(icon-supermarket, 20px, 20px, '[fill]: #ffffff');
				}
			}
		}
	}
	&__item-description {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 10px;
		transition: background-color .3s ease;
		cursor: pointer;
		user-select: none;
		&:hover {
			background-color: rgba(255,128,38,.3);
		}
	}
	&__icon-wrap {
	}
	&__item-name {
		display: none;
	}
	&__item-count {
		display: none;
	}

	.icon {
		display: block;
		transition: background .3s ease;
		&.icon-attractions {
			.svg-icon(icon-attractions, 20px, 20px);
		}
		&.icon-business {
			.svg-icon(icon-business, 20px, 20px);
		}
		&.icon-park {
			.svg-icon(icon-park, 20px, 20px);
		}
		&.icon-school {
			.svg-icon(icon-school, 20px, 20px);
		}
		&.icon-children-garden {
			.svg-icon(icon-children-garden, 20px, 20px);
		}
		&.icon-shopping {
			.svg-icon(icon-shopping, 20px, 20px);
		}
		&.icon-high-school {
			.svg-icon(icon-high-school, 17px, 20px);
		}
		&.icon-bank {
			.svg-icon(icon-bank, 20px, 20px);
		}
		&.icon-medical {
			.svg-icon(icon-medical, 20px, 18px);
		}
		&.icon-pharmacy {
			.svg-icon(icon-pharmacy, 20px, 20px);
		}
		&.icon-supermarket {
			.svg-icon(icon-supermarket, 20px, 20px);
		}
	}
}

@media screen and (min-width: 1024px) {
	.map-nav {

		&__item-description {
			padding: 10px 30px 10px 20px;
		}
		&__icon-wrap {
			margin-right: 13px;
		}
		&__item-name {
			display: block;
			color: #495057;
			font-size: 16px;
			.regular();
			line-height: 1.2;
			flex-grow: 20;
			transition: color .3s ease;
		}
		&__item-count {
			display: block;
			color: #495057;
			transition: color .3s ease;
			font-size: 16px;
			.regular();
			line-height: 1.2;
		}
	}
}