.map-block {
	margin-bottom: 58px;
	position: relative;

	&__top {
		padding: 20px;
	}
	&__map-wrap {
		min-height: 500px;
		position: relative;
	}
	&__map {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&__map-itself {
		height: 100%;
		width: 100%;
	}

	&__map-itself {
		height: 100%;
		width: 100%;
	}

	&__info-wrap {
		position: absolute;
		top: 138px;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
	}
	&__info {
		top: 20px;
		left: 20px;
		position: absolute;
		background: white;
		z-index: 5;
		pointer-events: all;
	}
	&__breadcrumbs {
		padding-top: 0;
		margin-bottom: 26px;
		.map-block__info & {
			display: none;
		}
	}
	&__title {
		margin-bottom: 20px;
		.map-block__info & {
			display: none;
		}
	}
	&__right-menu {
		position: absolute;
		right: 60px;
		bottom: 20px;
		pointer-events: all;
	}
}

@media screen and (min-width: 1024px) {
	.map-block {
		min-height: 811px;
		height: auto;
		margin-top: -100px;
		padding-top: 138px;

		&__top {
			display: none;
		}
		&__map-wrap {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			height: 100%;
		}
		&__info {
			width: 450px;
			//top: 138px;
			left: 40px;
			top: auto;
			box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
			background: white;
			padding: 40px 20px;
		}
		&__breadcrumbs {
			.map-block__info & {
				display: block;
			}
		}
		&__title {
			.map-block__info & {
				display: block;
			}
		}
		&__right-menu {
			bottom: 40px;
		}
	}
}