.map-marker {
	overflow: hidden;
	z-index: 4;
	&_resident {
		z-index: 6;
		overflow: visible;
	}
	&_hover {
		overflow: visible;
		z-index: 5;
		.map-marker__tooltip {
			opacity: 1;
			display: inline-flex;
		}
	}
	&__title {
		width: 200px;
		color: #495057;
		.bold();
		font-size: 16px;
		line-height: 1.02;
		text-align: center;
		position: absolute;
		top: calc(~"100% + 10px");
		left: 50%;
		margin-left: -100px;
		white-space: nowrap;
	}
	&__tooltip {
		position: absolute;
		bottom: 100%;
		left: 1.5rem;
		display: none;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		min-width: 11.25rem;
		max-width: 20rem;
		padding: 1.125rem;
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.09);
		background-color: #fff;
		transform: translate(-50%, 0);
		opacity: 0;
		animation-duration: 0.6s;
		animation-fill-mode: both;
		animation-name: fadeIn;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			bottom: -1.5rem;
			border: 0.75rem solid transparent;
			border-top: 0.75rem solid #fff;
			transform: translate(-50%, 0);
		}
	}
	&__name {
		color: #495057;
		.medium();
		font-size: 16px;
		width: 100%;
		overflow: hidden;
		margin-bottom: 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	&__descr {
		color: #999999;
		.regular();
		font-size: 14px;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}