.right-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	&__link {
		text-decoration: none;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		color: #ff8026;
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover {
			text-decoration: underline;

			.icon {
				&.icon-building {
					.svg-icon-param("icon-building", 34px, 34px, "[fill]: #FF8026");
				}
				&.icon-book {
					.svg-icon-param("icon-book", 34px, 34px, "[fill]: #FF8026");
				}
			}
		}
	}
	&__icon-wrap {
		flex-shrink: 0;
		margin-right: 10px;
	}
	&__name {
		.medium();
		font-size: 14px;
		line-height: 1.2;
		letter-spacing: 0.35px;
	}

	.icon {
		display: block;
		transition: background .3s ease;
		&.icon-building {
			.svg-icon("icon-building", 34px, 34px);
		}
		&.icon-book {
			.svg-icon("icon-book", 34px, 34px);
		}
	}
}

@media screen and (min-width: 500px) {
	.right-menu {
		flex-direction: row;
		&__link {
			margin-right: 20px;
			margin-bottom: 0;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				.icon {
					&.icon-building {
						.svg-icon-param("icon-building", 38px, 38px, "[fill]: #FF8026");
					}
					&.icon-book {
						.svg-icon-param("icon-book", 38px, 38px, "[fill]: #FF8026");
					}
				}
			}
		}
		.icon {
			&.icon-building {
				.svg-icon("icon-building", 38px, 38px);
			}
			&.icon-book {
				.svg-icon("icon-book", 38px, 38px);
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.right-menu {
		&__link {
			margin-right: 40px;
			&:hover {
				.icon {
					&.icon-building {
						.svg-icon-param("icon-building", 42px, 42px, "[fill]: #FF8026");
					}
					&.icon-book {
						.svg-icon-param("icon-book", 42px, 42px, "[fill]: #FF8026");
					}
				}
			}
		}
		.icon {
			&.icon-building {
				.svg-icon("icon-building", 42px, 42px);
			}
			&.icon-book {
				.svg-icon("icon-book", 42px, 42px);
			}
		}
	}
}