.accordion {

	&__item {


	}
	&__item-title-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #ededed;
		text-decoration: none;
		padding-bottom: 14px;
		padding-top: 39px;
		padding-right: 20px;
		transition: border-color .3s ease;
		&:hover {
			border-bottom-color: @orange-color;
			.accordion__item-icon {
				.svg-icon-param(icon_accordion_arrow, 12px, 8px, "[fill]: #f07f3c");
				.contacts & {
					.svg-icon-param(icon_accordion_arrow, 9px, 6px, "[fill]: #f07f3c");
				}
			}
		}
	}
	&__item-title {
		color: @grey-color;
		letter-spacing: 0.6px;
		line-height: 1;
		.bold();
		font-size: 18px;
		width: calc(~"100% - 30px");
	}
	&__item-icon {
		.svg-icon(icon_accordion_arrow, 12px, 8px);
		.std-transition();
		.accordion__item-title-wrap_open & {
			transform: rotate(180deg);
		}
	}
	&__item-content {
		//display: none;
	}
	&__item-content-inner {
		padding: 31px 0 20px;
	}
}

@media screen and (min-width: 700px) {
	.accordion {

		&__item-title {
			font-size: 24px;
		}
	}
}