.breadcrumbs {
	padding-top: 57px;
	margin-bottom: 22px;

	&__container {

	}
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		> a[href*="#"]:hover {
			color: @orange-color;
		}
	}
	&__item {
		color: #495057;
		font-size: 14px;
		.light();
		text-decoration: none;
		position: relative;
		margin-right: 13px;
		transition: color .3s ease;
		&:after {
			content: '/';
			color: #495057;
			font-size: 14px;
			.light();
			position: absolute;
			top: 0;
			right: -10px;
		}
		&:last-child {
			margin-right: 0;
			color: #999999;
			cursor: default;
			&:after {
				display: none;
			}
		}
	}
}