.call-time {
	padding-top: 15px;
	&__title {
		text-align: center;
		color: #495057;
		.regular();
		font-size: 18px;
		line-height: 1.11;
		margin-bottom: 16px;
	}
	&__select-day {
		text-align: center;
		margin-bottom: 7px;
	}
	&__select-time {
		margin-bottom: 30px;
	}
}