.call-menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;

	.icon {
		display: block;
		transition: background .3s ease;
		&.icon-call-phone {
			.svg-icon-param("icon-call-phone", 42px, 42px, "[fill]: #495057");
			&:hover {
				.svg-icon-param("icon-call-phone", 42px, 42px, "[fill]: #FF8026");
			}
		}
		&.icon-call-msg {
			.svg-icon-param("icon-call-msg", 42px, 42px, "[fill]: #495057");
			&:hover {
				.svg-icon-param("icon-call-msg", 42px, 42px, "[fill]: #FF8026");
			}
		}
		&.icon-call-phone-bubble {
			.svg-icon-param("icon-call-phone-bubble", 42px, 42px, "[fill]: #495057");
			&:hover {
				.svg-icon-param("icon-call-phone-bubble", 42px, 42px, "[fill]: #FF8026");
			}
		}
		&.icon-call-phone-talk {
			.svg-icon-param("icon-call-phone-talk", 42px, 42px, "[fill]: #495057");
			&:hover {
				.svg-icon-param("icon-call-phone-talk", 42px, 42px, "[fill]: #FF8026");
			}
		}
		&.icon-call-chat {
			.svg-icon-param("icon-call-chat", 42px, 42px, "[fill]: #495057");
			&:hover {
				.svg-icon-param("icon-call-chat", 42px, 42px, "[fill]: #FF8026");
			}
		}
	}

	&_gray {
		.icon {
			&.icon-call-phone {
				.svg-icon-param("icon-call-phone", 42px, 42px, "[fill]: #a4a6a8");
				&:hover {
					.svg-icon-param("icon-call-phone", 42px, 42px, "[fill]: #ffffff");
				}
			}
			&.icon-call-msg {
				.svg-icon-param("icon-call-msg", 42px, 42px, "[fill]: #a4a6a8");
				&:hover {
					.svg-icon-param("icon-call-msg", 42px, 42px, "[fill]: #ffffff");
				}
			}
			&.icon-call-phone-bubble {
				.svg-icon-param("icon-call-phone-bubble", 42px, 42px, "[fill]: #a4a6a8");
				&:hover {
					.svg-icon-param("icon-call-phone-bubble", 42px, 42px, "[fill]: #ffffff");
				}
			}
			&.icon-call-phone-talk {
				.svg-icon-param("icon-call-phone-talk", 42px, 42px, "[fill]: #a4a6a8");
				&:hover {
					.svg-icon-param("icon-call-phone-talk", 42px, 42px, "[fill]: #ffffff");
				}
			}
			&.icon-call-chat {
				.svg-icon-param("icon-call-chat", 42px, 42px, "[fill]: #a4a6a8");
				&:hover {
					.svg-icon-param("icon-call-chat", 42px, 42px, "[fill]: #ffffff");
				}
			}
		}
	}
	&__item {
		margin: 8px;
	}
	&__link {
		text-decoration: none;
	}
}

@media screen and (min-width: 500px) {
	.call-menu {
		&_gray {
			justify-content: flex-end;
		}
	}
}

@media screen and (min-width: 600px) {
	.call-menu {
		justify-content: flex-start;
		&_gray {
			justify-content: flex-end;
		}
	}
}

@media screen and (min-width: 1024px) {
	.call-menu {
		justify-content: center;
		&_gray {
			justify-content: flex-end;
		}
	}
}