.footer {

	&__top {
		background: @grey-color;
		padding: 30px 0 26px 0;
	}
	&__top-container {

	}
	&__main {

	}
	&__logo {
		width: 290px;
		margin-bottom: 20px;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: -700px;
			left: calc(~"100% - 2px");
			height: 2px;
			background: white;
		}
	}
	&__logo-img {
		width: 100%;
	}
	&__menu {}
	&__menu-inner-wrap {
		display: none;
	}

	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;
	}
	&__video-links {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}
	&__video {
		width: 42px;
		height: 42px;
		border: 2px solid white;
		border-radius: 50%;
		margin-right: 15px;
		text-decoration: none;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		.bold();
		color: white;
	}
	&__panorama {
		width: 42px;
		height: 42px;
		border: 2px solid white;
		border-radius: 50%;
		text-decoration: none;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			.svg-icon(icon_video_triangle, 10px, 14px);
			margin-top: -7px;
			margin-left: -5px;
		}
	}

	&__contacts {
		text-align: center;
	}
	&__phone-wrap {
		margin-bottom: 10px;
	}
	&__phone {
		color: @orange-color-hover;
		font-size: 18px;
		.medium();
		text-decoration: none;
	}
	&__mail-wrap {}
	&__mail {
		font-size: 16px;
		.medium();
		color: white;
		text-decoration: none;
	}

	&__bottom {
		background: @orange-color-hover;
		padding: 20px 0;
	}
	&__bottom-container {
		padding-bottom: 15px;
		&_text-wrap {
			padding-top: 15px;
			padding-bottom: 0;
			border-top: 1px solid #f39963;
		}
	}
	&__confidential-wrap {
		margin-bottom: 21px;
		text-align: center;
	}
	&__confidential {
		font-size: 15px;
		color: white;
		.regular();
		letter-spacing: 0.38px;
		text-decoration: none;

	}
	&__company-name {
		font-size: 15px;
		color: white;
		.regular();
		letter-spacing: 0.38px;
		text-align: center;
		margin-bottom: 21px;
	}
	&__development {
		font-size: 15px;
		color: white;
		.regular();
		letter-spacing: 0.38px;
		text-align: center;
		margin-bottom: 6px;
	}
	&__development-link {
		font-size: 15px;
		color: white;
		.regular();
		letter-spacing: 0.38px;
		text-decoration: none;
	}
	&__bottom-text {
		max-width: 90%;
		margin: 0 auto;
		.light();
		font-size: 12px;
		line-height: 1.5;
		color: white;
		text-align: center;
	}
}

@media screen and (min-width: 500px) {
	.footer {
		&__info {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		&__video-links {
			margin-bottom: 0;
		}
		&__contacts {
			text-align: right;
		}
	}
}

@media screen and (min-width: 980px) {
	.footer {

		&__top-container {
			display: flex;
		}
		&__main {
			width: 320px;
			min-width: 320px;
		}
		&__logo {

			&:after {
				right: -30px;
			}
		}
		&__menu {
			display: block;
			width: calc(~"100% - 320px");
			padding-top: 36px;
			padding-right: 40px;
			padding-bottom: 30px;
			border-right: 2px solid white;
			border-top: 2px solid white;
			border-bottom: 2px solid white;
		}
		&__menu-inner-wrap {
			display: flex;
		}
		&__video-links {
			justify-content: center;
			width: 100%;
		}
		&__video {
			.std-transition();
			&:hover {
				border-color: @orange-color-hover;
				color: @orange-color-hover;
			}
		}
		&__panorama {
			.std-transition();
			&:hover {
				border-color: @orange-color-hover;
				color: @orange-color-hover;
				&:after {
					.std-transition();
					.svg-icon-param(icon_video_triangle, 10px, 14px, '[fill]: @{orange-color-hover}');
				}
			}

		}

		&__nav {
			display: flex;
			flex-wrap: wrap;
			width: 70%;
			min-width: 70%;
		}
		&__nav-column {
			width: calc(~"(100% - 20px) / 2");
			margin-right: 20px;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
		&__nav-item {
			margin-bottom: 10px;
		}
		&__nav-item-link {
			font-size: 15px;
			.regular();
			color: white;
			text-decoration: none;
			.std-transition();
			&:hover {
				color: @orange-color;
			}
		}
		&__contacts {
			width: 30%;
			min-width: 30%;
			.footer__info & {
				display: none;
			}
		}
		&__mail-wrap {
			margin-bottom: 28px;
		}
		&__mail {
			&:hover {
				text-decoration: underline;
			}
		}
		&__address {
			font-size: 12px;
			color: rgba(255, 255, 255, 0.5);
			.light();
			text-align: right;
		}
		&__bottom-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__confidential-wrap {
			margin-bottom: 0;
		}
		&__confidential {
			.std-transition();
			&:hover {
				color: @grey-color;
			}
		}

		&__company-name {
			margin-bottom: 0;
		}
		&__development {
			margin-bottom: 0;
		}
		&__development-link {
			.std-transition();
			&:hover {
				color: @grey-color;
			}
		}
	}
}

@media screen and (min-width: 1170px) {
	.footer {

		&__top {
			padding: 47px 0 49px 0;
		}
		&__top-container {
			padding-left: 0;
		}
		&__main {
			width: 355px;
			min-width: 355px;
		}
		&__logo {
			width: 382px;
			height: 67px;
			margin-left: -20px;
			margin-bottom: 30px;
		}
		&__logo-img {
			height: 100%;
		}
		&__menu {
			padding-bottom: 15px;
			border-top: 3px solid white;
			border-right: 3px solid white;
			border-bottom: 3px solid white;
		}

	}
}

@media screen and (min-width: 1250px) {
	.footer {
		&__nav {
			width: 75%;
			min-width: 75%;
		}
		&__nav-column {
			width: calc(~"(100% - 30px * 3) / 4");
			margin-right: 30px;
			&:nth-child(2n) {
				margin-right: 30px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&__nav-item {
			margin-bottom: 20px;
		}
		&__contacts {
			width: 25%;
			min-width: 25%;
		}
	}
}

@media screen and (min-width: 1420px) {
	.footer {

		&__nav-column {
			width: calc(~"(100% - 70px * 3) / 4");
			margin-right: 70px;
			&:nth-child(2n) {
				margin-right: 70px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}

@media print {
	.footer {
		display: none;
	}
}