.header {
	padding-top: 20px;
	position: relative;
	z-index: 20;
	border-bottom: 1px solid rgba(73, 80, 87, 0.2);
	padding-bottom: 24px;
	&_main {
		border-bottom: 0;
		padding-bottom: 0;
	}
	&.menu-open {
		background: white;
		padding-bottom: 20px;
	}

	&__container {
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			width: calc(~"(100% - 230px + 12px) + 33333px");
			top: 0;
			right: -33333px;
			height: 2px;
			background: #495057;
		}
	}
	&__top-line-wrap {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: 30px;
	}
	&__logo {
		text-decoration: none;
		margin-left: -12px;
		flex-shrink: 0;
	}
	&__logo-img {
		height: 48px;
		vertical-align: middle;
	}
	&__main {
		display: none;
	}


	&__burger {
		width: 42px;
		min-width: 42px;
		height: 42px;
		border: 2px solid #495057;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__burger-inner {
		width: 20px;
		height: 15px;
		position: relative;
	}
	&__burger-line {
		position: absolute;
		left: 0;
		right: 0;
		height: 3px;
		background: #495057;
		.std-transition();
		&:first-child {
			top: 0;
		}
		&:nth-child(2) {
			top: 6px;
		}
		&:last-child {
			top: 12px;
		}
		.header__burger_open & {
			&:first-child {
				transform: rotate(45deg);
				top: 5px;
			}
			&:nth-child(2n) {
				opacity: 0;
			}
			&:last-child {
				transform: rotate(-45deg);
				top: 5px;
			}
		}
	}
	&__contact {
		display: none;
	}
	&__address {
		display: none;
	}
}

@media screen and (min-width: 375px) {
	.header {

		&__logo-img {
			height: 54px;
		}
	}
}

@media screen and (min-width: 475px) {
	.header {
		&__container {
			&:after {
				width: calc(~"(100% - 310px + 12px) + 33333px");
				height: 3px;
			}
		}
		&__logo-img {
			height: 64px;
		}
	}
}

@media screen and (min-width: 1015px) {
	.header {
		padding-top: 34px;

		&__main {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: flex-end;
		}
		&__burger {
			display: none;
		}
	}
}

@media screen and (min-width: 1170px) {
	.header {

		&__contact {
			display: block;
		}
		&__contact-icon {
			display: block;
			width: 42px;
			height: 42px;
			min-width: 42px;
			border: 2px solid #495057;
			border-radius: 50%;
			position: relative;
			transition: border-color .3s ease;
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transition: background .3s ease;
				.svg-icon(icon_phone, 19px, 18px);
				margin-top: -9px;
				margin-left: -9px;
			}
			&:hover {
				border-color: @orange-color;
				&:after {
					.svg-icon-param(icon_phone, 19px, 18px, "[fill]: #FF8026");
				}
			}
		}
		&__contact-text-wrap {
			display: none;
		}
	}
}

@media screen and (min-width: 1360px) {
	.header {

		&__contact {
			display: flex;
			align-items: center;
		}
		&__contact-icon {
			margin-right: 19px;
		}
		&__contact-text-wrap {
			display: block;
		}
		&__contact-phone {
			color: @orange-color-hover;
			font-size: 18px;
			.medium();
			margin-bottom: 6px;
			text-decoration: none;
			a {
				color: @orange-color-hover;
				text-decoration: none;
			}
		}
		&__order-link-wrap {

		}
		&__order-link {
			color: #495057;
			font-size: 14px;
			.regular();
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

@media print {
	.header {
		display: none;
		padding: 35px 0 20px;
		&__container {
			&:after {
				width: calc(~"(100% - 407px + 12px) + 33333px");
				height: 3px;
			}
		}
		&__logo-img {
			height: 84px;
		}
		&__burger {
			display: none;
		}
		&__main {
			display: block;
		}
		&__contact {
			display: block;
			text-align: right;
		}
		&__order-link-wrap {
			display: none;
		}
		&__contact-phone {
			color: @orange-color-hover;
			font-size: 18px;
			.medium();
			margin-bottom: 6px;
			text-decoration: none;
			a {
				color: @orange-color-hover;
				text-decoration: none;
			}
		}
		&__address {
			display: block;
			font-size: 18px;
			.regular();
			margin-bottom: 10px;
		}
	}
}

