.info-box {
	font-size: 18px;
	color: #495057;
	.regular();

	p {
		color: inherit;
		font-family: inherit;
		font-weight: inherit;
		font-size: inherit;
		line-height: 1.56;
		margin-bottom: 32px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	p ~ ul,
	p ~ ol {
		margin-top: -20px;
	}
	a {
		color: @orange-color;
		font-family: inherit;
		font-weight: inherit;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}

	ul {
		margin-bottom: 34px;

		li {
			color: inherit;
			font-family: inherit;
			font-weight: inherit;
			padding-left: 20px;
			position: relative;
			margin-bottom: 11px;
			&:last-child {
				margin-bottom: 0;
			}
			&:before {
				content: '';
				position: absolute;
				top: 5px;
				left: 5px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: @orange-color;
			}
		}
	}
	ol {
		margin-bottom: 34px;
		counter-reset: list1;
		li {
			color: inherit;
			font-family: inherit;
			font-weight: inherit;
			padding-left: 5px;
			position: relative;
			margin-bottom: 11px;
			list-style-type: none;
			&:before {
				content: counter(list1) ". ";
				counter-increment: list1;
				.bold();
			}
		}
	}

	em, strong, b {
		.bold();
	}

	blockquote {
		padding: 20px 0 20px 20px;
		position: relative;
		font-style: italic;
		font-size: 20px;
		.medium();
		line-height: 1.3;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: url(../img/news_top_bg.svg) no-repeat 0 0;
			background-size: 1045px 4px;
			width: 100%;
			height: 4px;
		}
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 4px;
			height: 10px;
			background: @orange-color;
		}
	}
}

@media screen and (min-width: 768px) {
	.info-box {
		blockquote {
			font-size: 25px;
		}
	}
}