.inner-page {
	&_conditions {
		margin-bottom: 40px;
	}
	&_gallery {
		margin-bottom: 30px;
	}
	&_floor {
		margin-bottom: 30px;
	}
	&__title {
		color: #4a5158;
		.bold();
		font-size: 30px;
		line-height: 1.3;
		margin-bottom: 25px;
		&:first-letter {
			color: @orange-color;

			.inner-page_floor & {
				color: inherit;
			}
		}
	}
	&__floor-number {
		color: @orange-color;
	}
	&__content-wrap {
		max-width: 960px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 500px) {
	.inner-page {
		&__title {
			font-size: 35px;
			margin-bottom: 30px;
		}
	}
}

@media screen and (min-width: 768px) {
	.inner-page {
		&_conditions {
			margin-bottom: 60px;
		}
		&_gallery {
			margin-bottom: 50px;
		}
		&__title {
			font-size: 40px;
		}
		&_floor {
			margin-bottom: 60px;
		}
	}
}