.mobile-sub-menu {
	background-color: #f8f8f8;
	text-align: center;
	padding: 20px;
	display: none;
	&_active {
		display: block;
		animation-duration: 0.6s;
		animation-fill-mode: both;
		animation-name: fadeIn;
	}
	&__item {}
	&__link {
		font-size: 16px;
		.regular();
		letter-spacing: 0.42px;
		text-decoration: none;
		color: @grey-color;
		padding: 9px 3px;
		display: inline-block;
		position: relative;
		transition: color .3s ease;
		&:after {
			content: "";
			width: 100%;
			position: absolute;
			bottom: 4px;
			height: 2px;
			left: 0;
			background-color: transparent;
			transition: background-color .3s ease;
		}
		&:hover {
			color: @orange-color;
		}
		&_active {
			&:after {
				background-color: @orange-color;
			}
		}
	}
}