.mobile-menu {
	position: absolute;
	top: 88px;
	left: 0;
	right: 0;
	background: white;
	z-index: 1000;
	display: none;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
	&_open {
		display: flex;
	}

	&__inner-wrap {
		padding-top: 40px;
		height: calc(~"100vh - 88px");
		overflow-x: hidden;
		overflow-y: auto;
		box-sizing: border-box;
	}
	&__nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__nav-item {
		text-align: center;
	}
	&__nav-item-link {
		font-size: 18px;
		.regular();
		letter-spacing: 0.42px;
		text-decoration: none;
		color: @grey-color;
		padding: 18px 5px;
		display: inline-block;
		position: relative;
		transition: color .3s ease;
		&:after {
			content: "";
			width: 100%;
			position: absolute;
			bottom: 13px;
			height: 2px;
			left: 0;
			background-color: transparent;
			transition: background-color .3s ease;
		}
		&:hover {
			color: @orange-color;
		}
		&_active {
			&:after {
				background-color: @orange-color;
			}
		}
	}

	&__contact {
		padding-top: 58px;
		padding-bottom: 55px;
		border-bottom: 10px solid @orange-color;
	}
	&__contact-icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 42px;
		height: 42px;
		min-width: 42px;
		border: 2px solid #495057;
		border-radius: 50%;
		position: relative;
		margin-bottom: 17px;
		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			.svg-icon(icon_phone, 19px, 18px);
			margin-top: -9px;
			margin-left: -9px;
		}
	}
	&__contact-phone-wrap {
		margin-bottom: 12px;
		text-align: center;
	}
	&__contact-phone {
		color: @orange-color-hover;
		font-size: 18px;
		.medium();
		text-decoration: none;
		a {
			color: @orange-color-hover;
			text-decoration: none;
		}
	}
	&__order-link-wrap {
		text-align: center;
	}
	&__order-link {
		color: #495057;
		font-size: 14px;
		.regular();
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

@media screen and (min-width: 375px) {
	.mobile-menu {
		top: 94px;
		&__inner-wrap {
			height: calc(~"100vh - 94px");
		}
	}
}

@media screen and (min-width: 475px) {
	.mobile-menu {
		top: 104px;
		&__inner-wrap {
			height: calc(~"100vh - 104px");
		}
	}
}