.nav {
	&__list {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__item {
		margin-right: 15px;
		position: relative;
		&:hover {
			.sub-nav {
				display: block;
			}
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&__link {
		color: @grey-color;
		font-size: 14px;
		letter-spacing: 0.38px;
		.regular();
		text-decoration: none;
		.std-transition();
		&:hover {
			color: @orange-color-hover;
		}
	}
}

@media screen and (min-width: 1170px) {
	.nav {
		margin-right: 20px;
		&__item {
			margin-right: 22px;
		}
		&__link {
			font-size: 16px;
			letter-spacing: 0.38px;
		}
	}
}

@media print {
	.nav {
		display: none;
	}
}