.std-title {
	font-size: 40px;
	.bold();
	color: #4a5158;
	&:first-letter {
		color: @orange-color;
	}
	&.options__title {
		font-size: 25px;
	}
	&.map-block__title {
		font-size: 25px;
	}
	&.inf-text__title {
		font-size: 24px;
		.std-title__letter {
			margin-right: -4px;
		}
	}
	&.construction__title {
		font-size: 25px;
	}
}

@media screen and (min-width: 1024px) {
	.std-title {
		&.options__title {
			font-size: 40px;
		}
		&.map-block__title {
			font-size: 40px;
		}
		&.construction__title {
			font-size: 40px;
		}
	}
}