.sub-nav {
	display: none;
	position: absolute;
	top: 100%;
	padding-top: 5px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	&__triangle {
		width: 30px;
		height: 20px;
		overflow: hidden;
		position: relative;
		margin: 0 auto;
		&:before {
			position: absolute;
			top: 10px;
			left: 50%;
			margin-left: -10px;
			content: '';
			display: block;
			width: 20px;
			height: 20px;
			background-color: white;
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
			transform: rotate(45deg);

			.header_main & {
				background-color: rgba(255,255,255,.6);
			}
		}
	}
	&__list {
		background-color: white;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
		padding: 20px 30px 25px;
		text-align: center;
		color: rgba(255,255,255,0);

		.header_main & {
			background-color: rgba(255,255,255,.6);
		}
	}
	&__item {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__link {
		white-space: nowrap;
		color: @grey-color;
		font-size: 14px;
		letter-spacing: 0.38px;
		.regular();
		text-decoration: none;
		transition: color .3s ease;
		&:hover {
			color: @orange-color-hover;
		}
	}
}

@media screen and (min-width: 1170px) {
	.sub-nav {
		&__list {
			padding: 30px 40px 35px;
		}
		&__item {
			margin-bottom: 20px;
		}
		&__link {
			font-size: 15px;
		}
	}
}