.condition-block {
	background-color: #f8f8f8;
	position: relative;
	border-width: 0 6px 6px 0;
	border-style: solid;
	border-color: @grey-color;
	transition: border-color .3s ease, background-color .3s ease;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		bottom: -6px;
		width: 0;
		height: 0;
		border-left: 6px solid #f8f8f8;
		border-right: 6px solid transparent;
		border-bottom: 6px solid transparent;
	}
	&:after {
		content: '';
		position: absolute;
		right: -12px;
		top: 0;
		width: 0;
		height: 0;
		border-left: 6px solid #f8f8f8;
		border-right: 6px solid transparent;
		border-bottom: 6px solid transparent;
	}
	&:hover {
		border-color: @orange-color;
		background-color: #ebebeb;
	}

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	&__img-wrap {
		display: block;
		height: 100%;
		position: relative;

		width: 40%;
		margin-left: auto;
		margin-right: 0;
	}
	&__img {
		vertical-align: middle;
		position: absolute;
		right: 0;
		bottom: 0;
		max-height: 100%;
		max-width: 100%;
	}
	&__content {
		padding: 40px 20px 55px 20px;
		position: relative;
	}
	&__title {
		color: @grey-color;
		.bold();
		font-size: 20px;
		line-height: 1;
		letter-spacing: 0.6px;
		margin-bottom: 20px;
		max-width: 590px;

		.conditions-list__row_grid-2 & {
			max-width: 320px;
		}
		.conditions-list__row_grid-3 & {
			max-width: 320px;
		}
	}
	&__descr {
		color: #495057;
		.regular();
		font-size: 16px;
		line-height: 1.38;
		margin-bottom: 25px;
		max-width: 275px;

		.conditions-list__row_grid-2 & {
			max-width: 275px;
		}
		.conditions-list__row_grid-3 & {
			max-width: 275px;
		}
	}
	&__btn {
		display: inline-flex;
	}
}

@media screen and (min-width: 500px) {
	.condition-block {
		&__content {
			padding: 50px 30px;
			position: relative;
		}
		&__title {
			font-size: 24px;
		}
		&__descr {
			max-width: 450px;

			.conditions-list__row_grid-2 & {
				max-width: 200px;
			}
			.conditions-list__row_grid-3 & {
				max-width: 200px;
			}
		}
	}
}

@media screen and (min-width: 1000px) {
	.condition-block {
		&__content {
			padding: 60px 40px;
		}
		&__descr {
			max-width: 450px;

			.conditions-list__row_grid-2 & {
				max-width: 300px;
			}
			.conditions-list__row_grid-3 & {
				max-width: 300px;
			}
		}
	}
}