.conditions-list {
	&__row {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&__item {
		width: 100%;
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 768px) {
	.conditions-list {
		&__row {
			flex-direction: row;
			align-items: stretch;
			margin-bottom: 20px;
			&_grid-2 {
				.conditions-list__item {
					width: calc(~"(100% - 4px) / 2");
					margin-right: 4px;
					&:nth-child(2n) {
						margin-right: 0;
					}
				}
			}
			&_grid-3 {
				.conditions-list__item {
					width: calc(~"(100% - 4px) / 2");
					margin-right: 4px;
					&:nth-child(2n) {
						margin-right: 0;
					}
					&:nth-child(3) {
						width: 100%;
						margin-right: 0;
						margin-top: 4px;
					}
				}
			}
		}
		&__item {
			margin-bottom: 0;
		}
	}
}

@media screen and (min-width: 1150px) {
	.conditions-list {
		&__row {
			&_grid-3 {
				.conditions-list__item {
					width: calc(~"(100% - 4px * 2) / 3");
					&:nth-child(2n) {
						margin-right: 4px;
					}
					&:nth-child(3n) {
						margin-right: 0;
					}
					&:nth-child(3) {
						width: calc(~"(100% - 4px * 2) / 3");
						margin-top: 0;
					}
				}
			}
		}
	}
}