.alert-dialog {
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	max-width: 490px;
	padding: 5px;
	z-index: 500;
	box-shadow: 6px 6px 8px -3px rgba(0, 0, 0, 0.15);
	&__border {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&__border-right {
		width: 6px;
		height: 100%;
		top: 6px;
		right: 0;
		position: absolute;
		background-color: @grey-color;
		z-index: 2;
		transition: background-color .3s ease;
		&:before {
			content: '';
			position: absolute;
			right: -5px;
			top: -5px;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid @grey-color;
			border-bottom: 5px solid @grey-color;
			transition: border-color .3s ease;
		}
	}
	&__border-bottom {
		width: 100%;
		height: 5px;
		bottom: 0;
		left: 5px;
		position: absolute;
		background-color: @grey-color;
		z-index: 2;
		transition: background-color .3s ease;
		&:before {
			content: '';
			position: absolute;
			left: -5px;
			bottom: 0;
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid @grey-color;
			border-bottom: 5px solid @grey-color;
			transition: border-color .3s ease;
		}
	}
	&__inner {
		position: relative;
		background-color: white;
		padding: 15px;
		z-index: 1;
	}
	&__descr {
		color: #495057;
		.regular();
		font-size: 14px;
		line-height: 1.7;
		letter-spacing: -0.7px;
		margin-bottom: 25px;
	}
	&__link {
		color: #495057;
		.regular();
		font-size: 14px;
		text-decoration: underline;
		&:hover {
			color: @orange-color;
			text-decoration: none;
		}
	}

	.btn {
		display: inline-flex;
	}
}

@media screen and (min-width: 890px) {
	.alert-dialog {
		bottom: 40px;
		left: 40px;
		&__inner {
			padding: 30px;
		}
	}
}