.features {
	display: flex;
	flex-wrap: wrap;

	&__item {
		width: 100%;
		margin-bottom: 20px;
		text-decoration: none;
		background: #f8f8f8;
		height: 250px;
		border-right: 6px solid @grey-color;
		border-bottom: 6px solid @grey-color;
		position: relative;
		.std-transition();
		padding-left: 20px;
		padding-top: 40px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			bottom: -6px;
			width: 0;
			height: 0;
			border-left: 6px solid #f8f8f8;
			border-right: 6px solid transparent;
			border-bottom: 6px solid transparent;
			.std-transition();
		}
		&:after {
			content: '';
			position: absolute;
			right: -12px;
			top: 0;
			width: 0;
			height: 0;
			border-left: 6px solid #f8f8f8;
			border-right: 6px solid transparent;
			border-bottom: 6px solid transparent;
			.std-transition();
		}
		&:hover {
			background: #ebebeb;
			border-right: 6px solid @orange-color;
			border-bottom: 6px solid @orange-color;
			&:before {
				border-left: 6px solid #ebebeb;
			}
			&:after {
				border-left: 6px solid #ebebeb;
			}
		}
	}
	&__item-text {
		font-size: 18px;
		.regular();
		line-height: 1.33;
		letter-spacing: 0.45px;
		color: @grey-color;
		position: relative;
		z-index: 20;
		width: 50%;
	}
	&__item-bg-wrap {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
		.std-transition();
		mix-blend-mode: darken;
	}
	&__item-bg {
		display: block;
		width: 100%;
		height: 100%;
		position: relative;
	}
	&__item-bg-img {
		vertical-align: middle;
		max-width: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

@media screen and (min-width: 375px) {
	.features {
		&__item {
			padding-left: 40px;
		}
	}
}

@media screen and (min-width: 600px) {
	.features {

		&__item  {
			width: calc(~"(100% - 4px) / 2");
			margin-right: 4px;
			padding-left: 30px;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (min-width: 890px) {
	.features {

		&__item  {
			width: calc(~"(100% - 4px * 2) / 3");
			&:nth-child(2n) {
				margin-right: 4px;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

@media screen and (min-width: 1120px) {
	.features {
		margin-bottom: 60px;

		&__item  {
			padding-left: 20px;
			padding-top: 30px;
		}
	}
}

@media screen and (min-width: 1250px) {
	.features {

		&__item  {
			width: calc(~"(100% - 4px * 3) / 4");
			&:nth-child(3n) {
				margin-right: 4px;
			}
			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}


