.service-info {
	margin-bottom: 78px;

	&__container {

	}
	&__title {
		display: flex;
		padding-top: 14px;
		position: relative;
		margin-bottom: 24px;
		&:after {
			content: '';
			position: absolute;
			top: -5px;
			left: 47px;
			right: -3000px;
			height: 3px;
			background: @orange-color;
		}
	}
	&__title-part {
		color: #4a5158;
		.bold();
		font-size: 30px;
		&_strong {
			color: @orange-color;
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 1px;
				top: -18px;
				.svg-icon(icon-title-detail, 39px, 20px);
			}
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
	}
	&__text {
		color: #495057;
		.light();
		margin-bottom: 34px;
		font-size: 18px;
		line-height: 1.56;
	}

	&__fact {
		width: auto;
		min-width: 280px;
	}
	&__fact-top {
		display: flex;
		margin-bottom: 14px;
	}
	&__fact-count {
		.bold();
		color: @orange-color;
		font-size: 80px;
		line-height: 0.8;
		margin-right: 5px;
	}
	&__fact-top-wrap {
		display: flex;
		flex-direction: column;
		width: calc(~"100% - 105px - 14px");
	}
	&__fact-top-text {
		display: flex;
		margin-bottom: 6px;
		white-space: nowrap;
	}
	&__fact-top-text-line {
		color: #495057;
		&:first-child {
			font-size: 22px;
			.light();
			margin-right: 5px;
		}
		&:last-child {
			.light();
			font-size: 22px;
		}
	}
	&__fact-bottom-text {
		display: none;
		&_responsive {
			display: block;
			font-size: 25px;
			line-height: 0.66;
			.bold();
			color: #495057;
		}
	}
}

@media screen and (min-width: 355px) {
	.service-info {
		&__fact-count {
			font-size: 90px;
			margin-right: 14px;
			min-width: 105px;
		}
		&__fact-top-text-line {

			&:first-child {
				font-size: 27px;
			}
			&:last-child {
				font-size: 27px;
			}
		}
		&__fact-bottom-text {

			&_responsive {
				font-size: 30px;
			}
		}
	}
}

@media screen and (min-width: 890px) {
	.service-info {
		&__title {
			margin-bottom: 42px;
			&:after {
				top: 0;
				left: 50px;
			}
		}
		&__title-part {
			font-size: 40px;
			&_strong {
				&:after {
					left: 3px;
					top: -13px;
					.svg-icon(icon-title-detail, 45px, 25px);
				}
			}
		}
		&__content {
			flex-direction: row;
		}
		&__text {
			width: calc(~"100% - 280px - 75px");
			margin-right: 75px;
			line-height: 1.62;
			font-size: 20px;
		}

		&__fact {
			width: 280px;
			min-width: 280px;
			padding-top: 13px;
		}
		&__fact-top {
			display: flex;
			margin-bottom: 14px;
		}
		&__fact-count {
			font-size: 110px;
			line-height: 0.56;
			margin-right: 19px;
		}
		&__fact-top-text {
			flex-direction: column;
		}
		&__fact-top-text-line {
			&:first-child {
				font-size: 40px;
				.bold();
			}
			&:last-child {
				font-size: 27px;
			}
		}
		&__fact-bottom-text {
			font-size: 37px;
			line-height: 0.66;
			.bold();
			color: #495057;
			display: block;
			&_responsive {
				display: none;
			}
		}
	}
}

