.top-image-block {
	margin-top: -90px;
	position: relative;
	z-index: 10;
	padding-top: 123px;
	padding-bottom: 20px;
	margin-bottom: 68px;
	overflow: hidden;

	&__bg-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
	&__bg {
		display: block;
		height: 100%;
		width: 100%;
	}
	&__bg-picture {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	&__container {
		margin-bottom: 67px;
	}
	&__title-wrap {
		position: relative;
		z-index: 100;
	}
	&__title {
		font-size: 50px;
		margin-bottom: 18px;
		letter-spacing: 0.88px;
		line-height: 1;
		.extrabold();
		color: white;
	}
	&__sub-title {
		color: #6494b6;
		font-size: 16px;
		margin-bottom: 10px;
		line-height: 1.33;
		text-transform: uppercase;
		.bold();
	}

	&__btn-wrap {
		display: flex;
		.btn {
			width: 100%;
		}
	}

	&__features {

	}
	&__features-item {
		width: calc(~"100vw - 20px");
		text-decoration: none;
		margin-bottom: 15px;
		padding: 15px 0 15px 10px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		right: -30px;
		transition: all .5s ease-in-out;
		overflow: hidden;
		z-index: 110;
		&:hover {
			right: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		&_family {
			background: white;
		}
		&_mortgage {
			background: @orange-color-hover;
		}
		&_action {
			background: @grey-color;
		}
	}
	&__features-item-icon {
		margin-right: 10px;
		.top-image-block__features-item_family & {
			.svg-icon(icon_family, 48px, 44px);
			min-width: 48px;
		}
		.top-image-block__features-item_mortgage & {
			.svg-icon(icon_mortgage, 41px, 41px);
			min-width: 41px;
		}
		.top-image-block__features-item_action & {
			.svg-icon(icon_action, 42px, 41px);
			min-width: 42px;
		}
	}
	&__features-item-text-wrap {

	}
	&__features-item-title {
		text-transform: uppercase;
		white-space: nowrap;
		color: white;
		font-size: 14px;
		.regular();
		line-height: 1.1;
		margin-bottom: 4px;
		.top-image-block__features-item_family & {
			color: #495057;
		}
	}
	&__features-item-text {
		color: white;
		font-size: 14px;
		.regular();
		white-space: nowrap;
		line-height: 1.1;
		.top-image-block__features-item_family & {
			color: @orange-color-hover;
		}
	}
	&__features-item-bg {
		display: none;
	}
}

@media screen and (min-width: 475px) {
	.top-image-block {
		padding-bottom: 35px;

		&__btn-wrap {
			.btn {
				width: auto;
			}
		}

		&__features-item {
			width: 410px;
			padding: 18px 90px 18px 30px;
			margin-right: 0;
			margin-left: auto;
		}
		&__features-item-icon {

			.top-image-block__features-item_family & {
				margin-right: 22px;
			}
			.top-image-block__features-item_mortgage & {
				margin-right: 25px;
			}
			.top-image-block__features-item_action & {
				margin-right: 22px;
			}
		}
	}
}

@media screen and (min-width: 800px) {
	.top-image-block {
		padding-bottom: 52px;
		padding-top: 150px;

		&__title {
			font-size: 64px;
			margin-bottom: 24px;
		}
		&__sub-title {
			font-size: 18px;
			margin-bottom: 14px;
		}
		&__features-item {
			margin-bottom: 20px;
		}
	}
}

@media screen and (min-width: 1015px) {
	.top-image-block {
		margin-top: -101px;
		height: 100vh;
		min-height: 500px;
		display: flex;
		align-items: center;
		padding-top: 70px;

		&__container {
			margin-bottom: 0;
		}
		&__title-wrap {
			margin-left: 50px;
		}

		&__features {
			position: absolute;
			bottom: 52px;
			right: 0;
		}
		&__features-item-bg {
			display: block;
			position: absolute;
			right: -40px;
			top: 0;
			bottom: 0;
			transition: all .5s ease-in-out;
			opacity: 0;
			.top-image-block__features-item_family & {
				.svg-icon(icon_tib_feature_bg_family, 106px, 80px);
			}
			.top-image-block__features-item_mortgage & {
				.svg-icon(icon_tib_feature_bg_family, 106px, 80px);
			}
			.top-image-block__features-item_action & {
				.svg-icon(icon_tib_feature_bg_action, 106px, 80px);
			}
			.top-image-block__features-item:hover & {
				opacity: 1;
			}
		}
	}
}
