.v-progress {
	width: 100%;
	height: 100%;
	&__line {
		animation-name: progress;
		animation-duration: 3000ms;
		animation-timing-function: ease-out;
	}
}

@keyframes progress {
	0% {
		opacity: 0;
		stroke-dasharray: 0, 47;
	}
	0.3% {
		opacity: 1;
		stroke-dasharray: 0, 50;
	}
	100% {
		opacity: 1;
		stroke-dasharray: 47, 47;
	}
}