.video-pagination {
	@item-height: 46px;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		width: 99999px;
		left: 100%;
		height: 2px;
		top: 50%;
		margin-top: -1px;
		background: #f07f3c;
	}
	&:before {
		content: '';
		position: absolute;
		width: 99999px;
		right: 100%;
		height: 2px;
		top: 50%;
		margin-top: -1px;
		background: #f07f3c;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
	}
	&__item {
		width: 25%;
		cursor: pointer;
		height: @item-height;
	}
	&__item-inner {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		&:after {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -6px;
			top: 50%;
			margin-top: -6px;
			width: 12px;
			height: 12px;
			border: 2px solid #f07f3c;
			border-radius: 50%;
			box-sizing: border-box;
		}
		&:before {
			content: '';
			position: absolute;
			left: 50%;
			margin-left: -1px;
			top: 50%;
			margin-top: -1px;
			width: 2px;
			height: 2px;
			background: #f8f8f8;
			border-radius: 50%;
			box-sizing: border-box;
		}
	}
	&__item-line {
		position: absolute;
		background: #f07f3c;
		box-sizing: border-box;
		height: 2px;
		top: 50%;
		width: calc(~"(100% - 8px) / 2");
		margin-top: -1px;
		&_left {
			left: 0;
		}
		&_right {
			right: 0;
		}
	}
	&__item-play {
		display: none;
		position: relative;
		width: @item-height;
		height: @item-height;
		background: #fdfdfd;
		border-radius: 50%;
		padding: 6px;
		box-sizing: border-box;
		margin: 0 auto;
		z-index: 50;
		&:after {
			content: '';
			position: absolute;
			box-sizing: border-box;
			width: 10px;
			height: 13px;
			border-style: solid;
			border-width: 6.5px 0 6.5px 10px;
			border-color: transparent transparent transparent #f07f3c;
			top: 50%;
			left: 50%;
			margin-left: -2px;
			margin-top: -14px / 2;
		}
		.video-pagination__item_active & {
			display: block;
		}
	}
}

@media screen and (min-width: 768px) {
	.video-pagination {
		@item-height: 54px;
		&__item {
			height: @item-height;
		}
		&__item-play {
			width: @item-height;
			height: @item-height;
		}
	}
}

@media screen and (min-width: 1024px) {
	.video-pagination {
		@item-height: 70px;
		&__item {
			height: @item-height;
		}
		&__item-play {
			width: @item-height;
			height: @item-height;
		}
	}
}