.video-block {
	border-top: 10px solid @orange-color;
	overflow: hidden;
	position: relative;
	.aspect-ratio(1280, 676);

	&__slider {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&:after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(25, 25, 25, 0.4);
			z-index: 10;
		}
	}
	&__item {}
	&__item-content {
		width: 100%;
	}

	&__content {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		z-index: 1;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	&__container {
		height: 100%;
		display: flex;
		width: 100%;
		flex-direction: column;
	}
	&__title-wrap {
		margin-bottom: 20px;
	}
	&__title {
		font-size: 20px;
		.bold();
		color: white;

		.video-block_main-page & {
			margin-bottom: 8px;
		}
	}
	&__sub-title {
		font-size: 16px;
		.regular();
		color: white;
		line-height: 1.4;
	}
	&__pagination {
		flex-grow: 20;
		display: flex;
		flex-direction: column;
		justify-content: center;

		.video-block_main-page & {
			justify-content: flex-end;
		}
	}
}

@media screen and (min-width: 600px) {
	.video-block {
		&__title {
			font-size: 30px;

			.video-block_main-page & {
				margin-bottom: 16px;
			}
		}
		&__sub-title {
			font-size: 18px;
		}
	}
}

@media screen and (min-width: 980px) {
	.video-block {
		&__content {
			padding-top: 35px;
			padding-bottom: 35px;
		}
		&__title {
			font-size: 35px;
		}
	}
}

@media screen and (min-width: 1235px) {
	.video-block {
		border-top: 15px solid @orange-color;

		&__content {
			padding-top: 20vh;
			padding-bottom: 20vh;
		}
		&__title-wrap {
			margin-bottom: 50px;
		}
		&__title {
			font-size: 48px;
		}
	}
}